<?php
/** @var \Wyomind\ElasticsearchBrowser\Block\Adminhtml\Browse\Stores $block */
$stores = $block->getStores();
$selectedStore = $block->getSelectedStoreId();
$dataHelper = $block->getDataHelper();
?>
<label for="elasticsearchbrowser-store" style="float: left; margin-top: 5px; margin-right: 15px; font-size: 1.7rem; font-weight: 600;">Stores</label>
<select id="elasticsearchbrowser-store" onChange="document.location.href=this.value" class="admin__control-select" style="position:absolute;z-index:99">
<?php foreach ($stores as $website): ?>
    <?php if ($website['value'] != 0): ?>
        <?php foreach ($website['children'] as $group): ?>
    <optgroup label="<?php echo $website['label'] . ' > ' . $group['label'] ?>">
        <?php foreach ($group['children'] as $store): ?>
            <option <?php if ($selectedStore != null && $store['value'] == $selectedStore) echo 'selected="selected"'; ?>
                    value="<?php echo $block->getUrl('*/*', ['indice' => $dataHelper->getIndexName($store['value']), 'storeId' => $store['value']]) ?>">
                <?php echo $store['label']; ?>
            </option>
        <?php endforeach; ?>
    </optgroup>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endforeach; ?>
</select>