<?php
/**
 * Custom tab template
 */
 $product = $block->getProduct();
 if($product->getEntityId()):
 $tierselected = $block->getProductTier();
 $tierselected = (!empty($tierselected[0]))? $tierselected[0] : 0;
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">Product restock settings</h4>
    </div>
    <fieldset>
        <legend>Product restock settings</legend>
        <table class="form-list" id="table_restocksettings" cellspacing="0">
            <tbody><tr>
                <td class="label">Restocking Tier (see table below)</td>
                <td class="value">
                	<select data-form-part="product_form" class="input-text validate-number" id="restock_tier" name="restock_tier" >
                		<option value="0">None available</option>
                	</select>
                </td>
            </tr>
        </tbody></table>
    </fieldset>


	
</div>
 <div id="restockbox" class="restockamangebox" data-attr="" data-brand="" data-gender="">
		<h1>
		</h1>
		<p class="nodatabox">There are no available restock tiers available for this product currently. Please click 
			<a href="<?php echo $block->getUrl("raw/restock/manage/",array("id"=>$block->getProduct()->getAttributeSetId()));?>" target="___blank">here</a> to set it up.</p>
		<table class="restocksizestable">
		<tr>
			<th></th>
			
		</tr>
		
		</table>
		
		
	</div>
<script>
	var currentrier = <?php echo $tierselected;?>;
	jQuery(document).ready(function($){
		populateTable($);
		
	});
	
	function populateTable($){
		var attribute_set = <?php echo $block->getProduct()->getAttributeSetId();?>;
		
		<?php
		if($block->isSimple()){
			?>
			var configurableattrs = [{attribute_id : 0}];
			<?php
		}
		else{
			$configattr = $block->getAllowAttributes();
			$attrid=0;
			 foreach($configattr as $confat){
				 $attrid = ($confat->getAttributeId());
				 break;
			 }
			?>
			var configurableattrs = [{attribute_id : <?php echo $attrid ?>}];
			<?php
		}
		?>
		//console.log($("select[name='product[manufacturer]']"));
		var brand = $("select[name='product[manufacturer]']").val();
		var gender = ($("select[name='product[gender]']").val() != null)? $("select[name='product[gender]']").val()[0] : 98;
		
		var brandtxt = $("select[name='product[manufacturer]'] :selected").text();
		var gendertxt = "Mens";
		if($("select[name='product[gender]'] :selected").length > 1 || $("select[name='product[gender]'] :selected").length < 1){
			gendertxt = "Mens";
			gender = 98;
		}
		else{
			gendertxt = $("select[name='product[gender]'] :selected").first().text();
		}
		
		brand = "<?php echo  $block->getProduct()->GetData("manufacturer") ?>";
		gender = "<?php echo  $block->getProduct()->GetData("gender") ?>";
		brandtxt = "<?php echo  $block->getProduct()->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($block->getProduct()); ?>";
		gendertxt = "<?php echo  $block->getProduct()->getResource()->getAttribute('gender')->getFrontend()->getValue($block->getProduct()); ?>";
		
		$(".restocksizestable").html("");
		$(".nodatabox").hide();
		var attr = configurableattrs[0].attribute_id;
		if(attr, brand, gender){
			$.ajax({
			  type: "GET",
			  url: "<?php echo $block->getUrl("raw/restock/get");?>",
			  data: {id:attribute_set,attr:attr, brand: brand,gender:gender },
			  dataType: "json",
			  success: function(data){
			  	//console.log(data);
			  	attrs = data.attrs;
			  	data = data.data;
			  	if(data.length == 0){
			  		$("#restock_tier").html("");
			  		$("#restock_tier").append('<option value="0">None available</option>');
			  		$("#restock_tier").append('<option value="-1">Remove current selection</option>');
			  		$(".nodatabox").show();
			  		return;
			  	}
			  	$("#restock_tier").html("");
			  	$("#restock_tier").append('<option value="0">Select a tier...</option>');
			  	$("#restock_tier").append('<option value="-1">Remove current selection</option>');
			  	$.each(data, function(index, value){
			  		if(value.tier.indexOf("R_") !== -1){
						//initaltier = val.tier;
					}
			  		else{
			  			var selected = "";
			  			if(currentrier == value.id)
			  				selected = " selected";
			  			$("#restock_tier").append('<option '+selected+' value="'+value.id+'">'+value.tier+'</option>');
			  		}
			  		
			  	});
			  	currentsizes = data;
			  	sizes = JSON.parse(data[0].data).ordered;
				$(".restocksizestable").html("");
				var headers = $("<tr class=\"stockcover\">");
				headers.append("<th>Stock cover</th>");
				headers.append("<th>Tier</th>");
				console.log(attrs);
				$.each(sizes,function(index, value){
					if(value.id == 0){
						headers.append('<th>Simple Product</th>');
					}
					else{
					headers.append('<th>'+attrs[value.id].value+'</th>');
					}
				});
				$(".restocksizestable").append(headers);
				var restockh = 0;
				$.each(data, function(index, val){
					
					if(val.tier.indexOf("R_") == -1){
						initaltier = val.tier;
					}
					
					if(restockh == 0 && val.tier.indexOf("R_") !== -1){
						restockh = 1;
						headers = $("<tr class=\"crammin\">");
						headers.append("<th>Cram Minimum</th>");
						headers.append("<th>Tier</th>");
						
						$.each(sizes,function(index, value){
							if(value.id == 0){
								headers.append('<th>Simple Product</th>');
							}
							else{
							headers.append('<th>'+attrs[value.id].value+'</th>');
							}
						});
						$(".restocksizestable").append(headers);
					}
					
					var restockdata = JSON.parse(val.data);
					//console.log( restockdata);
					sizes = restockdata.ordered;
					
					var body = $("<tr>");
					body.append("<td>"+gendertxt+"</td>");
					body.append("<td>"+val.tier.replace("R_", "")+"</td>");
					var indext = index;
					$.each(sizes,function(index, value){
						body.append('<td>'+value.val+'</td>');
					});
					$(".restocksizestable").append(body);
					
					
					
					
				});
				
				//$(".restocksizestable").append(body);
				
				
				//$(".resizecreatebox").hide();
				//$(".restocksizestable").show();
			  	
			  },
			  //dataType: dataType
			 
			});
		}
		$(".nodatabox").hide();
		console.log(attribute_set, attr,brand,gender);
	}
</script>
<style>
	.nodatabox{
		display: none;
		font-weight: bold;
		font-size: 16px;
	}
	.restockamangebox td, .restockamangebox th{
		text-align:center;
	}
	.restockamangebox th{
		background-color: #e7efef;
		padding: 5px 0px;
		
		min-width: 45px;
	}
	.restockamangebox select{
		width: 300px;
	}
</style>
<?php endif; ?>