<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
 $customerSession = $objectManager->get('Magento\Customer\Model\Session');
 $customerData = $customerSession->getCustomer();
?>
<?php
$_productCollection = $block->getLoadedProductCollection();

$_productCollection->getSelect()->__toString();
//echo $_productCollection->getSelect();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_v12helper = $this->helper('Bootsgrid\Vfinance\Helper\Data');
?>
<?php if (!$_productCollection->count()) :?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div></div>
<?php else :?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product) :?>
            <li class="item product product-item">
                <div class="product-item-info" data-container="product-<?= /* @noEscape */ $viewMode ?>">

                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
					<div class="product-image-wrapper2">
<?php
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
$attributeSetRepository = $attributeSet->get($product->getAttributeSetId());
$attribute_set_name = $attributeSetRepository->getAttributeSetName();
 $freedeloffer = $product->getData("free_shipping");
$back_in = $product->getData("back_in_stock");
$preorderoffer=  $product->getData('preorder');
$offer=  $product->getData('sticker');
$current_deal=  $product->getAttributeText('current_deal');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$percentages_over = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('percentage_save_limit/percentage_save_limit/limit');
//echo $percentages_over;
//echo 'type' . $product->getTypeId();
if(!empty($product->getData("msrp_nomap"))) {
$_savePercent = 100 - round(($product->getFinalPrice() / $product->getData("msrp_nomap"))*100);
$rrp =  (float) $product->getResource()->getAttribute('msrp_nomap')->getFrontend()->getValue($product);
$price = $product->getFinalPrice();
$discount = 100 - ( $price / $rrp ) * 100;
$percentage = number_format($product->getResource()->getAttribute('percentage_saving')->getFrontend()->getValue($product));
}
else {
  $percentage =0;
}

$now = date("Y-m-d");
$newsFrom= substr($_product->getData('news_from_date'),0,10);
$newsTo=  substr($_product->getData('news_to_date'),0,10);

// new in sticker/back in stock can show on their
if ($now>=$newsFrom && $now<=$newsTo){ ?>
<div class="sticker_new"><a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/new.png');?>" alt="New Stock"/></a></div>
<?php }
else if ($back_in == "1") { ?>
  <div class="sticker_back"><a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/back-in-stock.png');?>" alt="Back In Stock"/></a></div>
<?php }

//order - current deal/free del/pre order/percentage saving
if ($current_deal != ''){ ?>
<div class="sticker_deal"><a href="<?php echo $_product->getProductUrl() ?>" class="<?=$current_deal?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/offers/'.$current_deal.'.png');?>" alt="deal <?php echo $current_deal ?>"/></a></div>
<?php }
else if ($freedeloffer == "1"){
  //echo 'sdfsdf'; ?>
  <div class="sticker_free">
<img src="<?php echo $this->getViewFileUrl('images/stickers/freedel.png');?>" width="105" height="92" alt="Free Delivery" /></div>
<?php }

else if($preorderoffer == "1"){ ?>
  <div class="sticker_free">
<img src="<?php echo $this->getViewFileUrl('images/stickers/preorder.png');?>" width="105" height="92" alt="Pre-Order" /></div>
<?php }
else if((($percentage >= $percentages_over && in_array($_product->getAttributeSetId(), array(9, 34))) OR $percentage >= $percentages_over) && $percentage <= 99){
?>
<div class="newstylesticker saveperc">
<div class="innersticker">
<span class="stickerlabel">
SAVE <?php echo $percentage ?>%
</span>
</div>
</div>
<?php }
else if($offer != 'No') {	?>
<div class="sticker_offer"><a href="<?php echo $_product->getProductUrl() ?>">
<?php
switch ($offer) {
						case 'sale': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/sale.png');?>" width="105" height="92" alt="Sale"/><?php break;
						case 'free-install': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-install.png');?>" width="105" height="92" alt="Free Install"/><?php break;
						case 'daily-deal': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/daily-deal.png');?>" width="105" height="92" alt="Daily Deal"/><?php break;
						case '10-sale': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/sale-10.png');?>" width="105" height="92" alt="&pound;10 Sale" /><?php break;
						case 'today': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/today.png');?>" width="105" height="92" alt="Today Only"/><?php break;
						case 'free-delivery': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/freedelivery.png');?>" width="105" height="92" alt="Free Delivery" /><?php break;
						case 'MMPro': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2for5-15for30.png');?>" width="105" height="92" alt="3 For &pound;5 - 15 For &pound;30" /><?php	break;
						case '2-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-5.png');?>" width="105" height="92" alt="Two For Five" /><?php break;
						case '2-for-15': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-15.png');?>" width="105" height="92" alt="Two For Fifteen" /><?php	break;
						case '2-for-25': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-25.png');?>" width="105" height="92" alt="Two For Twenty Five" /><?php	break;
						case '3-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/3-for-5.png');?>" width="105" height="92" alt="Three For Ten" /><?php break;
						case '3-for-10': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/3-for-10.png');?>" width="105" height="92" alt="Three For Ten" /><?php break;
						case '6-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/6-for-5.png');?>" width="105" height="92" alt="Six For Five" /><?php break;
						case 'free-gift': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-gift.png');?>" width="105" height="92" alt="Free Gift" /><?php	break;
						case 'new-season': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/new-season.png');?>" width="105" height="92" alt="New Season" /><?php break;
						case 'free-helemt': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-helmet.png');?>" width="105" height="92" alt="Free Helmet" /><?php break;
						case 'two-for-1': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-1.png');?>" width="105" height="92" alt="Free Helmet" /><?php break;
						case 'free-bottle': ?><!--<img src="<?php echo $this->getViewFileUrl('images/stickers/free-bottle.png');?>" width="105" height="92" alt="Free Bottle" />--><?php break;
						case 'free-tyre': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-tyre.png');?>" width="105" height="92" alt="Free Tyre" /><?php break;
						default:
						break;
					   }
					?>
					</a></div>
<?php } ?>




<a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                       class="product photo product-item-photo"
                       tabindex="-1">
                        <?= $productImage->toHtml() ?>

                    </a>
					<button type="button"
								  id="quickViewButton<?php /* @noEscape */ echo $_product->getId() ?>"
								  class="button-quickview"
								  data-mage-init='{ "Inchoo_QuickView/js/product/productlist/item/quickview": { } }'
								  data-id="<?php /* @noEscape */ echo $_product->getId() ?>"
								  data-url="<?php /* @noEscape */ echo $_product->getProductUrl() ?>">
							  <?php /* @noEscape */ echo __('Quick view') ?>
						  </button>
						  <div class="quick_view" id="quickViewContainer<?php /* @noEscape */ echo $_product->getId() ?>"></div>
					</div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
                                <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>
						<?php if($customerData && $customerData->getData("group_id") == "7") { ?><div><span class="modelnumber"><?= $_product->getData("actual_model") ?></span></div> <?php } ?>
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                        <?= $block->getProductDetailsHtml($_product) ?>


                        <?php
                          $rrp =  $_product->getData("msrp_nomap");
                          $final = $_product->getFinalPrice();
 $limit  = $final * 1.2;
                          if(($rrp >= $final) && ($product->getTypeId() != 'amgiftcard'))  { ?>
						<div class="product-msrp-savings">
						<div class="product-msrp">
							<span class="msrplabel">RRP <span class="msrpprice"><?php echo $priceHelper->currency($_product->getData("msrp_nomap"), true, false);?></span></span>
						</div>
						<?php
						if( $percentage >= $percentages_over):
						?>
						<div class="product-savings">
							<span class="savingslabel">Save <span class="savingsprice"><?php echo $priceHelper->currency($_product->getData("msrp_nomap") - $_product->getFinalPrice(), true, false);?></span></span>
						</div>
						<?php endif; ?>
						</div>
          <?php }

        else { ?>
            <div class="product-msrp-savings">
            <div class="product-msrp">
              <span class="msrplabel"> <span class="msrpprice"></span></span>
            </div>
            <div class="product-savings">
              <span class="savingslabel"><span class="savingsprice"></span></span>
            </div>
            </div>
          <?php }  ?>

            <?php

            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$v12Percent = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getV12Percent();
			$v12Pack = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getV12Pack();
			$enable = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getActive();
			$proWidget = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getProductWidget();
			$minAmount = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getMinAmount();
			$productPrice = $_product->getFinalPrice();
			$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
			$attributeSetRepository = $attributeSet->get($_product->getAttributeSetId());
			$attributeSetName = $attributeSetRepository->getAttributeSetName();
			$finace_0 = $_product->getIs0Intrest();
            if($finace_0 != 1) {
			$max = 36;
			}
			elseif($productPrice >= 2000) {
			$max = 36;
			} elseif($productPrice >= 1000) {
			$max = 24;
			}else {
			$max = 18;
			}
			//not interest free
			if($finace_0 != 1) {
				foreach ($v12Pack as $key => $value) {
				if (strpos($value, 'Free') !== false) {
					  unset($v12Pack[$key]);
			}
			if($max == 18) {
				if (strpos($value, '24 Months') !== false) {
							unset($v12Pack[$key]);
			}	if (strpos($value, '36 Months') !== false) {
				 unset($v12Pack[$key]);
			}
			}
			if($max == 24) {
				if (strpos($value, '36 Months') !== false) {
							unset($v12Pack[$key]);
			}
			}

			}
			}
			//interest free
			if($finace_0 != 0) {
			foreach ($v12Pack as $key => $value) {
					if (strpos($value, 'Classic') !== false) {
							unset($v12Pack[$key]);
			}
			if($max == 18) {
				if (strpos($value, '24 Months') !== false) {
				//	echo 'val' . $value;
							unset($v12Pack[$key]);
			}	if (strpos($value, '36 Months') !== false) {
			//	echo 'val' . $value;
							unset($v12Pack[$key]);
			}
			}
			if($max == 24) {
				if (strpos($value, '36 Months') !== false) {
							unset($v12Pack[$key]);
			}
			}
			}
			}
			if($finace_0 != 1) {
				$min = 12;
				$intrest = 15.9;
				$step = 12;
			}
			else {
			$min = 6;
			$step = 6;
			$intrest = 0;
			}
			$originalpercentage = 50;
			do{
				$percentage = $originalpercentage;
				$originalpercentage = $originalpercentage - 10;
				$deposit = ((($percentage / 100) * $productPrice));
				$calc = round($productPrice - $deposit,2);
			}
			while($productPrice < $minAmount AND $percentage > 10);


			$interestfractions = [6 => 0.166667, 12 => 0.083333, 18 => 0.055556, 24 => 0.03459];

			$interestfraction = (isset($interestfractions[$max]))?$interestfractions[$max]:0.03459;
			//var_dump($interestfraction);
			if($intrest != 0) {
			$lowprice =  number_format(round($calc * $interestfraction,2),2);
			}
			else {
				$lowprice = number_format(round($calc / $max,2),2);
			}
            ?>


           <?php

           //echo $lowprice;
            if(!empty($lowprice) &&	("Migration_StartBikes" == $attributeSetName || "Migration_CycleFrameset" == $attributeSetName || "Migration_CycleWheels" == $attributeSetName)){ ?>
                        <div class="lowest-monthly">
                            <?php //echo $_v12helper->lowMonthlyCost($_product->getFinalPrice()); ?>
                           <span>Finance From £<?php echo $lowprice; ?> P/M</span>
                        </div>
           <?php } ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $block->escapeHtmlAttr($position) : '' ?>>
                                <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                    <?php if ($_product->isSaleable()) :?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form"
                                              data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
                                              action="<?= $block->escapeUrl($postParams['action']) ?>"
                                              method="post">
                                            <input type="hidden"
                                                   name="product"
                                                   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                   value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                            </button>
                                        </form>
                                    <?php else :?>
                                        <?php if ($_product->isAvailable()) :?>
                                            <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                        <?php else :?>
                                            <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')) :?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($showDescription) :?>
                                <div class="product description product-item-description">
                                    <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                                       title="<?= /* @noEscape */ $_productNameStripped ?>"
                                       class="action more"><?= $block->escapeHtml(__('Learn More')) ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) :?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>


<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {

jQuery(".mpbrand-index-view  .page-title-wrapper").insertBefore(".brand-product-list");

jQuery('#sorter').children('option[value="sizes_size"]').remove();
jQuery('#sorter').children('option[value="percentage_saving"]').remove();
jQuery('.am-filter-items-attr_percentage_saving').parent().prev('.filter-options-title').remove();
jQuery('.am-filter-items-attr_percentage_saving').parent().remove();


//get page height and width
var width = $(window).width();
var height = $(window).height();

// mobile layout changes
if (width <= 767  ) {
  //alert('ohhhh');
  $(".sidebar").insertBefore(".page-header");
$( ".toolbar-amount" ).prepend( '<div class="filter_button">Filter Results</span>' );
$( ".toolbar-amount" ).prepend( '<div class="amend_button">Amend Results</span>' );

$( ".filter-content" ).prepend( '<div class="filter_title">Filters<span class="close_filter">X</span></div>' );
$(".filter_button").click(function() {
$('.sidebar-main').show();
});
$(".amend_button").click(function() {
$('.sidebar-main').show();
//$('.filter-content').show();

});

$(".close_filter").click(function() {
$('.sidebar-main').hide();
});

$('.am-show-button').live('click', function() {
	setTimeout(function(){
$( ".sidebar-main" ).hide("slide", {direction: "right"}, 500);
$(this).closest(".filter-options-content").hide();
$('.am-show-button').hide();
if (window.location.href.indexOf("?") > -1) {
  //alert('here');
  $('.filter_button').hide();
  $('.amend_button').show();

//window.location.reload();
}
else{
  $('.filter_button').show();
  $('.amend_button').hide();
//alert('here2');
////window.location.reload();
}

}, 500);

});

if (window.location.href.indexOf("?") > -1) {
//  alert('here');
  $('.filter_button').hide();
  $('.amend_button').show();

//window.location.reload();
}
}





});
});
</script>
