#v12cal_finance {
    overflow: hidden;
    width: 100%;
}
.v12finace_box {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    padding: 10px;
}
.v12finace_box h3{
    text-align: center;
    font-weight: 600;
}
.v12financeFrom {
    background: #00324E;
    padding: 7px 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
#v12_montly_pay1 {
    color: gold;
}
#show_v12_finance>table>tbody>tr>td {
	padding: 5px;
}
#show_not_available {
    display:none; 
    color: red;
}
.v12_error {
    display: none;
    color:red;
}
.v12deperror {
    display: none;
    color:red;
}