<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$checkoutconf = $objectManager->get('\Magento\Checkout\Model\CompositeConfigProvider');
if(strpos($_SERVER['HTTP_HOST'], "start") !== false): ?>
<script type="text/javascript">
    if(!window.checkoutConfig) window.checkoutConfig = <?php echo \Zend_Json::encode($checkoutconf->getConfig()); ?>;
</script>
<style>
#vatpopup{
	display: none;
}
.modal-popup.vatpopupmodal .modal-inner-wrap{
	height: auto;
}
.modal-popup.vatpopupmodal .modal-inner-wrap .modal-header h1{
	background: #FCC334;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.modal-popup.vatpopupmodal .modal-inner-wrap .noticelogo{
	float: right;
	display: none;
	padding-left: 25px;

	max-width: 110px;

	margin-top: -12px;
}
.modal-popup.vatpopupmodal .modal-inner-wrap .content{
	padding: 0 120px;
}
</style>

<div id="vatpopup"  data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': '<?= __('Tax Notice'); ?>',
            'trigger': '',
            'responsive': true,
            'buttons': [],
            'modalClass' : 'vatpopupmodal'
        }}">
	<div class="content">
		<img class="noticelogo" src="<?php echo $block->getLayout()->getBlock('logo')->getLogoSrc(); ?>" alt="" />
		<span class="noticetext">
      <span class="addcontent"></span>
      <script>
      require(['jquery', 'jquery/ui'], function($){
      $(document).ready(function() {
        $(".main").on("change", "select[name='country_id']", function(e){

      var eu = ["BE","EL","LT","PT","BG","ES","LU","RO","CZ","FR","HU","SI","DK","HR","MT","SK","DE","IT","NL","FI","EE","CY","AT","SE","IE","LV","PL"];
      var selected = $("select[name='country_id']").val();
if(jQuery.inArray(selected, eu) !== -1) {
  $('.addcontent').html('This order total is excluding any taxes and duties which you may become liable to pay upon delivery to your destination customs.  By placing this order you are liable to pay any taxes or duties to your local customs authorities upon delivery.');
}
else {
  $('.addcontent').html('It appears as though your shipping address is part of a different tax region. Your totals summary will be updated with the appropriate tax amounts on the next step.');
}


           });
              });
      });
      </script>



      </span>
	</div>
</div>
<script>
require([
	'jquery',
	'Magento_Checkout/js/model/cart/totals-processor/default',
    'Magento_Checkout/js/model/cart/cache',
	'Magento_Customer/js/customer-data',
    'mage/url'], function($,defaultTotal, cartCache, customerData, urlBuilder){
	if($(".cart-summary").length){
  //  alert('here1');
		$(".cart-summary").on("focus", "select[name='country_id']", function(e){

			$(this).attr("data-old", $(this).val());

		});
		$(".cart-summary").on("change", "select[name='country_id']", function(e){
			if($(this).attr("data-old") == undefined) return;
			var url = urlBuilder.build("raw_vatpopup/Check/Index");
			var objsend = { countryIdPrev : $(this).attr("data-old"), countryId : $(this).val()};
			$.ajax({
	                showLoader: false,
	                url: url,
	                data: objsend,
	                type: "GET",
	                dataType: 'json'
	            }).done(function (data) {
	                console.log(data);
	                if(data.show){
						cartCache.set('totals',null);
						defaultTotal.estimateTotals();
						var sections = ['cart'];
						setTimeout(function(){customerData.invalidate(sections);},1000);
						//customerData.reload(sections, true);
	                	$("#vatpopup").modal('openModal');
	                }

	            });

		});
	}

	if($(".customer-address-form").length){
  //alert('here2');
		$(".main").on("focus", "select[name='country_id']", function(e){

			$(this).attr("data-old", $(this).val());

		});
		$(".main").on("change", "select[name='country_id']", function(e){
			if($(this).attr("data-old") == undefined) return;
			var url = urlBuilder.build("raw_vatpopup/Check/Index");
			var objsend = { countryIdPrev : $(this).attr("data-old"), countryId : $(this).val()};
			$.ajax({
	                showLoader: false,
	                url: url,
	                data: objsend,
	                type: "GET",
	                dataType: 'json'
	            }).done(function (data) {
	                console.log(data);
	                if(data.show){
						cartCache.set('totals',null);
						defaultTotal.estimateTotals();
						var sections = ['cart'];
						setTimeout(function(){customerData.invalidate(sections);},1000);
						//customerData.reload(sections, true);
	                	$("#vatpopup").modal('openModal');
	                }

	            });

		});
	}
});
</script>
<?php endif; ?>
