<?php
$attributeSetCollection = $block->getAttributesets();
?>
<h1>Restock settings</h1>
<p>Select an attribute set to manage restock values:</p>
<table>
	<tr>
		<th>Attribute Set</th><th></th>
	</tr>
<?php
foreach ($attributeSetCollection as $id=>$attributeSet) {
  	$entityTypeId = $attributeSet->getEntityTypeId();
	if($entityTypeId != 4) continue;
 	$name = $attributeSet->getAttributeSetName();
	$id = $attributeSet->getId();
  ?>
  <tr>
  	<td><?php echo $name ?></td>
      <td><a href="<?php echo $block->getUrl("raw/restock/manage",array("id"=>$id));?>">Manage</a></td>
  </tr>
  <?php
}
?>
</table>