<?php


$model = $block->getAttributeset();

$genders = array(
"98" => "mens",
"13" => "womens",
"113" => "junior",
"1120" => "infant",
);
$attributes = $block->getAttributeCollection($model->getId());

$attributesarr = array();
$restocks = $block->getRestockEntries($model->getId());
$restocksarr = array();
foreach($restocks as $restockrow){
	if(!isset($restocksarr[$restockrow["attribute_ids"]]))
		$restocksarr[$restockrow["attribute_ids"]] = array();
	if(!isset($restocksarr[$restockrow["attribute_ids"]][$restockrow["brand_id"]]))
		$restocksarr[$restockrow["attribute_ids"]][$restockrow["brand_id"]] = array();
	if(!isset($restocksarr[$restockrow["attribute_ids"]][$restockrow["brand_id"]][$restockrow["gender_id"]]))
		$restocksarr[$restockrow["attribute_ids"]][$restockrow["brand_id"]][$restockrow["gender_id"]] = array();
	if(!isset($restocksarr[$restockrow["attribute_ids"]][$restockrow["brand_id"]][$restockrow["gender_id"]][$restockrow["tier"]]))
		$restocksarr[$restockrow["attribute_ids"]][$restockrow["brand_id"]][$restockrow["gender_id"]][$restockrow["tier"]] = array();
	
	$restocksarr[$restockrow["attribute_ids"]][$restockrow["brand_id"]][$restockrow["gender_id"]][$restockrow["tier"]] = $restockrow;
	
}
//var_dump();
?>
<div class="restockamangebox">
<h1>Restock settings - <?php echo $model->getAttributeSetName() ?></h1>
<p>Select a combinasion of attribute, brand and gender from the dropdowns below.</p>
<select id="attributeselect">
	<option value="0">Simple products</option>
<?php
foreach($attributes as $attribute){
	$attributesarr[$attribute->getId()] = $attribute->getData();
	//var_dump($attribute->getData("frontend_label"));
	?>
	<option value="<?php echo $attribute->getId();?>"><?php echo $attribute->getData("frontend_label") ?></option>
	<?php
}
$attributesarr[0] = array("frontend_label"=> "Simple product");
$attributesvalarr = array();
$attributesvalarrordered = array();
foreach($attributesarr as $id=>$attribute){
	$valuesCollection = $block->getAttributeOptions($id);

	$attributesvalarr[$id] = array();
	foreach($valuesCollection as $rowtmp){
		$attributesvalarr[$id][$rowtmp->getId()] = array("id"=> $rowtmp->getId(), "value"=>$rowtmp->getValue());
		$attributesvalarrordered[$id][] = array("id"=> $rowtmp->getId(), "value"=>$rowtmp->getValue());
	}
}
$attributesvalarr[0][] = array("id"=> 0, "value"=>"Simple product");
$attributesvalarrordered[0][] = array("id"=> 0, "value"=>"Simple product");
?>
</select><br />
<select id="brands">
	<?php
	$brandCollection = $block->getBrands();
			foreach($brandCollection as $brand){
				?>
				<option value="<?php echo $brand->getId();?>"><?php echo $brand->getValue();?></option>
				<?php
				
			}
	?>
</select><br />
<select id="genders">
	<?php
	foreach($genders as $gid=>$gname){
		?>
		<option value="<?php echo $gid;?>"><?php echo $gname;?></option>
		<?php
		
	}
	?>
</select>
<br /><button id="showrestocktable">Select</button>

<?php $attname = ""; foreach($restocksarr as $attrids => $row){
	$attr = explode(",",$attrids);
	$attname = "";
	foreach($attr as $attid){
		$attobj = $attributesarr[$attid];
		$attname.= $attobj["frontend_label"]." - ";
	}
	$attname = rtrim($attname, " - ");
	
}	
	?>
	<div id="restockbox" data-attr="" data-brand="" data-gender="">
		<h1>
		<?php echo $attname; ?>
		</h1>
		<button id="addtier">Add restock tier</button>
		<table class="restocksizestable">
		<tr>
			<th></th>
			
		</tr>
		
		</table>
		<div class="resizecreatebox" >
			<p>No data currently available. select appropriate sizes values to get started:</p>
			<p><select multiple id="resizecreateselect"></select><br />
				<button id="resizecreatebutton">Create</button>
			</p>
		</div>
		
	</div>
	<?php

?>
</div>
<script>
require(['jquery', 'jquery/ui'], function($){ 
	var initaltier = "A";
	var formKey = "<?php echo $block->getFormKey();?>";
	var genders = <?php echo json_encode($genders);?>;
	var attributevals = <?php echo json_encode($attributesvalarr);?>;
	var attributevalsordered = <?php echo json_encode($attributesvalarrordered);?>;
	var attributes = <?php echo json_encode($attributesarr);?>;
	var restock = <?php echo json_encode($restocksarr);?>;
	var currentsizes = null;
	$(document).ready(function($){
		
		$("#showrestocktable").click(function(e){
			
			e.preventDefault();
			var attr = $("#attributeselect").val();
			var brand = $("#brands").val();
			var gender = $("#genders").val();
			$("#restockbox").data("attr", attr).data("brand", brand).data("gender", gender);
            showRestockBox(attr, brand, gender);
		});
		
		$("#resizecreatebutton").click(function(e){
			initaltier = "A";
			e.preventDefault();
			var attr = $("#restockbox").data("attr");
			var brand = $("#restockbox").data("brand");
			var gender = $("#restockbox").data("gender");
			var sizes = $("#resizecreateselect").val();
			buildNewSizeTable(attr, brand, gender, sizes);
			
		});
		
		$(".restocksizestable").on("change", "input", function(e){
			
			var attr = $("#restockbox").data("attr");
			var brand = $("#restockbox").data("brand");
			var gender = $("#restockbox").data("gender");
			
			saveRow(attr, brand, gender);
			
		});
		
		$("#addtier").click(function(e){
			
			var attr = $("#restockbox").data("attr");
			var brand = $("#restockbox").data("brand");
			var gender = $("#restockbox").data("gender");
			
			addTier(attr, brand, gender);
			
		});

		function nextChar(c) {
		    return String.fromCharCode(c.charCodeAt(0) + 1);
		}
		
		function addTier(attr, brand, gender){
			sizes = currentsizes;
			initaltier = nextChar(initaltier);
			var body = $("<tr>");
			body.append("<th>"+genders[gender]+"</th>");
			body.append("<th>"+initaltier+"</th>");
			$.each(sizes,function(index, value){
				if(value.id != undefined ) value = value.id;
				body.append('<th><input name="'+attr+'-'+brand+'-'+gender+'-'+initaltier+'-'+value+'" value="0" /></th>');
			});
			body.insertBefore(".restocksizestable .crammin");
			
			var body = $("<tr>");
			body.append("<th>"+genders[gender]+"</th>");
			body.append("<th>"+initaltier+"</th>");
			$.each(sizes,function(index, value){
				if(value.id != undefined ) value = value.id;
				body.append('<th><input name="'+attr+'-'+brand+'-'+gender+'-R_'+initaltier+'-'+value+'" value="0" /></th>');
			});
			$(".restocksizestable").append(body);
		}
		
		function showRestockBox(attr, brand, gender){
			$("#restockbox").show();
			$("#restockbox").find("h1").text(attributes[attr].frontend_label);

			if(restock[attr] == undefined || restock[attr][brand] == undefined || restock[attr][brand][gender] == undefined){
                showCreateSizes(attr, brand, gender);
			}
			else{
				//alert("YIIIIIIS");
				buildExistingSizeTable(attr, brand, gender);
				
			}
		}
		
		function showCreateSizes(attr, brand, gender){
			$(".restocksizestable").hide();
			if(typeof attributevalsordered[attr] !== 'undefined') {
                $.each(attributevalsordered[attr], function (index, value) {
                    $("#resizecreateselect").append($("<option value=\"" + value.id + "\">" + value.value + "</option>"));
                });
            }
			$(".resizecreatebox").show();
		}
		
		function buildNewSizeTable(attr, brand, gender, sizes){
			//console.log(attr, brand, gender, sizes);
			currentsizes = sizes;
			console.log(attr, brand, gender);
			$(".restocksizestable").html("");
			var headers = $("<tr class=\"stockcover\">");
			headers.append("<th>Stock cover</th>");
			headers.append("<th>Tier</th>");
			$.each(sizes,function(index, value){
				if(value == 0){
					headers.append('<th>Simple Product</th>');
				}
				else{
					headers.append('<th>'+attributevals[attr][value].value+'</th>');
				}
			});
			$(".restocksizestable").append(headers);
			var body = $("<tr>");
			body.append("<td>"+genders[gender]+"</td>");
			body.append("<td>"+initaltier+"</td>");
			$.each(sizes,function(index, value){
				body.append('<td><input name="'+attr+'-'+brand+'-'+gender+'-'+initaltier+'-'+value+'" value="0" /></td>');
			});
			
			$(".restocksizestable").append(body);
			
			headers = $("<tr class=\"crammin\">");
			headers.append("<th>Cram Minimum</th>");
			headers.append("<th>Tier</th>");
			$.each(sizes,function(index, value){
				if(value == 0){
					headers.append('<th>Simple Product</th>');
				}
				else{
					headers.append('<th>'+attributevals[attr][value].value+'</th>');
				}
			});
			console.log(headers);
			$(".restocksizestable").append(headers);
			body = $("<tr>");
			body.append("<td>"+genders[gender]+"</td>");
			body.append("<td>"+initaltier+"</td>");
			$.each(sizes,function(index, value){
				body.append('<td><input name="'+attr+'-'+brand+'-'+gender+'-R_'+initaltier+'-'+value+'" value="0" /></td>');
			});
			
			$(".restocksizestable").append(body);
			
			
			$(".resizecreatebox").hide();
			$(".restocksizestable").show();
		}
		
		function buildExistingSizeTable(attr, brand, gender){
			restockval = (restock[attr][brand][gender]);
			var sizes = null;
			$.each(restockval, function(index, val){
				
				var restockdata = JSON.parse(val.data);
				console.log( restockdata);
				sizes = restockdata.ordered;
				
				
			});
			currentsizes = sizes;
			
			$(".restocksizestable").html("");
			var headers = $("<tr class=\"stockcover\">");
			headers.append("<th>Stock cover</th>");
			headers.append("<th>Tier</th>");
			$.each(sizes,function(index, value){
				console.log(value);
				if(value.id == 0){
					headers.append('<th>Simple Product</th>');
				}
				else{
				headers.append('<th>'+attributevals[attr][value.id].value+'</th>');
				}
			});
			$(".restocksizestable").append(headers);
			var restockh = 0;
			$.each(restockval, function(index, val){
				
				if(val.tier.indexOf("R_") == -1){
					initaltier = val.tier;
				}
				
				if(restockh == 0 && val.tier.indexOf("R_") !== -1){
					restockh = 1;
					headers = $("<tr class=\"crammin\">");
					headers.append("<th>Cram Minimum</th>");
					headers.append("<th>Tier</th>");
					$.each(sizes,function(index, value){
						if(value.id == 0){
							headers.append('<th>Simple Product</th>');
						}
						else{
						headers.append('<th>'+attributevals[attr][value.id].value+'</th>');
						}
					});
					$(".restocksizestable").append(headers);
				}
				
				var restockdata = JSON.parse(val.data);
				console.log( restockdata);
				sizes = restockdata.ordered;
				
				var body = $("<tr>");
				body.append("<td>"+genders[gender]+"</td>");
				body.append("<td>"+index.replace("R_", "")+"</td>");
				var indext = index;
				$.each(sizes,function(index, value){
					body.append('<td><input name="'+attr+'-'+brand+'-'+gender+'-'+indext+'-'+value.id+'" value="'+value.val+'" /></td>');
				});
				$(".restocksizestable").append(body);
				
				
				
				
			});
			
			$(".resizecreatebox").hide();
		}
		
		function saveRow(attr, brand, gender){
			var data = [];
			$(".restocksizestable input").each(function(){
				var tmp = {};
				tmp[$(this).attr("name")] = $(this).val();
				data.push(tmp);
				
			});
			
			$.ajax({
			  type: "POST",
			  url: "<?php echo $block->getUrl("raw/restock/save",array("id"=>$model->getId()));?>",
			  data: {form_key:formKey, data: data},
			  success: function(data){},
			  //dataType: dataType
			});
			//console.log(data);
		}
		
		
	});
});
</script>
<style>
	#restockbox{
		display: none;
	}
	.resizecreatebox{
		display: none;
	}
	#resizecreateselect{
		height: 300px;
	}
	.restockamangebox input{
		width :30px;
		text-align: center;
	}
	.restockamangebox td, .restockamangebox th{
		text-align:center;
	}
	.restockamangebox th{
		background-color: #e7efef;
		padding: 5px 0px;
		
		min-width: 45px;
	}
	.restockamangebox select{
		width: 300px;
	}
</style>