<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>

<?php
    $objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->get('Magento\Customer\Block\Account\AuthorizationLink');

    $baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
?>


<div class="authorization-link" data-label="<?= $block->escapeHtml(__('or')) ?>">
<span class="iconbar-img basket"><img src="<?php echo $this->getViewFileUrl('images/myaccount.png'); ?>" /></span>
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
        <?= ($block->getLabel() == "Sign In") ? "Sign In" : $block->getLabel()  ?>
    </a>
  <?php

     if($customerSession->isLoggedIn() == true) {
    //  echo 'hfgh'; ?>
    <a class="my_account" href="<?php echo $baseurl .'customer/account'; ?>">/ My Account</a>
<?php } ?>
</div>




<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {
		var width = $(window).width();
if (width <= 767) {
	$( ".linky_link" ).prependTo( '.navigationnew' );
}
});
});
</script>


<div class="linky_link">
<img src="<?php echo $this->getViewFileUrl('images/User_icon_white.png');?>"/>
<ul data-bind="scope: 'customer'" class="test test">
    <!-- ko if: customer().firstname -->
        <li><a class="mobile_link mobile_account" href="<?= $this->getUrl('customer/account'); ?>">My account</a></li>
        <li><a class="mobile_link mobile_account" href="<?= $this->getUrl('customer/account/logout'); ?>">/ Log out</a></li>
    <!-- /ko -->
    <!-- ko ifnot: customer().firstname -->
        <li><a class="mobile_link mobile_account" href="<?= $this->getUrl('customer/account/create'); ?>">Register</a></li>
        <li><a class="mobile_link mobile_account" href="<?= $this->getUrl('customer/account/login/'); ?>">/ Sign in</a></li>
    <!-- /ko -->
</ul>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
</script>
