<?php
//echo $_SERVER['HTTP_REFERER']; //Seems to cache  this link, therefor submitting wrong product url
$product = '';
//echo 'here'; exit;
if(!isset($_POST["product"]))
{
  if(isset($_SERVER['HTTP_REFERER'])) {
	 $product =   $_SERVER['HTTP_REFERER'];
}
}
else {
	$product = $_POST["product"];
}
//echo 'here2'; exit;
?>

<script>
require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($){
	function changeDay(dayOfWeek) {
		//console.log(dayOfWeek);
		if(dayOfWeek ===  5 || dayOfWeek ===  6) {
	    	$('#selectedtimesun').show();
	    	$('#selectedtime').hide();


	    }
	    else {
	    	$('#selectedtimesun').hide();
	    	$('#selectedtime').show();
	    }
	}
		var dateToday = new Date();


$(function() {
    $( "#mydiv" ).datepicker({
        numberOfMonths: 1,
        minDate: dateToday
    });
});

$('#text').change(function(){
    $('#mydiv').datepicker('setDate', $(this).val());

});
$('#mydiv').change(function(){
  $('input[type="submit"]').removeAttr('disabled');

    $('#text').attr('value',$(this).val());
    var date = $(this).datepicker('getDate');
    var dayOfWeek = date.getUTCDay();
    changeDay(dayOfWeek);
    console.log(dayOfWeek);
    console.log(date);
});


});
});
</script>

<?php if (isset($_POST['go'])) {

	//$day_number = date('N', $_POST["selecteddate"]);
	$day_number = date('w', strtotime($_POST["selecteddate"]));
		if (empty($_POST["selecteddate"])) {
			$dateerr = "<p>Date is required</p>";
		} else {
			$date = $_POST["selecteddate"];
		}
		if($day_number == 5 || $day_number == 6) {

			if (empty($_POST["selectedtimesun"])) {
			$timeerr = "<p>Time is required</p>";
			}
		 	else {
			$time = $_POST["selectedtimesun"];
			}
		}
		else {
			if (empty($_POST["selectedtime"])) {
				$timeerr = "<p>Time is required</p>";
			}
			 else {
				$time = $_POST["selectedtime"];
			}
		}
		if (empty($_POST["firstname"])) {
			$firsterr = "<p>Firstname is required</p>";
		} else {
			$firstname = $_POST["firstname"];
		}
		if (empty($_POST["lastname"])) {
			$lasterr = "<p>Lastname is required</p>";
		} else {
			$lastname = $_POST["lastname"];
		}
		if (empty($_POST["phone"])) {
			$phoneerr = "<p>Phone is required</p>";
		} else {
			$phone = $_POST["phone"];
		}
		if (empty($_POST["email"])) {
			$emailerr = "<p>Email is required</p>";
		} else {
			$email = $_POST["email"];
		}

		if(isset($date) && isset($time)  && isset($firstname) && isset($lastname) && isset($phone)  && isset($email)) {

$ukdate = date("d/m/Y", strtotime($date));
$to      = 'customerservices@startcycles.co.uk,gina@startfitness.co.uk,braddobbing@startfitness.co.uk,bikeshop@startfitness.co.uk,danielmeggison@startfitness.co.uk,jamiejohnson@startfitness.co.uk';
// $to ='ashleigh@rawtechnologies.co.uk';
$subject = 'Cycles Call Back Request';

$message = '
Date : '.$ukdate.'

Time : '.$time.'

First Name : '.$firstname.'

Last Name : '. $lastname.'

Phone : '.$phone.'

Email : '.$email.'

Product : '.$product.'
';

$headers  = 'MIME-Version: 1.0' . "\r\n";

$headers .=  'From:noreply@startfitness.co.uk' . "\r\n" .

    'X-Mailer: PHP/' . phpversion();



mail($to, $subject, $message, $headers);
 $success = '<p class="thankyou"><b>Thank you, we will get back to you in your chosen time slot</b></p>';
?>
<script>
require(['jquery', 'jquery/ui'], function($){
(function($) {
$(document).ready(function(){



$( '.callback').hide();
});
})(jQuery);
});
</script>
<?Php
		}
		}

?>
<div class="callinfo">
	<h2>Call Back Service</h2>

	<div class="callinfoleft">
		<p>If you need assistance buying a bike from Start Fitness please use the form below
to schedule a call back appointment with one of our Product Specialists.</p>

<p>Please note, this service is intended for assistance with bike purchases only.
Any questions regarding customer service issues will be redirected to our contact
team through email here.</p>

<?php if(isset($success)) {
	echo $success;
 } ?>
	</div>
	<div class="callinforight">
		<img src="<?php echo $this->getViewFileUrl('images/call.jpg') ?>" />
	</div>
</div>
<div class="callback">
	<p><b>Book An Appointment</b></p>




	<div class="errors">

				<span class="error" id="leader"><p><?php

					if (isset($dateerr)) { echo $dateerr;

					}
					if (isset($timeerr)) { echo $timeerr;

					}
					if (isset($firsterr)) { echo $firsterr;

					}
					if (isset($lasterr)) { echo $lasterr;

					}
					if (isset($phoneerr)) { echo $phoneerr;

					}
					if (isset($emailerr)) { echo $emailerr;

					}

 ?>
 </div>
<form id="reqcall" action="" method="post">

<input type="hidden" id="text"  name="selecteddate"/>
<div id="mydiv"></div>

<input type="hidden" name="product" value="<?php echo $product; ?>">

<div class="infobottom">
	<div class="selecttime">
	<label>Time*</label>
	</br>

	<select id="selectedtime" name="selectedtime" style="<?php echo (((int)date('w') === 5 || (int)date('w') === 6) ? "display:none" : "");?>">
		<option value="9 AM - 11 AM">9 AM - 11 AM</option>
		<option value="11 AM - 1 PM">11 AM - 1 PM</option>
		<option value="12 PM - 2 PM">12 PM - 2 PM</option>
		<option value="1 PM - 3 PM"> 1 PM - 3 PM</option>
			<option value="3 PM - 5PM">3 PM - 5PM</option>

	</select>

	<select id="selectedtimesun" name="selectedtimesun" style="<?php echo (((int)date('w') !== 5 && (int)date('w') !== 6) ? "display:none" : "");?>">
		<optgroup label="No Weekend Slots">


	</select>
</div>
	<label>First Name*</label></br>
<input type="text" name="firstname" value="">
</br>
	<label>Last Name*</label></br>
<input type="text" name="lastname" value="">
</br>
	<label>Phone Number*</label></br>
<input type="text" name="phone" value="">
</br>
	<label>Email*</label></br>
<input type="text" name="email" value="">
  <input type="submit"  id="submit" name="go" disabled value="Submit">
</br>
</form></div>
</div>


</div>


<style>
.callinfo h2 {
    color: #005496;
    font: bold 24px/28px HelveticaCondensed,arial;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 500px;
}

.callinfoleft {
    width: 59%;
    float: left;
}

.callinforight {
    float: right;
    width: 41%;
}

.callback {
    min-height: 450px;
    clear: both;
    padding: 20px;
    background: #f3f3f3;
}

.col-main-content .std p {
    font-size: 14px;
}

.hasDatepicker {
    float: left;
    margin-right: 20px;
    width: 308px;
}

.infobottom {
    float: left;
    margin-top: -15px;
    padding-top: 16px;
    width: 267px;
}

#submit {
  padding:10px;
    background-color: #005496;
    border: medium;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
    text-decoration: none;
    width: 100px;
}

.page-footer {
  padding-top: 1px;
}

input#submit:disabled {
    opacity: 0.5;
}

</style>
