<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="footer-container">
    <div class="footer">

    </div>
</div>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {



  alert('herefooter');


   });

   $(window).load(function(){
 //alert('here99');
     $(".amcard-image").addClass( "-active" );
   });
    });

</script>
