<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menuHtml = $block->getHtml('level-top', 'submenu', $columnsLimit)
?>

<nav class="navigationnew" data-action="navigation">
    <ul>
        <?= /* @noEscape */ $_menuHtml?>
        <?= $block->getChildHtml() ?>
    </ul>
</nav>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {



  //$( ".level1" ).click(function() {
  //  event.preventDefault();
//alert('here middle');
//$( this ).next( ".submenu" ).show();
//$(this).children( ".menulistwrap" ).show();


  //  });
  });
});

</script>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){


jQuery(document).ready(function($) {

//$( ".toolbar" ).first().addClass( "toolbar-top" );
  $(".toolbar-top").prependTo(".main");


  $('body').on('click', '.filter-options-title', function() {

//alert('test2');
$(this).next(".filter-options-content").toggle();

  });
   });
    });

</script>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {

$(".mpbrand-index-view .page-title-wrapper").insertBefore(".toolbar-top");
  });
});

</script>

<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {
  (function($) {


    $('.accordion').click(function() {
      //alert('gdfgd');
      //allPanels.slideUp();
      $(this).next('.panel2').toggle();
      $(this).toggleClass('active_panel');
    //  return false;
    });

  })(jQuery);
  });
});
</script>

<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('home_top_blocks')
->toHtml();
?>

<style>

.top_blocks_outter {
    display: block !important;
}

</style>
