<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request= $objectManager->get('\Magento\Framework\App\Request\Http');
$allocations= $objectManager->create('\Raw\Courriermanager\Model\ResourceModel\Allocations\Collection');
$id = $request->getParam('order_id');
$collection = $allocations->addFieldToFilter(
                    'order_id',
                    array('eq'=>$id)
                );

?>

<section class="admin__page-section order-view-allocation">
    <div class="admin__page-section-title">
        <span class="title">Shipping allocation history</span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-payment-method">
                        <div class="admin__page-section-item-title">
                
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
					<thead>
						<tr>
							<th>Allocation ID</th>
							<th>Status / Tracking</th>
							<th>Method picked</th>
						</tr>
					</thead>
					<tbody>
					
					<?php
					foreach($collection as $line){
						$courrier = $objectManager->create('\Raw\Courriermanager\Model\Courriers')->load($line->getCourrierId());
					?>
						<tr>
							<td><?php echo $line->getAllocationsId() ?></td>
							<td><?php echo $line->getNumber() ?></td>
							<td><?php echo $courrier->getName() ?> - <?php echo $courrier->getMethod() ?></td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
            </div>
        </div>
        
    </div>
</section>