<h1><?php //echo $this->getHelloWorldTxt(); ?></h1>
<?php

ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);


//echo 'blah';
// load attributes to filter in arra
$atts = array("gender" => null, "footwear_type" => null, "sole_type" => null, "uk_shoe_size" => null);
//print_r($atts);
/*
$attribute_set_id = 45;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$collection = $productCollection->addAttributeToSelect('*')
->addAttributeToFilter('visibility', \Magento\Catalog\Model\Product\Visibility::VISIBILITY_BOTH)
->addAttributeToFilter('status',\Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED)
->addFieldToFilter('attribute_set_id',$attribute_set_id)
->load();
//echo count($collection);
//echo 'here';
foreach ($collection as $product){
  //  echo 'Name  =  '.$product->getName().'<br>';
}*/

?>

<script>
require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {
var _products = {}; // JS Object
console.log(_products);
window.products = [];
window.step_location = "";
window.options = {"gender" : null, "footwear_type" : null, "uk_shoe_size" : null, "price" : null};
var y = true;
$.each( _products, function( index, _product ){
  var attrs = $.makeArray(_product);
  if(y== true) {
    y=false;
    console.log("test");
  console.log(attrs);
  }
  window.products.push(attrs); // Convert to jQuery Array
});


window._products = window.products;
console.log(window.products);
//alert('here5');

function checkOptions(attribute){
//alert('here');
  //if(!$(".step-loading").length) {

    $(".add_cog").append('<i class="fa fa-cog fa-spin step-loading" aria-hidden="true"></i>');

//  }

  $("#step-results-holder").slideUp();

  $("#step_view").html("");
  $("#ajaxCatalog").html("");



  $.ajax({
    url : '/shoefinder/index/index',
    method:'GET',
    dataType : 'json',
    data: window.options,
    success  : function(transport){
      $(".step-loading").remove();
      if(typeof transport != "undefined" && transport != null) {
        var products = transport.products;
        var options = Array();
        var template = transport.template;
        $("#step-count-example").html(products);
        $(".step-count").html(products);
        $("#step-results-holder").slideDown();
        $("#ajaxCatalog").html(template);
        if(parseInt(transport.redirect) == 1) {
          if(products > 1) {
          $("#step_view").html("Click <a href='"+transport.url+"'>here</a> to view more");
          setTimeout(function() {
            window.locaton = transport.url;
          }, 5000);
          } else {
            $("#step_view").html("Sorry - no products were found that matched your criteria.");
          }
        }
      }

    },

  });

}

//alert('six');

function filterCollection(attr, option) {
  if(typeof attr == "undefined" || typeof option == "undefined") return false;
  console.log(attr + " "  + option);
  var  x = 0;
  window.options[attr] = option;
  if(attr == "price") {
    setTimeout(function() {
      checkOptions(attr);
    },500);
  }

  if(attr == "gender") {
    if(option == 98) {
      $(".mens-size").show();
      $(".womens-size").hide();
    } else {
      $(".mens-size").hide();
      $(".womens-size").show();
    }
  }



  $.each( window._products, function( index, product ){

      /* if(product[attr] != option) {

        x = x+1;

        $(window._products).splice(index);

      } */



  });







  // Update

  return true;

}

//alert('seven');

$("#ash_start").on("click", function() {

  var parent = $(this).parents(".step");

  parent.hide();

  var index = parent.index();

  $(".shoestep .step").eq(index+1).show();

  $(".shoestep_list li").removeClass("active");

  $(".shoestep_list li").eq(index+1).addClass("active");

  //$("#step-count-example").html($(window._products).length);

});
//alert('eight');

$(document).on('mouseenter',".step-purpose-item img", function(){

  var option = $(this).data("option");

 $(".step-purpose-text-holder .step-purpose-text").hide();

      $(".step-purpose-text-holder").find(".step-purpose-text[data-option='" + option + "']").show();



});
//alert('nine');



$(document).on('mouseleave',".step-purpose-item img", function(){
  var option = $(this).data("option");
    $(".step-purpose-text-holder .step-purpose-text").hide();
});

$(".shoestep_list li").not(':first').not(':last').on("click", function(e) {
  var attr = $(this).data("attr");
  if(window.options[attr] != null) {
  $(".shoestep_list li").removeClass("active");
  $(this).addClass("active");
  $(".shoestep .step").hide();
  $(".shoestep").find(".step[data-attr='" + attr + "']").show();
  }
})



$(document).on("click", ".next", function(e) {
  e.preventDefault();
  var parent = $(this).parents(".step");
  var index = parent.index();
  var attr = parent.data("attr");
  var option = $(this).attr("data-option");
  if(filterCollection(attr, option)) {
    parent.hide();
    $(".shoestep .step").eq(index+1).show();
    $(".shoestep_list li").removeClass("active");
    $(".shoestep_list li").eq(index+1).addClass("active");
  } else {
  }

});

//alert('ten');

$( "#step-price-slider" ).slider({
range: true,
min: 0,
max: 200,
step: 20,
values: [ 80, 120 ],
slide: function( event, ui ) {
console.log(event, ui);
$( "#amount" ).val( "£" + ui.values[ 0 ] + " - £" + ui.values[ 1 ] );
var price = ui.values[ 0 ] + "-" + ui.values[ 1 ];
$( "#step-button-amount" ).attr("data-option", price);
}
});
$( "#amount" ).val( "£" + $( "#step-price-slider" ).slider( "values", 0 ) + " - £" + $( "#step-price-slider" ).slider( "values", 1 ) );

//alert('five');


});
});
</script>


<h2 class="hidden"><span id="step-count-example">x</span> items</h2>
<div class="shoestep">
	<div class="step-cover"></div>
	<div class="shoestep_left">
		<ul class="shoestep_list">
			<li data-attr="" style="background-color: #23304F!important;color: #fff;" class="active">Start</li>
			<li data-attr="gender" style="background-color: #F1F1F1">Gender</li>
			<li data-attr="footwear_type" style="background-color: #F1F1F1">Purpose</li>
			<li data-attr="uk_shoe_size" style="background-color: #F1F1F1">Size</li>
			<li data-attr="price" style="background-color: #F1F1F1">Budget</li>
			<li data-attr="" style="background-color: #F1F1F1">Finish</li>
		</ul>
	</div>
	<div class="shoestep_right">
		<div id="step1" class="step active"><a href="#step2"><img id="ash_start" src="<?php echo $block->getViewFileUrl('images/spikes-step1.png'); ?>" style="height: 340px; width: 983px;"></a></div>
		<div id="step2" class="step" data-attr="gender">



      <h2 id="step-results"><span>Find your</span> <br />

        perfect shoe</h2>

        <div><h3 style="font-size: 30px;font-weight: bold;text-transform: uppercase;background-color: #23304F;display: inline-block;color: #fff;padding: 30px 30px;">Choose your <span style="color: #FFC100;">gender</span></h3></div>

      <a class="next gender male" data-option="98" href="#step3?gender=male">

        Male

      </a>

      <a class="next gender female" data-option="13" href="#step3?gender=female">

        Female

      </a>

      </div>

      <div id="step3" class="step" data-attr="footwear_type">
      <h2><span>Find your</span> <br />
        perfect shoe</h2>
        <hr />
        <h3>Choose your <span>purpose</span></h3>
        <?php $purposes = array(
      				1 => array("id" => 2861, "title" => "Lightweight & Racers", "image" => "images/racers.jpg", "description" =>  "For the runner that wants to make the most of their training or race, our fine selection of racers offer a lightweight responsive ride and sublime sock-like fit."),
      				2 => array("id" => 2869, "title" => "Offroad & Trail", "image" => "images/offroad.jpg", "description" => "Looking to take the scenic route or just fancy getting muddy? Our range of trail running shoes make rural running even more exciting with different grips, protection and weights to tailor your experience."),
      				3 => array("id" => 2871, "title" => "Structured & Support", "image" => "images/structured.jpg", "description" => "Made for the runner who over-pronates (foot rolls in), this style of shoe makes running that extra bit more enjoyable as they are tailored to offer as much support to your feet as needed."),
      				4 => array("id" => 2873, "title" => "Neutral & Cushioning", "image" => "images/neutral.jpg?ver=1.0", "description" => "Designed for the neutral runner, these shoes are aimed for those looking for an abundance of cushioning and responsiveness in every step of every run."),
      			);?>
            <div class="" style="margin: 15px -5px">
              <?php foreach($purposes as $index => $purpose) { ?>
                <div class="step-purpose-item">
                  <img class="next" data-option="<?php echo $purpose["id"];?>" src="<?php echo $block->getViewFileUrl($purpose["image"]); ?>" alt="<?php echo $purpose["title"];?>"/>
                </div>
              <?php } ?>
              <div class="step-purpose-text-holder">
                <?php foreach($purposes as $index => $purpose) { ?>
                  <div class="step-purpose-text" data-option="<?php echo $purpose["id"];?>">
                    <p><?php echo $purpose["description"];?></p>
                  </div>
                <?php } ?>
              </div>
            </div>
          </div>


<div id="step5" class="step" data-attr="uk_shoe_size">
<h2 ><span>Find your</span> <br />
    perfect shoe</h2>
    <div><h3 style="font-size: 30px;font-weight: bold;text-transform: uppercase;background-color: #23304F;display: inline-block;color: #fff;padding: 30px 30px;">Choose your <span style="color: #FFC100;">size</span></h3></div>
  <?php $womens_sizes = array(
    0 => array("id" => 1968, "title" => 3 ),
    1 => array("id" => 964, "title" => 3.5 ),
    2 => array("id" => 1967, "title" => 4 ),
    3 => array("id" => 2170, "title" => 4.5 ),
    4 => array("id" => 1897, "title" => 5 ),
    5 => array("id" => 2169, "title" => 5.5 ),
    6 => array("id" => 1779, "title" => 6 ),
    7 => array("id" => 1706, "title" => 6.5 ),
    8 => array("id" => 1707, "title" => 7 ),
    9 => array("id" => 1708, "title" => 7.5 ),
    10 => array("id" => 1709, "title" => 8 ),
    11 => array("id" => 1710, "title" => 8.5 ),
    12 => array("id" => 1711, "title" => 9 ),
  ); ?>

  <?php $mens_sizes = array(
    0 => array("id" => 1779, "title" => 6 ),
    1 => array("id" => 1706, "title" => 6.5 ),
    2 => array("id" => 1707, "title" => 7 ),
    3 => array("id" => 1708, "title" => 7.5 ),
    4 => array("id" => 1709, "title" => 8 ),
    5 => array("id" => 1710, "title" => 8.5 ),
    6 => array("id" => 1711, "title" => 9 ),
    7 => array("id" => 1712, "title" => 9.5 ),
    8 => array("id" => 1713, "title" => 10 ),
    9 => array("id" => 1714, "title" => 10.5 ),
    10 => array("id" => 1715, "title" => 11 ),
    11 => array("id" => 1716, "title" => 11.5 ),
    12 => array("id" => 1717, "title" => 12 ),
    13 => array("id" => 1718, "title" => 12.5 ),
    14 => array("id" => 1719, "title" => 13 ),
  ); ?>

<div class="womens-size unisexizebox" style="margin: 0 -5px; display:none">
  <?php foreach($womens_sizes as $index => $size) { ?>
        <div class="step-size-item ">
          <div class="next step-size" data-option="<?php echo $size["id"];?>" ><?php echo $size["title"];?></div>
        </div>
  <?php } ?>
  </div>

  <div class="mens-size unisexizebox" style="margin: 0 -5px; display:none">
    <?php foreach($mens_sizes as $index => $size) { ?>
          <div class="step-size-item">
            <div class="next step-size" data-option="<?php echo $size["id"];?>" ><?php echo $size["title"];?></div>
          </div>
    <?php } ?>
  </div>
</div>

<div id="step6" class="step" data-attr="price">
<h2><span>Find your</span> <br />
				perfect shoe</h2>
				<div><h3 style="font-size: 30px;font-weight: bold;text-transform: uppercase;background-color: #23304F;display: inline-block;color: #fff;padding: 30px 30px;">Choose your <span style="color: #FFC100;">budget</span></h3></div>
				<p>

  <label for="amount">Price range:</label>
<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;width: auto;text-align: center;">
</p>

<div id="step-price-slider"></div>
<div class="next step-button" id="step-button-amount" data-option="80-120">Confirm</div>
</div>
<div id="step7" class="step">
<h2 id="step-results"><span>Find your</span> <br />
				perfect shoe</h2>
				<div><h3 class="add_cog" style="font-size: 30px;font-weight: bold;text-transform: uppercase;background-color: #23304F;display: inline-block;color: #fff;padding: 30px 30px;">Your <span style="color: #FFC100;">Results</span></h3></div>


<div id="step-results-holder">


<div>
<p class="step-text" style="text-align: center;">BASED ON THE ANSWERS YOU GAVE WE'VE FOUND
<span style="font-family:bebasneue_bold_shoe"><span class="step-count">X</span> SHOES</span> FOR YOU...
<br /><br />
<span style="color:#444" id="step_view">SCROLL DOWN to view</span>
</p>
</div>

<div class="clearfix" style="margin: 11px;"><br /></div>
</div>
<div class="step-button" onclick="location.reload();">Start Again</div>
</div>
<div class="step-border"></div>
</div>
<div class="clearfix"></div>
</div>
<div id="ajaxCatalog">




</div>


<style>
@font-face {
	src: url('../fonts/bebasneue_bold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/bebasneue_bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/bebasneue_bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: bebasneue_thin_shoe;
	src: url('../fonts/bebasneue_thin-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/bebasneue_thin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/bebasneue_thin-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/bebasneue_thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: bebasneue_regular_shoe;
	src: url('../fonts/bebasneue_regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/bebasneue_regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/bebasneue_regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.step-size-item , .step-button{cursor:pointer;}

/* Desktop */

@media screen and (min-width: 480px) {
.step {
	background: #fff;
	transition: width 0.5s ease 0.5s;
	height: 522px;
	width: 573px;
	overflow: hidden;
	float: left;
	padding: 25px;
	text-align:center;
	position:relative;
}

.sticker.freedeal img {
	bottom: 6px !important;
	height: auto !important;
	right: 12px;
	position: absolute !important;
	top: unset !important;
	width: 108px !important;
	left: unset !important;
}

.shoestep_left img {
	display:none;
}

.shoestep {
	position: relative;
}

.shoestep .step-purpose-text-holder .step-purpose-text {
	display: none;
}

.shoestep .step-purpose-text-holder .step-purpose-text {
	font-family: bebasneue_regular_shoe;
	line-height: 18px;
	margin: 5px;
	font-size: 14px;
}

.shoestep #step1 {
	display: block;
}

#amount {
	background: transparent;
}

.shoestep_list li {
    list-style: none;
    line-height: 21px;
    padding: 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-right: 15px;
    margin-bottom: 0px;
	text-align:center;
}

.shoestep_list li:hover, .shoestep_list li.active {
	background-color: #FDBC2D !important;
}

.step:not(.active) {display:none; }

.shoestep_left {
	float: left;
	display: block;
	width: 227px;
}

.shoestep_right {
	width: 1013px;
	background-repeat: no-repeat;
	background-color: #fff;
	float: left;
	display: block;
	background-position: right center;
}

.shoestep_right.spikes{
	background-image: url("/skin/frontend/enterprise/2016/images/spikes-step-background.jpg");
}

.step-border {

	/*border: 197px solid transparent;

	border-left: 60px solid #EDEDED;

	width: 1px;

	height: auto;

	float: left;*/

}



.shoestep h2, .shoestep h3 {

	/*/* font-family: bebasneue_bold_shoe; */*/

	text-transform: uppercase;

	font-size: 30px;

	line-height: 34px;

}



.shoestep .gender {

  background-image: url("<?php echo $block->getViewFileUrl('images/gender-sprite.jpg'); ?>");

	text-indent: -9999px;

	height: 150px;

	display: inline-block;

	width: 65px;

	margin: 15px;

	background-repeat: no-repeat;

}



.shoestep .gender.male:hover {

	background-position: 0px, 0;

}

.shoestep .gender.female:hover {

	background-position: -65px, 0;

}

.shoestep .gender.junior:hover {

	background-position: -258px, 0;

}



.shoestep .gender.male {

	background-position: -123px, 0

}

.shoestep .gender.female {

	background-position: -188px, 0

}

.shoestep .gender.junior {
	background-image: url("https://startfitness.co.uk/skin/frontend/enterprise/2016/images/spike-gender-sprite.jpg");
	background-position: -317px, 0

}



#ajaxCatalog dd {

	padding: 0px !important;

}



.step-purpose-item {

	width: 79px;

	height: 76px;

	display: inline-block;

	margin: 5px;

	opacity: 0.8;

	cursor: pointer;

}

.step-purpose-item:hover {

	opacity: 1;

}

.step-purpose-item img {

	max-width: 100%;

	height: auto;

}



.step-loading {

	display: inline-block;

	margin-left: 5px;

	color: #798185;

}



.step h2 {

	font-size: 63px;
	line-height: 63px;
	margin-bottom: 15px;
	font-weight: bold;

}

.step h2 span {

	font-family: roboto;

	font-size: 30px;

	letter-spacing: 1.4px;
	font-weight: bold;
	line-height: 30px;

}

.step-cover {

	background: rgba(255,255,255,0.8);

	height: 100%;

	width: 100%;

	position: absolute;

	left: 0px;

	top: 0px;

	display: none;

}



.step-button {

	background-color: #9F9F9F;

	font-family: roboto;

	padding: 13px 23px;

	text-align: center;

	display: inline-block;

	color: white;

	font-size: 30px;

	letter-spacing: 1.2px;
	text-transform:upper;
	transition: all 0.5s ease;

}

.step-button:hover {

	box-shadow: 0 1px 1px 0px #4e4e4e;

}



.step h3 {

	color: #798185;

}

.step h3 span {

	color: #444;

}



.step-size-item {
	width: 50px;
	height: 50px;
	margin: 2.5px;
	display: inline-block;
	background-color: #EDEDED;
	color: #000;
	font-size: 18px;
	padding: 5px;
	font-family: roboto;
	opacity: 0.8;
	font-weight: bold;
	line-height: 48px;

}
.step-size-item .step-size {text-align:center;}

.step-size-item:hover {

	opacity: 1;

}



.step-size-item .next {

	text-align: center;

}



#step-price-slider {

	background-color: #cccccc !important;

	margin-bottom: 25px;

	margin-top: 25px;

}

#step-price-slider .ui-slider-range {

	background-color: #23304F !important;

	top: -2px !important;

	height: 15px !important;

}

#step-price-slider .ui-slider-horizontal {

	background: #c4c4c4 !important;

	border-radius: 50px !important;

}



#step-price-slider .ui-slider-handle {

	top: -6px !important;

	border-radius: 50px !important;

	height: 20px !important;

	width: 20px !important;

}



#step-price-slider .ui-slider-handle::before {

	content: "•";

	color: #757575;

	text-align: center;

	display: block;

}

.step-text {

	color: #3d3d3d;
	font-family: revert;
	font-size: 20px;
	letter-spacing: 1.0px;
	line-height: 28px;
	text-transform: capitalize;
	width: 60%;
	margin: auto;
	padding-top: 5px;

}



}

@media screen and (max-width: 768px) {

  li.product-item-finder {
  	margin-left: 0px !important;
  }

/* Mobile */

.shoestep {

	margin-top: -32px;

}

.step-border {display:none;}



/* .shoestep .next {

	position:absolute;

height: 75px;

width: 75px;

	display:block;

	background-image:url("../images/shoe-finder/step-next.jpg");

	right:0px;

bottom:0px;

top: 150px;

background-size: cover;

opacity:0.8;

}

.shoestep #step1 .next {

		position:absolute;

	height: 75px;

width: 75px;

	display:block;

		background-image:url("../images/shoe-finder/step-start.jpg");

			right:0px;

bottom:0px;

top: 150px;

opacity:0.8;

background-size: cover;

}



.shoestep .prev {

	position:absolute;

	height: 75px;

width: 75px;

	display:block;

left:0px;

bottom:0px;

opacity:0.8;

top: 150px;

background-size: cover;

	background-image:url("../images/shoe-finder/step-prev.jpg");

}*/


.step hr {

	display:none !important;

}



.step {

	background: #fff;

	transition: width 0.5s ease 0.5s;

	height: auto;

	width: 100%;

	overflow: hidden;

	float: left;

	padding: 25px 15% 100px 15%;

	text-align: center;

	position: relative;

}



.sticker.freedeal img {

	bottom: 6px !important;

	height: auto !important;

	right: 12px;

	position: absolute !important;

	top: unset !important;

	width: 108px !important;

	left: unset !important;

}



.shoestep {

	position: relative;

}



.shoestep .step-purpose-text-holder .step-purpose-text {

	display: none;

}

.shoestep .step-purpose-text-holder .step-purpose-text {

	line-height: 18px;

	margin: 5px;

	font-size: 14px;

}



.shoestep #step1 {
width: 100% !important;
	display: block;
	text-align: center;

}



#amount {

	background: transparent;

	text-align:center;

}

.shoestep_list li {

	list-style: none;

	padding: 25px 0px;

	text-transform: uppercase;

	/* font-family: bebasneue_bold_shoe; */

	font-size: 4.5vw;

	width: 16.6666%;

	float: left;

	text-align: center;

	letter-spacing: 1px;

}



.shoestep_list li:hover, .shoestep_list li.active {

	background-color: #FDBC2D !important;

}

.step:not(.active) {display:none; }



.shoestep_left {

	float: none;

	display: block;

	width: calc(100% + 55px);

	margin-left: -40px;

}

.shoestep_right {

	width: calc(100% + 30px);

	background-repeat: no-repeat;

	background-color: #EDEDED;

	float: none;

	display: block;

	margin-left: -15px;

}



.shoestep h2, .shoestep h3 {

	/* font-family: bebasneue_bold_shoe; */

	text-transform: uppercase;

	font-size: 30px;

	line-height: 34px;

}



.shoestep .gender {

	background-image: url("https://startfitness.co.uk/skin/frontend/enterprise/2016/images/gender-sprite.jpg");

	text-indent: -9999px;

	height: 150px;

	display: inline-block;

	width: 65px;

	margin: 15px;

	background-repeat: no-repeat;

}



.shoestep .gender.male:hover, .shoestep .gender.male.active {

	background-position: 0px, 0;

}

.shoestep .gender.female:hover, .shoestep .gender.female.active {

	background-position: -65px, 0;

}



.shoestep .gender.male {

	background-position: -123px, 0

}

.shoestep .gender.female {

	background-position: -188px, 0

}



#ajaxCatalog dd {

	padding: 0px !important;

}



.step-purpose-item {

width: 86px;

height: 79px;

display: inline-block;

margin: 10px 8px;

opacity: 0.8;

cursor: pointer;

}
.step-purpose-item.hasub{
	display: block;
}
.substep-purpose-item{
	display: inline-block;
}

.step-purpose-item:hover, .step-purpose-item img.active {

	opacity: 1;

}

.step-purpose-item img.active {

	border-radius: 4px;

box-shadow: 1px 1px 1px 1px #999;

}

.step-purpose-item img {

	max-width: 100%;

	height: auto;

}



.step-loading {

	display: inline-block;

	margin-left: 5px;

	color: #798185;

}



.step h2 {

	font-size: 50px;

	line-height: 42px;

	margin-bottom: 15px;

}

.step h2 span {

	/*font-family: bebasneue_thin_shoe;*/

	font-size: 26px;

	letter-spacing: 1.4px;

	line-height: 28px;

}

.step-cover {

	background: rgba(255,255,255,0.8);

	height: 100%;

	width: 100%;

	position: absolute;

	left: 0px;

	top: 0px;

	display: none;

}



.step-button {

	background-color: #313e44;

	/* font-family: bebasneue_bold_shoe; */

	padding: 13px 23px;

	text-align: center;

	display: inline-block;

	color: white;

	font-size: 18px;

	letter-spacing: 1.2px;

	transition: all 0.5s ease;

}

.step-button:hover {

	box-shadow: 0 1px 1px 0px #4e4e4e;

}



.step h3 {

	color: #798185;

}

.step h3 span {

	color: #444;

}



.step-size-item {

	width: 36px;

	height: 30px;

	margin: 2.5px;

	display: inline-block;

	background-color: #313e44;

	color: #fff;

	font-size: 18px;

	padding: 5px;

	/* font-family: bebasneue_bold_shoe; */

	opacity: 0.8;

}

.step-size-item:hover, .step-size.active {

	opacity: 1;

}



.step-size.active {

	color:#999;

}

.step-size-item .next {

	text-align: center;

}



#step-price-slider {

	background-color: #cccccc !important;

	margin-bottom: 25px;

	margin-top: 25px;

}

#step-price-slider .ui-slider-range {

	background-color: rgb(49, 82, 93) !important;

	top: -2px !important;

	height: 15px !important;

}

#step-price-slider .ui-slider-horizontal {

	background: #c4c4c4 !important;

	border-radius: 50px !important;

}



#step-price-slider .ui-slider-handle {

	top: -6px !important;

	border-radius: 50px !important;

	height: 20px !important;

	width: 20px !important;

}



#step-price-slider .ui-slider-handle::before {

	content: "•";

	color: #AAAEB7;

	text-align: center;

	display: block;

}

	.step-text {

		color: #3d3d3d;

		font-family: bebasneue_regular_shoe;

		font-size: 20px;

		letter-spacing: 1.0px;

		line-height: 28px;

		text-transform: uppercase;

	}



	.step .fa{font-style:inherit;}

	ul.c-list {padding:0px;}

	ul.c-list li {list-style:none;}

}

.page-title-wrapper {
  display: none;
}

.hidden {
  display: none;
}
#step1 {

}

ul.shoestep_list {
    margin-left: 0px;
    padding-left: 0px;
}

.shoestep #step1 {
    display: block;
    width: 623px;
    padding: 0px;
    margin-top: 0PX;
	text-align: center;
}

img#ash_start {
    width: auto !important;
}
.substep-purpose-item-wrap {
  display: none;
}

.substep-purpose-item {
    display: block;
    vertical-align: middle;
    width: 75px;
    margin: 0 4px 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #efefef;
    height: 40px;
    float: left;
    font-weight: bold;
    font-size: 12px;
}

.substep-purpose-item-wrap {
    width: 65%;

	position: absolute;

	display: none;

	border: 10px;

	left: 0;

	right: 0;

	margin: auto;
}

.substep-purpose-item:hover {
    background-color: #313e44;
    color: #fff;
}
.unisexizebox{
	width: 61%;
	margin: auto!important;
}
</style>
