<h1>Quick price updater</h1>
<p><strong>Type in a model number:</strong></p>
<p><input name="sku" id="autocomplete"/><br /></p>
<form method="post" action="<?php echo $block->getSaveUrl();?>">
	<?php echo $this->getBlockHtml('formkey')?>
<div class="selectedprods grid">
	<table id="selectedsku" class="data-grid">
		<thead>
			<tr class="headings">
				<th class="data-grid-th"></th>
				<th class="data-grid-th">Model</th>
				<th class="data-grid-th">Name</th>
				<th class="data-grid-th">Total QTY</th>
				<th class="data-grid-th">Current price</th>
				<th class="data-grid-th">New price</th>
				<th class="data-grid-th">Difference</th>
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	<br />
	<button type="submit" value="updateprice">Save prices</button>
</div>
</form>


<script>

	require(['jquery', 'jquery/ui'], function($){ 
		//alert("test");
	$("#selectedsku").on("click", ".removerow", function(e){
		
		e.preventDefault();
		
		$(this).closest("tr").remove();
		
	});
	$("form").submit(function(e){
		
		$("input.newpricecol").each(function(){
			
			if($(this).val() == "" || !$.isNumeric($(this).val()) ){
				alert("All new prices need to be specified and be a decimal value!");
				e.preventDefault();
				return;
			}
			else if($(this).val() != "" && $.isNumeric($(this).val()) && $(this).val() <= 0){
				alert("New price needs greater than zero!");
				e.preventDefault();
				return;
			}
			
		});
		
	});
	$("#selectedsku").on("change", ".newpricecol", function(e){
		
		e.preventDefault();
		if($(this).val() != "" && !$.isNumeric($(this).val())){
			alert("New price needs to be a decimal number!");
		}
		else if($(this).val() != "" && $.isNumeric($(this).val()) && $(this).val() <= 0){
			alert("New price needs greater than zero!");
		}
	});
	$("#selectedsku").on("keyup", ".newpricecol", function(e){
		
		e.preventDefault();
		
		var newprice = $(this).val();
		var oldprice = $(this).closest("tr").find(".oldprice").text();
		
		var diff =  Math.round((newprice - oldprice) * 100) / 100;
		var color = "black";
		var type = "";
		var decreaseper = 0;
		decreaseper = (diff / oldprice * 100) ;
		decreaseper = Math.round((decreaseper * 100)) / 100;
		if(diff < 0){
			color = "red";
			type=""
			
		}
		else {color = "green"; type=""}
		
		$(this).closest("tr").find(".pricediff").html('<span style="color:'+color+'">'+diff+'</span> ('+decreaseper+'% '+type+')');
		
		
	});
    $( "#autocomplete" ).autocomplete({
      delay: 1000,
      source: "<?php echo $block->getSearchUrl();?>",
      minLength: 2,
      response: function(event,ui) {
	      if (ui.content.length == 1)
	      {
	        ui.item = ui.content[0];
	        $(this).data('ui-autocomplete')._trigger('select', 'autocompleteselect', ui);
	        $(this).autocomplete('close');
	      }
      },
      select: function( event, ui ) {
      	
      	$.ajax({
		  url: "<?php echo $block->getSearchUrl();?>",
		  data: {search:ui.item.entity_id},
		  success: function(data){
		  	
		  	if(data.length > 0){
		  		data = data[0];
		  	}
		  	else{
		  		data = ui.item;
		  	}
		  	
		  	var price = (Math.round(data.price * 100) / 100);
		  	$("#selectedsku tbody").append(""+
	        "<tr>"+
	        "<td><a class=\"removerow\" href=\"#\">[x]</a></td>"+
	        "<td>"+data.actual_model+"</td>"+
	        "<td>"+'<a href="/startfitnessadmin/catalog_product/edit/id/'+data.entity_id+'/">'+data.name+"</a></td>"+
	        "<td class=\"\">"+Math.round(data.qty)+"</td>"+
	        "<td>&pound;<span  class=\"oldprice\">"+ price.toFixed(2)+"</span></td>"+
	        "<td>&pound;<input class=\"newpricecol\" name=\"newprice["+data.sku+"]\" value=\""+price.toFixed(2)+"\" ></td>"+
	        "<td class=\"pricediff\"></td>"+
	        
	        "</tr>"+
	        "");
	        ui.item.value = "";
		  	
		  },
		  dataType: "json"
		});
        
        
      }
    });
    
  } );

</script>
<style>
	.ui-autocomplete-loading { background:url('https://www.bricoman.fr/skin/frontend/bricoman/default/images/loading.gif') no-repeat right center }
    .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
</style>