<?php
/**
 * Copyright © 2019 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
 */
/** @var \Wyomind\SimpleGoogleShopping\Block\Adminhtml\Feeds\Edit\Tab\Filters $block */
?>
<!-- Data feed's filters template -->
<div class="entry-edit form-inline">
    <fieldset id="type-ids-selector" class="fieldset ">
        <legend class="legend">
            <span><?php echo $block->escapeHtml(__('Product Type')); ?></span>
            <span class="select-all"><?php echo $block->escapeHtml(__('Select all')); ?></span>
            <span class="unselect-all"><?php echo $block->escapeHtml(__('Unselect all')); ?></span>
        </legend>
        <br>
        <div>
            <?php foreach($this->getProductTypes() as $name => $label): ?>
                <div class="node">
                    <div class="cat-box">
                        <input class="filter_product_type" type="checkbox" id="type_id_<?=$name?>" identifier="<?=$name?>"/>
                        <label for="type_id_<?=$name?>"><?php echo $block->escapeHtml(__(str_replace(' Product', '', $label))); ?></label>
                    </div>
                </div>
            <?php endforeach; ?>
            <input id="simplegoogleshopping_type_ids" name="simplegoogleshopping_type_ids" type="hidden"
                   value="<?php /* @noEscape */ echo $block->getSGSTypeIds(); ?>" class="debug input-text required" />
        </div>
    </fieldset>
    <fieldset id="attribute-sets-selector" class="fieldset ">
        <legend class="legend">
            <span><?php echo $block->escapeHtml(__('Attribute Set')); ?></span>
            <span class="select-all"><?php echo $block->escapeHtml(__('Select all')); ?></span>
            <span class="unselect-all"><?php echo $block->escapeHtml(__('Unselect all')); ?></span>
        </legend>
        <br>
        <div>
            <?php $attributeSets = $block->getAttributeSets();
            foreach ($attributeSets as $set) { ?>
                <div class="node">
                    <div class="cat-box">
                        <input type="checkbox" class="filter_attribute_set"
                               id="attribute_set_<?php /* @noEscape */ echo $set->getAttributeSetId(); ?>"
                               identifier="<?php /* @noEscape */ echo $set->getAttributeSetId(); ?>"/>
                        <label for="attribute_set_<?php /* @noEscape */ echo $set->getAttributeSetId(); ?>">
                            <?php echo $block->escapeHtml($set->getAttributeSetName()); ?>
                        </label>
                    </div>
                </div>
            <?php } ?>
            <input id="simplegoogleshopping_attribute_sets" name="simplegoogleshopping_attribute_sets" type="hidden"
                   value="<?php /* @noEscape */ echo $block->getSGSAttributeSets(); ?>" class="debug input-text required" />
        </div>
    </fieldset>
    <fieldset id="visibility-selector" class="fieldset ">
        <legend class="legend">
            <span><?php echo $block->escapeHtml(__('Product Visibility')); ?></span>
            <span class="select-all"><?php echo $block->escapeHtml(__('Select all')); ?></span>
            <span class="unselect-all"><?php echo $block->escapeHtml(__('Unselect all')); ?></span>
        </legend>
        <br>
        <div>
            <div class="node">
                <div class="cat-box">
                    <input class="filter_visibility" type="checkbox" id="visibility_1" identifier="1"/>
                    <label for="visibility_1"><?php echo $block->escapeHtml(__('Not Visible Individually')); ?></label>
                </div>
            </div>
            <div class="node">
                <div class="cat-box">
                    <input class="filter_visibility" type="checkbox" id="visibility_2" identifier="2"/>
                    <label for="visibility_2"><?php echo $block->escapeHtml(__('Catalog')); ?></label>
                </div>
            </div>
            <div class="node">
                <div class="cat-box">
                    <input class="filter_visibility" type="checkbox" id="visibility_3" identifier="3"/>
                    <label for="visibility_3"><?php echo $block->escapeHtml(__('Search')); ?></label>
                </div>
            </div>
            <div class="node">
                <div class="cat-box">
                    <input class="filter_visibility" type="checkbox" id="visibility_4" identifier="4"/>
                    <label for="visibility_4"><?php echo $block->escapeHtml(__('Catalog, Search')); ?></label>
                </div>
            </div>
            <input id="simplegoogleshopping_visibility" name="simplegoogleshopping_visibility" type="hidden"
                   value="<?php /* @noEscape */ echo $block->getSGSVisibility(); ?>" class="debug input-text required" />
        </div>
    </fieldset>
    <fieldset id="attributes-selector" class="fieldset ">
        <legend class="legend">
            <span><?php echo $block->escapeHtml(__('Advanced filters')); ?></span>
        </legend>
        <br>
        <div>
            <script>
                let attribute_codes = <?php /* @noEscape */ echo $block->getJsData(); ?>;
                attribute_codes["is_in_stock"] = [{"label": "Yes", "value": 1}, {"label": "No", "value": 0}];
                attribute_codes["qty"] = [];
                attribute_codes["entity_id"] = [];
            </script>
            <?php
            $selectOutput = $block->getSelectHtml();
            $nbFilters = $block->getNbFilters();
            ?>
            <?php for ($x = 0; $x < $nbFilters; $x++) : ?>
                <div class="node advanced_filters" id='node_<?php /* @noEscape */ echo $x; ?>'>
                    <table class='cat-box one-value'>
                        <tr>
                            <td>
                                <input class="checked-attribute" type="checkbox" id="attribute_<?php /* @noEscape */ echo $x; ?>"
                                       identifier="<?php /* @noEscape */ echo $x; ?>"/>
                            </td>
                            <?php
                            if (!$block->getFiltersSql()) {
                                $display = 'none';
                            } else {
                                $display = '';
                            }
                            ?>
                            <td>
                                <?php if ($x > 0) : ?>
                                <select style="display:<?php /* @noEscape */ echo $display; ?>;" disabled="disabled"
                                        class="statement-attribute" id='statement_attribute_<?php /* @noEscape */ echo $x; ?>'>
                                    <option value="AND">AND</option>
                                    <option value="OR">OR</option>
                                </select>
                                <?php else : ?>
                                <input type="text" id='statement_attribute_<?php /* @noEscape */ echo $x; ?>' value=''
                                       class="statement-attribute" style=" display:<?php /* @noEscape */ echo $display; ?>;"/>
                                <?php endif; ?>
                            </td>
                            <td>
                                <select style="" disabled="disabled" class="name-attribute" identifier="<?php /* @noEscape */ echo $x; ?>"
                                        id="name_attribute_<?php /* @noEscape */ echo $x; ?>" >
                                    <?php /* @noEscape */ echo $selectOutput; ?>
                                </select>
                            </td>
                            <td>
                                <select disabled="disabled" class="condition-attribute" identifier="<?php /* @noEscape */ echo $x; ?>"
                                        id="condition_attribute_<?php /* @noEscape */ echo $x; ?>">
                                    <option value="eq"><?php echo $block->escapeHtml(__('=')); ?></option>
                                    <option value="gt"><?php echo $block->escapeHtml(__('>')); ?></option>
                                    <option value="lt"><?php echo $block->escapeHtml(__('<')); ?></option>
                                    <option value="gteq"><?php echo $block->escapeHtml(__('&ge;')); ?></option>
                                    <option value="lteq"><?php echo $block->escapeHtml(__('&le;')); ?></option>
                                    <option value="neq"><?php echo $block->escapeHtml(__('&ne;')); ?></option>
                                    <option value="like"><?php echo $block->escapeHtml(__('like')); ?></option>
                                    <option value="nlike"><?php echo $block->escapeHtml(__('not like')); ?></option>
                                    <option value="null"><?php echo $block->escapeHtml(__('is null')); ?></option>
                                    <option value="notnull"><?php echo $block->escapeHtml(__('is not null')); ?></option>
                                    <option value="in"><?php echo $block->escapeHtml(__('in')); ?></option>
                                    <option value="nin"><?php echo $block->escapeHtml(__('not in')); ?></option>
                                </select>
                            </td>
                            <td>
                                <select disabled="disabled" class="pre-value-attribute" identifier="<?php /* @noEscape */ echo $x; ?>"
                                        id="pre_value_attribute_<?php /* @noEscape */ echo $x; ?>" multiple="multiple" size="5">
                                </select>
                                <input disabled="disabled" type="text" id="value_attribute_<?php /* @noEscape */ echo $x; ?>"
                                       class="value-attribute <?php /* @noEscape */ echo $block->getFiltersSql() ? 'advanced' : ''; ?>" />
                            </td>
                        </tr>
                    </table>
                </div>
            <?php endfor; ?>
        </div>
    </fieldset>
</div>
<script>
    require(["jquery", "sgs_filters"], function ($, filters) {
        "use strict";
        filters.attributeCodes = <?php /* @noEscape */ echo $block->getJsData(); ?>;
        filters.attributeCodes["is_in_stock"] = [{"label": "Yes", "value": 1}, {"label": "No", "value": 0}];
        filters.attributeCodes["qty"] = [];
        filters.attributeCodes["entity_id"] = [];

        /* select product types */
        $(document).on("click", ".filter_product_type", function (evt) {
            let elt = $(this);
            elt.parent().toggleClass("selected");
            filters.updateProductTypes();
        });

        filters.loadProductTypes();

        /* select attribute sets */
        $(document).on("click", ".filter_attribute_set", function (evt) {
            let elt = $(this);
            elt.parent().toggleClass("selected");
            filters.updateAttributeSets();
        });

        filters.loadAttributeSets();

        /* select product visibilities */
        $(document).on("click", ".filter_visibility", function (evt) {
            let elt = $(this);
            elt.parent().toggleClass("selected");
            filters.updateProductVisibilities();
        });

        filters.loadProductVisibilities();

        /* un/select all */
        $(document).on("click", ".select-all", function (evt) {
            let elt = $(this);
            filters.selectAll(elt);
        });

        $(document).on("click", ".unselect-all", function (evt) {
            let elt = $(this);
            filters.unselectAll(elt);
        });

        filters.updateUnSelectLinks();

        /* select advanced filters */
        // change attribute select 
        $(document).on("change", ".name-attribute,.condition-attribute", function (evt) {
            let id = $(this).attr("identifier");
            let attribute_code = $('#name_attribute_' + id).val();
            filters.updateRow(id, attribute_code);
        });

        $(document).on("change", ".checked-attribute,.statement-attribute,.name-attribute,.condition-attribute,.value-attribute,.pre-value-attribute", function (evt) {
            filters.updateAdvancedFilters();
        });

        filters.loadAdvancedFilters();
    });
</script>