<div class="amcard-codes-list">

    <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <!-- ko foreach: applyCodes().split(',')  -->
    <!-- ko if: $data.length > 0 -->
    <div>
        <span data-bind="text: $data"></span>
        <button class="amcard-delete" data-bind="text: $t('Remove'), attr: {title: $t('Remove')}, click: $parent.removeSelected.bind($parent, $data), 'value': $data"></button>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</div>
<div class="choose_gift_type">
<h3>What type of gift card do you have?</h3>
<div class="pick_type"><p>Online Voucher</p><img id='online' data-bind="attr: { src: require.toUrl('images/sgc1.jpg') }" /></div>
<div class="pick_type"><p>Physical Card</p><img id='shop' data-bind="attr: { src: require.toUrl('images/sgc3.jpg') }" /></div>
</div>

<!-- ko if: isGiftCardEnable() -->
<div class="web_gift" style="display:none;">

<div class="amcard-field-container -cart" style="">
    <span class="amcard-title" data-bind="i18n: 'Apply Gift Card Code'"></span>
    <div class="amcard-field-block -double -code">
        <input type="text" class="amcard-field" data-validate="{'required-entry':true}" data-bind="attr: {placeholder: $t('Enter your Code')}, value: cardCode"/>
        <input type="button" class="amcard-button" data-bind="click: apply.bind($data), attr: {value: $t('Add Code')}"/>
    </div>
    <button class="amcard-check" data-bind="i18n: 'Check Status', click: check.bind($data)"></button>
</div>
</div>

<div class="store_gift" style="display:none;">

<form>
  <div class="amcard-field-container -cart">
      <span class="amcard-title" data-bind="i18n: 'Apply Gift Card Code'"></span>
      <p class="gift_notice">Please enter the 16 digit code printed on your store gift card</p>
      <div class="amcard-field-block -double -code">
          <input type="text" class="store-field" data-validate="" placeholder="XXXX-XXXX-XXXX-XXXX"/>
          <p class="gift_notice">Security Code</p>
          <input type="text" class="store-field" data-validate="" placeholder="XXXX"/>

          <input type="button" class="amcard-button"  value="Add Code" />
      </div>
  </div>
</form>
</div>


<!-- /ko -->
<!-- ko if: isCart -->
<div data-bind="scope: 'amcard-cart-render'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>



<!-- /ko -->

<!-- /ko -->
