<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */

if ($block->getItemsCount()) {
    // phpcs:ignore Magento2.Security.LanguageConstruct.DirectOutput
    echo $block->getChildHtml('with-items');
} else {
    // phpcs:ignore Magento2.Security.LanguageConstruct.DirectOutput
    echo $block->getChildHtml('no-items');
}

?>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {

//alert('here2');
$("#amgiftcard-block-discount").insertAfter("#block-discount");

});
});

</script>

<?php

$limit= 2;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
// get quote items collection
$itemsCollection = $cart->getQuote()->getItemsCollection();
// get array of all items what can be display directly
$itemsVisible = $cart->getQuote()->getAllVisibleItems();
$count = count($itemsVisible);
//echo  $count;
//echo 'limit' . $limit;
if($count >= $limit) { ?>
<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {
  var width = $(window).width();
  var height = $(window).height();

  if (width <= 764) {
$("#amgiftcard-block-discount").insertAfter("#block-discount");
$( ".checkout-methods-items" ).clone().appendTo( ".cart.main.actions" );
}
});
});
</script>
<?php } ?>

<?php
$free_ship = array();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');

$itemsCollection = $cart->getQuote()->getItemsCollection();


$items = $cart->getQuote()->getAllItems();

foreach($items as $item) {

$product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId());

//echo 'ship'. $product->getShippingGroup();
 if(($product->getShippingGroup() == 'FREE_UK_NEXT_DAY') || ($product->getShippingGroup() == 'FREE_UK_NEXT_DAY_EU_ONLY')) {
   $free_ship[] = $product->getName();
}
}

$result = array_unique($free_ship);
if(count($result) < 1) {
  return false;
}
