<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magento\Checkout\Block\Onepage */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
<?php
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
?>
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?= $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')) ?>"
                 alt="<?= $block->escapeHtmlAttr(__('Loading...')) ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>");
            return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
        })
    </script>
    <script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
    jQuery(document).ready(function($) {
        $("body").on('click','.opc-progress-bar-item', function() {
        //  alert('here');
          $("#vfinance_percentage").val($("#vfinance_percentage option:first").val());
          $("#vfinance_package").val($("#vfinance_package option:first").val());
    $("#show_v12_finance").hide();
      });
        $("body").on('click', '#online', function() {
        $(this).addClass('yellow');
        $("#shop").removeClass('yellow');
        $(".web_gift").show();
        $(".store_gift").hide();
    });
        $("body").on('click','#shop', function() {
			if(!window.isCustomerLoggedIn){
				alert("To redeem a store-bought giftcard, you will first need to sign up or login to your customer account.");
				return;
			}
      $(this).addClass('yellow');
      $("#online").removeClass('yellow');
      $(".web_gift").hide();
      $(".store_gift").show();
  });
		$("body").on('click','.cancelsgc', function(e) {
			e.preventDefault();
            $(".storecard-finalstep").slideUp();
			$(".store_gift .amcard-field-container").slideDown();
        });
		$("body").on('click','.proceedsgc', function(e) {
			e.preventDefault();
			var data = {
				number: $(".store_gift input.store-field").first().val(),
				pin: $(".store_gift input.store-field").last().val(),
				deduct : 1
			};
			//console.log(data);
			$.ajax({
			  url: "/storegiftcard/process/action",
			  data: data,
			  success: function(data){
				  console.log(data);
				  if(data.GiftCardRedeemResult == "OK"){
					alert("Your store giftcard was sucessfully redeemed. The checkout will now reload. Your new credit will be available below under 'Apply Store Credit'");
					location.reload();
				  }
				  else{
					  alert(data.Status);
				  }
			  },
			  dataType: "json"
			});
        });
		$("body").on("click", '.store_gift .amcard-field-container .amcard-button', function(e){
			if($(".store_gift .storecard-finalstep").length < 1)
				$(".storecard-finalstep").insertAfter(".store_gift .amcard-field-container");
			e.preventDefault();
			var data = {
				number: $(".store_gift input.store-field").first().val(),
				pin: $(".store_gift input.store-field").last().val()
			};
			console.log(data);
			$.ajax({
			  url: "/storegiftcard/process/action",
			  data: data,
			  success: function(data){
				  console.log(data);
				  if(data.Status == "OK"){
					var balance = parseFloat(data.Balance);
					var total = parseFloat(balance);
					if(balance > parseFloat(data.Grandtotal)) total = parseFloat(data.Grandtotal);
					
					$(".storecard-finalstep .gcbalance").text(balance);
					$(".storecard-finalstep .grandtotal").text(total);
					$(".storecard-finalstep").slideDown();
					$(".store_gift .amcard-field-container").slideUp();
				  }
				  else{
					  alert(data.Status);
				  }
			  },
			  dataType: "json"
			});
    });
    });
    });
    </script>
</div>
<div class="storecard-finalstep" style="display: none; clear: both; padding-top: 20px;">
	<p>Your gift card balance is currently &pound;<span class="gcbalance">0.00</span>. By clicking the "proceed" button below, we will deduct
	&pound;<span class="grandtotal"></span> from your gift card account and credit it to your account's credit balance. <strong>Please note, this process is non-reversible.</strong>
	<p class="amcard-field-block">
	<button name="proceedsgc" class="amcard-button proceedsgc">Proceed</button>
	<button name="cancelsgc" class="amcard-button cancelsgc" style="background: #e2e2e2!important;">Cancel</button>
	</p>
</div>
