<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()) :?>
        <?php if ($block->getCanViewOrder()) :?>
            <p><?= $block->escapeHtml(__('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeUrl($block->getViewOrderUrl()), $block->getOrderId())), ['a', 'strong']) ?></p>
        <?php  else :?>
            <p><?= $block->escapeHtml(__('Your order # is: <span>%1</span>.', $block->getOrderId()), ['span']) ?></p>
        <?php endif;?>
            <p><?= $block->escapeHtml(__('We\'ll email you an order confirmation with details and tracking info.')) ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= $block->escapeUrl($block->getContinueUrl()) ?>"><span><?= $block->escapeHtml(__('Continue Shopping')) ?></span></a>
        </div>
    </div>
</div>

<?php
error_reporting(0);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$collection = $objectManager->create('Magento\Sales\Model\Order'); 
// GOOGLE ANALYTICS ECOMMERCE JS
$order = $collection->loadByIncrementId($block->getOrderId());
//$order = Mage::getModel('sales/order')->loadByIncrementId($block->getOrderId());
$total = $order->getBaseGrandTotal();
$tbhtotal = number_format($total, 2, ".", "");
$tbhid = $order->getIncrementId();
$totalcurrency = $order->getGrandTotal();
//var_dump($order->getBaseTaxAmount());exit;
$shipping = $order->getShippingAmount();
$tax = $order->getBaseTaxAmount();
$store = \Magento\Framework\App\ObjectManager::getInstance()
    ->get(\Magento\Store\Model\StoreManagerInterface::class)
    ->getStore();
$name = $store->getName();

$items = $order->getAllVisibleItems();
$item_details = array() ;
$itemspixel = array();
foreach($items as $item) {
    $det = array() ;
    $det['id'] = $item->getProductId();
    $det['sku'] = $item->getSku() ;
    $det['name'] = $item->getName() ;
    $det['category'] = get_category_name($item->getProductId()) ;
    $det['price'] = $item->getBaseRowTotal() ;
    $det['quantity'] = number_format($item->getQtyOrdered(), 0) ;


    $itemspixel[] = $item->getSku();

    array_push($item_details, $det) ;

}

$itemsscrab = array();
foreach($items as $item) {
    $det = array() ;
    $det['item'] = $item->getSku() ;
    $det['price'] = (float)$item->getBaseRowTotal() ;
    $det['quantity'] = (float)round($item->getQtyOrdered()) ;


    $itemsscrab[] = json_decode(json_encode($det));

    //array_push($item_details, $det) ;

}


function get_category_name($productId) {
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
    $category_name = "" ;
    $cats = $product->getCategoryIds();

    $cnt = 0 ;
    foreach ($cats as $category_id) {
        $_cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category_id) ;
        $cnt++ ;
        if($cnt == count($cats))
            $category_name.=$_cat->getName() ;
        else
            $category_name.=$_cat->getName()."," ;
    }
    return $category_name ;
}

function getItemJs(&$transId, &$item, $store_id) {
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    /*$cats = explode(",", $item['category']);
    foreach($cats as $key => $iteml) {if($iteml == "") unset($cats[$key]);}
    $cats = array_values($cats);
    $firstcat = str_replace("'", "\\'",$cats[count($cats)-1]);
    $cat = str_replace("'", "\\'", $item['category']);*/
    $pid = ($item['id']);
    try{
        $prod = $objectManager->create('Magento\Catalog\Model\Product')->load($pid);
        
        $optionLabel = str_replace("'", "\\'",$prod->getAttributeText('source'));
    }
    catch(Exception $e){
        $optionLabel = "";
    }
    if($optionLabel == "") $optionLabel = "NOT DEFINED";
    //var_dump($optionLabel);exit;


    return <<<HTML
ga('ec:addProduct', {
'name': '{$item['name']}',
'sku': '{$item['sku']}',
'id': '{$item['id']}',
'category': '{$optionLabel}',
'price': '{$item['price']}',
'quantity': '{$item['quantity']}'
});
HTML;
}

?>
<script>
    dataLayer.push({
        "event":"EEcheckout",
        'ecommerce': {
            'checkout': {
                'actionField': {'step': 7, 'option': ''},
                'products': []
            }
        }

    });
</script>
<script type="text/javascript">
    /*ga('ec:setAction','checkout', {
        'step': 7,
        'option': ''
    });*/
    ga('ec:setAction', 'purchase', {
        'id': '<?php echo $this->getOrderId(); ?>', // Transaction ID. Required
        'affiliation': '<?php echo $name ?>', // Affiliation or store name
        'revenue': '<?php echo $total; ?>', // Grand Total
        'shipping': '<?php echo $shipping; ?>', // Shipping
        'tax': '<?php echo $tax; ?>' // Tax
    });
    // to get items
    <?php
    $store_id =  $store->getId();
    foreach ($item_details as &$item) {
		$prderod=$block->getOrderId();
        echo getItemJs($prderod, $item, $store_id);
    }
    ?>
    ga('send', 'pageview');
</script>
<script>
    fbq('track', 'Purchase', {
        value: <?php echo $totalcurrency ?>,
        content_ids : <?php echo json_encode($itemspixel) ?>,
        content_type: "product",
        currency: '<?php echo $order->getOrderCurrencyCode() ?>'
    });
</script>

<script type="text/javascript">
    (function(){ var x = document.createElement('script'); x.async = true;
        x.src = "https://creativecdn.com/tags?type=script&id0=pr_IVnc1EhiFO1t30fYRsFi_uid_{UID}&id=pr_IVnc1EhiFO1t30fYRsFi_orderstatus2_<?php echo $tbhtotal ?>_<?php echo $tbhid ?>_&cd=default";
        document.getElementsByTagName('head')[0].appendChild(x); }());
</script>

<?php
if(!$order->getIsVirtual()){
$shipaddress = ($order->getShippingAddress());
?>

<script>

    window.renderOptIn = function() {

        window.gapi.load('surveyoptin', function() {

            window.gapi.surveyoptin.render(

                {

                    // REQUIRED FIELDS

                    "merchant_id": 264766,

                    "order_id": "<?php echo $order->getIncrementId() ?>",

                    "email": "<?php echo $order->getCustomerEmail() ?>",

                    "delivery_country": "<?php echo $shipaddress->getData("country_id") ?>",

                    "estimated_delivery_date": "<?php echo workOutDeliveryDate($order, $shipaddress->getData("country_id"))?>",



                    // OPTIONAL FIELDS

                    "products": <?php echo json_encode($googlereview)?>

                });

        });

    }

</script>
<?php } ?>
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer>
</script>

<?php
function workOutDeliveryDate($order, $country_id){
    $issaturday = false;
    $offset = 0;
    if(time() >= strtotime(date("Y-m-d 15:00:00"))){
        $offset++;
    }
    //var_dump(strtotime("+{$offset} days"));
    if( $country_id == "GB" && (
            strpos(strtolower($order->getData("shipping_description")), "exp") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "next working day") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "free delivery") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "- free") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "free shipping") !== false
        )
    ){
        $offset+=1;
    }
    elseif(strpos(strtolower($order->getData("shipping_description")), "saturday delivery") !== false){
        $issaturday = true;
        if($offset == 0) $offset++;
    }
    elseif( $country_id != "GB" && (
            strpos(strtolower($order->getData("shipping_description")), "exp") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "next working day") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "free delivery") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "- free") !== false ||
            strpos(strtolower($order->getData("shipping_description")), "free shipping") !== false
        )
    ){
        $offset+= 4;
    }
    elseif( $country_id == "GB"){
        $offset += 5;
    }

    else{
        $offset += 9;
    }
    //var_dump($offset);
    $isweekday = false;
    $now = date("Y-m-d H:i:s");
    do{
        $tomorrow = strtotime($now." +{$offset} days");
        //var_dump(date("Y-m-d", $tomorrow));
        if(date("w",$tomorrow) == 0){
            $offset++;

        }
        else{
            $isweekday = true;
        }
        $now= date("Y-m-d H:i:s",$tomorrow);
    }
    while($isweekday == false);
    if($issaturday){
        $isweekday = false;
        $now = date("Y-m-d H:i:s");
        do{
            $tomorrow = strtotime($now." +$offset days");
            //var_dump(date("Y-m-d", $tomorrow), date("W",$tomorrow));
            if(date("w",$tomorrow) == 6){

                $isweekday = true;
            }
            else{
                $offset++;
            }
            $now= date("Y-m-d H:i:s",$tomorrow);
        }
        while($isweekday == false);
    }

    //var_dump(date("Y-m-d", strtotime($now)));
    return date("Y-m-d", strtotime($now));
}

?>

<script>
    ScarabQueue.push(['purchase', {
        orderId: '<?php echo $block->getOrderId() ?>',
        items: <?php echo json_encode($itemsscrab)?>
    }]);
    if(!document.pushscarabid){
        ScarabQueue.push(['setEmail', '<?php echo $order->getCustomerEmail()?>']);
    }
    document.pushscarab = true;
</script>


<!--
Event snippet for Sales on http://www.startfitness.co.uk: Please do not remove.
Place this snippet on pages with events that you’re tracking.
Creation date: 07/02/2018
-->
<script>
    gtag('event', 'purchase', {
        'allow_custom_scripts': true,
        'value': '<?php echo $tbhtotal ?>',
        'transaction_id': '<?php echo $tbhid ?>',
        'send_to': 'DC-8726962/sales0/sales0+transactions'
    });
</script>
<noscript>
    <img src="https://ad.doubleclick.net/ddm/activity/src=8726962;type=sales0;cat=sales0;qty=1;cost=<?php echo $tbhtotal ?>;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=<?php echo $tbhid ?>?" width="1" height="1" alt=""/>
</noscript>