<?php
//echo 'here2';
$_order = $block->getOrder();
$payment = $_order->getPayment();
$paymentInst = $_order->getPayment()->getMethodInstance()->getCode();

if($paymentInst == 'vfinance') {
?>
	<div style="margin-top: 10px;">
		<p><b>Application Id:</b> <?php echo $payment->getAdditionalInformation('V12ApplicationId'); ?></p>
		<p><b>Application Status:</b> <?php echo $payment->getAdditionalInformation('V12ApplicationStatus'); ?></p>
		<p><b>Auth Code:</b> <?php echo $payment->getAdditionalInformation('V12AuthCode'); ?></p>
	</div>
<?php }

else if($paymentInst == 'cycleschemeNOPE') { // Why in the hell is this here???? removed and moved to proper area
?>
<?php //if ($method == Banktransfer::PAYMENT_METHOD_BANKTRANSFER_CODE) :?>
<div class="admin__page-section-item-content">
   <strong><?php echo __('Redemption Code:') ?></strong>
   <span class="price"><?php echo $payment->getData('redemption'); ?></span>

   <strong><?php echo __('Certificate Code:') ?></strong>
   <span class="price"><?php echo $payment->getData('certificate'); ?></span>

</div>
<?php } ?>
