<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="control">
            <div class="fields group group-2">

                <label><!-- ko i18n: 'Please choose your deposit percentage'--><!-- /ko -->:</label>
                <div class="control">
                    <select  name="payment[vfinance_percentage]"
                                 class="select"
                                  data-bind="event:{ change: selectvfpercentage},attr: {id: getCode() + '_percentage', 'data-container': getCode() + '-percentage', 'data-validate': JSON.stringify({required:true})},
                                    enable: isActive($parents),
                                    options: getVfPercentageValues(),
                                    optionsValue: 'value',
                                    optionsText: 'month',
                                    optionsCaption: $t('Select'),

                                            "
                                >
                    </select>
                </div>
                <p class="v12deperror">*Choose v12 finance deposit percentage</p>

                <label><!-- ko i18n: 'Please choose your package plan'--><!-- /ko -->:</label>
                <div class="control">
                    <select  name="payment[vfinance_package]"
                             class="select"
                              data-bind="event:{ change: selectvfpackage},attr: {id: getCode() + '_package', 'data-container': getCode() + '-package', 'data-validate': JSON.stringify({required:true})},
                                enable: isActive($parents),
                                options: getVfPackageValues(),
                                optionsValue: 'value',
                                optionsText: 'month',
                                optionsCaption: $t('Select'),

                                        "
                            >
                    </select>
                </div>

                <p class="v12_error">*Choose v12 finance package plan</p>

                <div id="show_v12_finance" style="display:none;">
                    <table cellpadding="10" cellspacing="10" style="width: 100%;">

                      <tr>
                      <td>V12 Finance</td><td id="v12_pack_name"></td>
                      </tr>
                      <tr>
                      <td>Total Cash Price</td><td id="v12_cart_val"></td>
                      </tr>
                      <tr>
                      <td>Deposit </td><td id="v12_deposit_amt"> </td>
                      </tr>
                      <tr>
                      <td>Amount of Credit </td><td id="v12_loan_amt"></td>
                      </tr>
                      <tr>
                      <td>Interest Rate </td><td id="v12_interest_rate"></td>
                      </tr>
                      <tr>
                      <td>Monthly Payment</td><td id="v12_montly_pay"></td>
                      </tr>
                      <tr>
                      <td>Duration of agreement </td><td id="v12_payments"></td>
                      </tr>
                      <tr>
                      <td>Interest </td><td id="v12_cost_credit"></td>
                      </tr>
                      <tr>
                      <td>Total Cost</td><td id="v12_total_cost"></td>
                      </tr>
                    </table>
                </div>
                <div id="show_not_available">
                    The options you selected are not available in these circumstances
                </div>

            </div>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
