<?php ///echo 'ohhh products'; ?>
<?php

$productCollection = $this->getData("productList");
if(!isset($productCollection)) { ?>
<p> Sorry we couldn't and product matching your criteria.</p>
<? }

else {
//  print_r($productCollection);
$objectManager  = \Magento\Framework\App\ObjectManager::getInstance();
$cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
$_imageHelper = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Catalog\Helper\Image');
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
$product= '';
?>
<div class="products-grid grid">
<ol class="product-items widget-product-grid">
<?php $iterator = 1; ?>
<?php foreach($productCollection as  $key => $prod) {
$product = '';
$product = $objectManager->get('Magento\Catalog\Model\Product')->load($prod);


$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base  =$storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
$prod_url = $base . 'catalog/product/view/id/' . $prod;
//$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $prod->getImage();

$imageId = 'product_base_image';
$width = 240;
$height = 300;

$resizedImageUrl = $_imageHelper
                        ->init($product, $imageId)
                        ->constrainOnly(true)
                        ->keepAspectRatio(true)
                        ->keepTransparency(true)
                        ->keepFrame(false)
                        ->resize($width, $height)
                        ->getUrl();?>
     <?php if ($iterator++ != 1): ?></li><?php endif ?>
             <li class="product-item-finder">
               <div class="product-item-info">
                            <div class="col-12">
                                <span class="product-image-container" style="width:200px;">
    <span class="product-image-wrapper" style="padding-bottom: 100%;">
      <?php
      $attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
      $attributeSetRepository = $attributeSet->get($product->getAttributeSetId());
      $attribute_set_name = $attributeSetRepository->getAttributeSetName();
      $freedeloffer = $product->getData("free_shipping");
      $back_in = $product->getData("back_in_stock");
      $preorderoffer=  $product->getData('preorder');
      $offer=  $product->getData('sticker');
      $current_deal=  $product->getAttributeText('current_deal');
      $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
      $percentages_over = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('percentage_save_limit/percentage_save_limit/limit');
      //echo $percentages_over;
      if(!empty($product->getData("msrp_nomap"))) {
      $_savePercent = 100 - round(($product->getFinalPrice() / $product->getData("msrp_nomap"))*100);
      $rrp =  (float) $product->getResource()->getAttribute('msrp_nomap')->getFrontend()->getValue($product);
      $price = $product->getFinalPrice();
      $discount = 100 - ( $price / $rrp ) * 100;
      $percentage = number_format($product->getResource()->getAttribute('percentage_saving')->getFrontend()->getValue($product));
      }
      else {
        $percentage =0;
      }

      $now = date("Y-m-d");
      $newsFrom= substr($product->getData('news_from_date'),0,10);
      $newsTo=  substr($product->getData('news_to_date'),0,10);

      // new in sticker/back in stock can show on their
      if ($now>=$newsFrom && $now<=$newsTo){ ?>
      <div class="sticker_new"><a target="_blank" href="<?php echo $prod_url; ?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/new.png');?>" alt="New Stock"/></a></div>
      <?php }
      else if ($back_in == "1") { ?>
        <div class="sticker_back"><a  target="_blank"  href="<?php echo $prod_url; ?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/back-in-stock.png');?>" alt="Back In Stock"/></a></div>
      <?php }

      //order - current deal/free del/pre order/percentage saving
      if ($current_deal != ''){ ?>
      <div class="sticker_deal"><a target="_blank"  href="<?php echo $prod_url; ?>" class="<?=$current_deal?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/offers/'.$current_deal.'.png');?>" alt="deal <?php echo $current_deal ?>"/></a></div>
      <?php }
      else if ($freedeloffer != "0"){ ?>
        <div class="sticker_free">
      <img src="<?php echo $this->getViewFileUrl('images/stickers/freedel.png');?>" width="105" height="92" alt="Free Delivery" /></div>
      <?php }

      else if($preorderoffer != "0"){ ?>
        <div class="sticker_pre">
      <img src="<?php echo $this->getViewFileUrl('images/stickers/preorder.png');?>" width="105" height="92" alt="Free Delivery" /></div>
      <?php }
      else if((($percentage >= $percentages_over && in_array($product->getAttributeSetId(), array(9, 34))) OR $percentage >= $percentages_over) && $percentage <= 99){
      ?>
      <div class="newstylesticker saveperc">
      <div class="innersticker">
      <span class="stickerlabel">
      SAVE <?php echo $percentage ?>%
      </span>
      </div>
      </div>
      <?php }
      else if($offer != 'No') {	?>
      <div class="sticker_offer"><a  target="_blank" href="<?php echo $prod_url ?>">
      <?php
      switch ($offer) {
      						case 'sale': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/sale.png');?>" width="105" height="92" alt="Sale"/><?php break;
      						case 'free-install': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-install.png');?>" width="105" height="92" alt="Free Install"/><?php break;
      						case 'daily-deal': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/daily-deal.png');?>" width="105" height="92" alt="Daily Deal"/><?php break;
      						case '10-sale': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/sale-10.png');?>" width="105" height="92" alt="&pound;10 Sale" /><?php break;
      						case 'today': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/today.png');?>" width="105" height="92" alt="Today Only"/><?php break;
      						case 'free-delivery': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/freedelivery.png');?>" width="105" height="92" alt="Free Delivery" /><?php break;
      						case 'MMPro': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2for5-15for30.png');?>" width="105" height="92" alt="3 For &pound;5 - 15 For &pound;30" /><?php	break;
      						case '2-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-5.png');?>" width="105" height="92" alt="Two For Five" /><?php break;
      						case '2-for-15': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-15.png');?>" width="105" height="92" alt="Two For Fifteen" /><?php	break;
      						case '2-for-25': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-25.png');?>" width="105" height="92" alt="Two For Twenty Five" /><?php	break;
      						case '3-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/3-for-5.png');?>" width="105" height="92" alt="Three For Ten" /><?php break;
      						case '3-for-10': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/3-for-10.png');?>" width="105" height="92" alt="Three For Ten" /><?php break;
      						case '6-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/6-for-5.png');?>" width="105" height="92" alt="Six For Five" /><?php break;
      						case 'free-gift': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-gift.png');?>" width="105" height="92" alt="Free Gift" /><?php	break;
      						case 'new-season': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/new-season.png');?>" width="105" height="92" alt="New Season" /><?php break;
      						case 'free-helemt': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-helmet.png');?>" width="105" height="92" alt="Free Helmet" /><?php break;
      						case 'two-for-1': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-1.png');?>" width="105" height="92" alt="Free Helmet" /><?php break;
      						case 'free-bottle': ?><!--<img src="<?php echo $this->getViewFileUrl('images/stickers/free-bottle.png');?>" width="105" height="92" alt="Free Bottle" />--><?php break;
      						case 'free-tyre': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-tyre.png');?>" width="105" height="92" alt="Free Tyre" /><?php break;
      						default:
      						break;
      					   }
      					?>
      					</a></div>
      <?php }



       ?>
<a target="_blank" href="<?= $prod_url; ?>" class="product-item-photo">
                               <img class="product-image-photo" width="" height="" src="       <?= $resizedImageUrl; ?>"/>

                            </a>

                        </span>
                    </span>
                            </div>
                            <div class="col-12 product-item-details">
                                <strong class="product-item-name">
                                    <a  target="_blank"  title="<?= $this->escapeHtml($product->getName()) ?>"
                                       href="<?= $prod_url; ?>"
                                       class="product-item-link">
                                        <?= $this->escapeHtml($product->getName()) ?>
                                    </a>
                                </strong>
                                <div class="product-item-description">
                                </div>
<span class="price" style="font-size:22px; font-weight:bold;">
<?php
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
 if ($product->getTypeId() == 'grouped') {
    $usedProds = $product->getTypeInstance(true)->getAssociatedProducts($product);
        foreach ($usedProds as $child) {
            if ($child->getId() != $product->getId()) {
                $price[]= $child->getFinalPrice();
          }
      }
    $min_price = min($price);
    echo $priceHelper->currency($min_price, true, false);
    unset($min_price);
}
else {
        echo  $priceHelper->currency($product->getFinalprice(), true, false);
        }
?>
</span>



<div class="product-msrp-savings">
<div class="product-msrp">
  <span class="msrplabel">RRP <span class="msrpprice"><?php echo $priceHelper->currency($product->getData("msrp_nomap"), true, false);?></span></span>
</div>
<div class="product-savings">

  <span class="savingslabel">Save <span class="savingsprice"><?php echo $priceHelper->currency($product->getData("msrp_nomap") - $product->getFinalPrice(), true, false);?> </span></span>
</div>
</div>

<div class="product-item-actions">
                                            <!--<div class="actions-primary">
                                                <?php if ($product->isSaleable()): ?>
                                                    <?php if ($product->getTypeInstance()->hasRequiredOptions($product)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $this->escapeUrl($this->getAddToCartUrl($product)) ?>"}}' type="button" title="<?= $this->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $this->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($cartHelper->getAddUrl($product), ['product' => $product->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $this->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($product->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= $this->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= $this->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>-->
                                    </div>
                            </div>
                        </div>
</li>                    <?php } ?>
                </ol>
            </div>
        </div>
    </div>
</div>


<style>



@media screen and (min-width: 480px) {
.product-item-info {
  width: 100%;
}
  .product-items {
    font-size: 14px !important;
}

 .product-item-finder {
    width: 23.4% !important;
    float: left;
    margin-bottom: 20px !important;
    border: 1px solid #e4e4e4;
}

.product-image-container {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: auto !important;
}

.page-products .products-grid .product-item:nth-child(3n + 1), .page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-layout-3columns .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-3columns .products-grid .product-item:nth-child(3n + 1) {
  margin-left: unset !important;
}

.product-image-container {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-item-info {
    max-width: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.product-items li {
    margin-left: 22px ;
}

.product-items  li:nth-child(4n-7) {
margin-left: 0px !important;
}
}

@media screen and (max-width: 480px) {

.product-items {
  font-size: 12px !important;
}

.product-items li {
    margin-left: 0px !important ;
}

.product-items  li:nth-child(4n-7) {
margin-left: 0px !important;
}
}

</style>

<?php } ?>
