<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php



$_product = $block->getProduct(); ?>
  <?php $buttonTitle = __('Add to Basket'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Quantity')) ?></span></label>
            <div class="control">
              <span class="qty-change" data-value="-1">-</span>
                <input type="number"
                       name="qty"
                       id="qty"
                       min="1"
                       value="<?= ($block->getProductDefaultQty() == 0 ) ? 1 : $block->getProductDefaultQty()  ?>"
                       title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                       <span class="qty-change" data-value="1">+</span>

            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php
else:
?>
<!-- debug NOT SALABLE -->
<?php
endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {


//  $(".page-title-wrapper").appendTo(".product-info-main");

  $(".box-tocart .qty-change").click(function(e) {

    e.preventDefault();
    var amount = $(this).data("value");
    if(typeof amount != "undefined" && amount != "") {
      var current = parseInt($("#qty").val());
      var new_amount = current + amount;
      if(new_amount >= 1) {
        $("#qty").val(new_amount);
      }
    }
  });

//  alert('here');


   });


    });

</script>
<div class="bottom">
<!--<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cutoff_val = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('cut_off_time/cut_off_time/time');
$hour = date('H');
date_default_timezone_set('Europe/London');
if($hour < $cutoff_val) {
$current = strtotime("now");
$new = new DateTime('NOW');
$new->setTime($cutoff_val,00);
$cutoff =  $new->format('Y-m-d H:i:s');
$cutoff = strtotime($cutoff);
$difference  = $cutoff - $current;
$time_until_hour =  date("H", $difference);
$time_until_min =  date("i", $difference);
?>
<p>Want it tommorow? <span class="red_order">Order in the next <?php echo $time_until_hour; ?> hours <?php echo $time_until_min; ?> mins</span></p>
<?php
}



//$now = new DateTime();
//$future_date = new DateTime('2011-05-11 12:00:00');

//$interval = $future_date->diff($now);

//echo $interval->format("%a days, %h hours, %i minutes, %s seconds");

?>-->
<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Catalog::product/view/good_points.phtml")->toHtml();?>


<!--<ul class="good_points">
<li>Free UK STD Delivery over £50</li>
<li>Free UK Returns</li>
<li>Authorised Stockist</li>
<li>Next Day Delivery Available</li>
</ul>-->
<div class="live_time">

</div>

<div class="paypal">
<div class="paypal_left"><img src="<?php echo $this->getViewFileUrl('images/paypal_logo.png'); ?>" /></div>
<div class="paypal_right"><p>SPEND OVER £99 & SPREAD THE COST OVER 4 MONTHS WITH 0% INTEREST <a href="/paypal-credit-q-a">Find out more</a></p></div>
</div>

<div class="">
<?php echo $this->getLayout()->createBlock('Bootsgrid\Vfinance\Block\Product\View')  ->setTemplate('Bootsgrid_Vfinance::productview.phtml')->toHtml(); ?>
</div>
</div>

<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode(); ?>
<script>
fbq('track', 'ViewContent', {
   content_ids: '<?php echo $_product->getActualModel(); ?>',
   content_type: 'product_group',
   value: <?php echo $_product->getFinalPrice(); ?>,
   currency: '<?php echo $currency; ?>'
});
</script>
