<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>

<?php
$images = $block->getGalleryImages()->getItems();
$mainImage = current(array_filter($images, function ($img) use ($block) {
    return $block->isMainImage($img);
}));

if (!empty($images) && empty($mainImage)) {
    $mainImage = $block->getGalleryImages()->getFirstItem();
}

$helper = $block->getData('imageHelper');
$mainImageData = $mainImage ?
    $mainImage->getData('medium_image_url') :
    $helper->getDefaultPlaceholderUrl('image');

?>

<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <img
        alt="main product photo"
        class="gallery-placeholder__image"
        src="<?= /* @noEscape */ $mainImageData ?>"
    />


</div>

<div class="stickerwrap">
<?php
//  echo 'dggf';
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
$product = $_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());

$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
$attributeSetRepository = $attributeSet->get($product->getAttributeSetId());
$attribute_set_name = $attributeSetRepository->getAttributeSetName();
$freedeloffer = $product->getData("free_shipping");
$back_in = $product->getData("back_in_stock");
$preorderoffer=  $product->getData('preorder');
$offer=  $product->getData('sticker');
$current_deal=  $product->getAttributeText('current_deal');
$percentages_over = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('percentage_save_limit/percentage_save_limit/limit');
//var_dump($freedeloffer);
//echo $percentages_over;
if(!empty($product->getData("msrp_nomap"))) {
$_savePercent = 100 - round(($product->getFinalPrice() / $product->getData("msrp_nomap"))*100);
$rrp =  (float) $product->getResource()->getAttribute('msrp_nomap')->getFrontend()->getValue($product);
$price = $product->getFinalPrice();
$discount = 100 - ( $price / $rrp ) * 100;
$percentage = number_format($product->getResource()->getAttribute('percentage_saving')->getFrontend()->getValue($product));
}
else {
  $percentage =0;
}

$now = date("Y-m-d");
$newsFrom= substr($_product->getData('news_from_date'),0,10);
$newsTo=  substr($_product->getData('news_to_date'),0,10);

// new in sticker/back in stock can show on their
if ($now>=$newsFrom && $now<=$newsTo){ ?>
<div class="sticker_new"><a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/new.png');?>" alt="New Stock"/></a></div>
<?php }
else if ($back_in == "1") { ?>
  <div class="sticker_back"><a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/back-in-stock.png');?>" alt="Back In Stock"/></a></div>
<?php }

//order - current deal/free del/pre order/percentage saving
if ($current_deal != ''){ ?>
<div class="sticker_deal"><a href="<?php echo $_product->getProductUrl() ?>" class="<?=$current_deal?>"><img src="<?php echo $this->getViewFileUrl('images/stickers/offers/'.$current_deal.'.png');?>" alt="deal <?php echo $current_deal ?>"/></a></div>
<?php }
else if ($freedeloffer == "1"){ ?>
  <div class="sticker_free">
<img src="<?php echo $this->getViewFileUrl('images/stickers/freedel.png');?>" width="105" height="92" alt="Free Delivery" /></div>
<?php }

else if($preorderoffer == "1"){ ?>
  <div class="sticker_free">
<img src="<?php echo $this->getViewFileUrl('images/stickers/preorder.png');?>" width="105" height="92" alt="Pre-Order" /></div>
<?php }
else if((($percentage >= $percentages_over && in_array($_product->getAttributeSetId(), array(9, 34))) OR $percentage >= $percentages_over) && $percentage <= 99){
?>
<div class="newstylesticker saveperc">
<div class="innersticker">
<span class="stickerlabel">
SAVE <?php echo $percentage ?>%
</span>
</div>
</div>
<?php }
else if($offer != 'No') {	?>
<div class="sticker_offer"><a href="<?php echo $_product->getProductUrl() ?>">
<?php
switch ($offer) {
            case 'sale': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/sale.png');?>" width="105" height="92" alt="Sale"/><?php break;
            case 'free-install': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-install.png');?>" width="105" height="92" alt="Free Install"/><?php break;
            case 'daily-deal': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/daily-deal.png');?>" width="105" height="92" alt="Daily Deal"/><?php break;
            case '10-sale': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/sale-10.png');?>" width="105" height="92" alt="&pound;10 Sale" /><?php break;
            case 'today': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/today.png');?>" width="105" height="92" alt="Today Only"/><?php break;
            case 'free-delivery': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/freedelivery.png');?>" width="105" height="92" alt="Free Delivery" /><?php break;
            case 'MMPro': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2for5-15for30.png');?>" width="105" height="92" alt="3 For &pound;5 - 15 For &pound;30" /><?php	break;
            case '2-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-5.png');?>" width="105" height="92" alt="Two For Five" /><?php break;
            case '2-for-15': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-15.png');?>" width="105" height="92" alt="Two For Fifteen" /><?php	break;
            case '2-for-25': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-25.png');?>" width="105" height="92" alt="Two For Twenty Five" /><?php	break;
            case '3-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/3-for-5.png');?>" width="105" height="92" alt="Three For Ten" /><?php break;
            case '3-for-10': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/3-for-10.png');?>" width="105" height="92" alt="Three For Ten" /><?php break;
            case '6-for-5': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/6-for-5.png');?>" width="105" height="92" alt="Six For Five" /><?php break;
            case 'free-gift': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-gift.png');?>" width="105" height="92" alt="Free Gift" /><?php	break;
            case 'new-season': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/new-season.png');?>" width="105" height="92" alt="New Season" /><?php break;
            case 'free-helemt': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-helmet.png');?>" width="105" height="92" alt="Free Helmet" /><?php break;
            case 'two-for-1': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/2-for-1.png');?>" width="105" height="92" alt="Free Helmet" /><?php break;
            case 'free-bottle': ?><!--<img src="<?php echo $this->getViewFileUrl('images/stickers/free-bottle.png');?>" width="105" height="92" alt="Free Bottle" />--><?php break;
            case 'free-tyre': ?><img src="<?php echo $this->getViewFileUrl('images/stickers/free-tyre.png');?>" width="105" height="92" alt="Free Tyre" /><?php break;
            default:
            break;
             }
          ?>
          </a></div>
<?php } ?>
</div>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?= /* @noEscape */ $block->getMagnifier() ?>,
                "data": <?= /* @noEscape */ $block->getGalleryImagesJson() ?>,
                "options": <?= /* @noEscape */ $block->getGalleryOptions()->getOptionsJson() ?>,
                "fullscreen": <?= /* @noEscape */ $block->getGalleryOptions()->getFSOptionsJson() ?>,
                 "breakpoints": <?= /* @noEscape */ $block->getBreakpoints() ?>
            }
        }
    }
</script>
