<?php
$product = $block->getProduct();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');

$_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper

$restrict = $_product->getAttributeText('shipping_group');
$man = $_product->getAttributeText('manufacturer');



if($restrict == 'UK_EU_ONLY' || $restrict == 'FREE_UK_NEXT_DAY_EU_ONLY' || $restrict == 'BATTERY_EU_ONLY' || $man == 3733) { ?>
 <div class="res_notice"><p style="max-width: 310px;"><b style="color:#FF0000">Please note this product can only be shipped to UK &amp; EU Countries</b></p></div>
<?php }
else if($restrict == 'UK_ONLY') { ?>
<div class="res_notice"> <p style="max-width: 310px;"><b style="color:#FF0000">Sorry, but this product can only be shipped within the United Kingdom</b></p>
</div><?php } /*
else if($man == 5402) { ?>
 <p style="max-width: 310px;"><b style="color:#FF0000">Please note this product is for in-store collection only</b></p>
<?php } */
?>
