<?php
//echo 'here';
$product = $block->getProduct();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');

$_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper


  $attributeSetRepository = $attributeSet->get($_product->getAttributeSetId());
  $attributeSetName = $attributeSetRepository->getAttributeSetName();

  $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');



 if("Migration_StartBikes" == $attributeSetName || "Migration_CycleFrameset" == $attributeSetName || "Migration_CycleWheels" == $attributeSetName) { ?>

   <div class="call_me_maybe">
     <a href="<?=$storeManager->getStore()->getBaseUrl();?>request_callback">
     <img src="<?php echo $this->getViewFileUrl('images/Bike-Icon-Ring2.png') ?>" />
   </a>
   </div>
<?php }


?>
<div class="product-msrp-savings">

<?php
 $rrp =  $_product->getData("msrp_nomap");
 $final = $_product->getFinalPrice();
 echo 'final ' . $final;
echo 'rrp' . $rrp;
 $limit  = $final * 1.2;
                          if($rrp >= $final)  { ?>
                            <div class="product-msrp">
  <span class="msrplabel">RRP <span class="msrpprice"><?php echo $priceHelper->currency($_product->getData("msrp_nomap"), true, false);?></span></span>
</div>
<?php } ?>
<?php if($rrp-($rrp*0.05) > $final)  { ?>
<div class="product-savings">

  <span class="savingslabel">Save <span class="savingsprice"><?php echo $priceHelper->currency($_product->getData("msrp_nomap") - $_product->getFinalPrice(), true, false);?> </span></span>
</div>
<?php } ?>

</div>
