<script type="text/javascript">



    require(['jquery'], function ($) {
      var width = $(window).width();
      var height = $(window).height();

      if (width <= 764) {

        $(".item.title").click(function(event) {
        //  alert('fgdfgfdf');
          event.preventDefault();
          $this = $(this);
          setTimeout(function(){
          $([document.documentElement, document.body]).animate({
          scrollTop: $this.offset().top+50
          }, 200);
        },100);
});

//alert('here');
//alert($('.mp-sizechart-container span').length);
if ( $('.mp-sizechart-container span').length == 0 ) {
//  $('<p>No Size Chart Available.</p>').appendTo('.size_chart_mob');
$('#tab-label-sizeguide').hide();

}
else {

            $('.mp-sizechart-container').appendTo('.size_chart_mob');
          }
}
    });

</script>

<div class="size_chart_mob"></div>
