@charset "utf-8";
table {
	border-spacing:0px;
	margin: 0px;
	padding: 0px;
}
thead th {
	font-weight: bold;
	background-color: #EAEAEA;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color: #F90;
	font-size: x-small;
}
.row_colour_light {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.row_colour_dark {
	background-color: #DDF2FF;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #c0c0aa;
}
tr td {
	font-size: 11px;
	line-height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
form {
	font-family: "Courier New", Courier, monospace;
	font-size: medium;
	color: #606;
}
#d1 {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #CCC;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}