<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$v12Percent = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getV12Percent();
$v12Pack = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getV12Pack();
$enable = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getActive();
$proWidget = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getProductWidget();
$minAmount = $this->helper('Bootsgrid\Vfinance\Helper\Data')->getMinAmount();
$productPrice = $block->getCurrentProduct()->getFinalPrice();
$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
$attributeSetRepository = $attributeSet->get($block->getCurrentProduct()->getAttributeSetId());
$attributeSetName = $attributeSetRepository->getAttributeSetName();
$finace_0 = $block->getCurrentProduct()->getIs0Intrest();
if($finace_0 != 1) {
$max = 36;
}
elseif($productPrice >= 2000) {
$max = 36;
} elseif($productPrice >= 1000) {
$max = 24;
}else {
$max = 18;
}
//not interest free
if($finace_0 != 1) {
	foreach ($v12Pack as $key => $value) {
	if (strpos($value, 'Free') !== false) {
		  unset($v12Pack[$key]);
}
if($max == 18) {
	if (strpos($value, '24 Months') !== false) {
				unset($v12Pack[$key]);
}	if (strpos($value, '36 Months') !== false) {
     unset($v12Pack[$key]);
}
}
if($max == 24) {
	if (strpos($value, '36 Months') !== false) {
				unset($v12Pack[$key]);
}
}

}
}
//interest free
if($finace_0 != 0) {
foreach ($v12Pack as $key => $value) {
		if (strpos($value, 'Classic') !== false) {
				unset($v12Pack[$key]);
}
if($max == 18) {
	if (strpos($value, '24 Months') !== false) {
	//	echo 'val' . $value;
				unset($v12Pack[$key]);
}	if (strpos($value, '36 Months') !== false) {
//	echo 'val' . $value;
				unset($v12Pack[$key]);
}
}
if($max == 24) {
	if (strpos($value, '36 Months') !== false) {
				unset($v12Pack[$key]);
}
}
}
}
if($finace_0 != 1) {
	$min = 12;
	$intrest = 15.9;
	$step = 12;
}
else {
$min = 6;
$step = 6;
$intrest = 0;
}
$originalpercentage = 50;
do{
$percentage = $originalpercentage;
$originalpercentage = $originalpercentage - 10;
$deposit = ((($percentage / 100) * $productPrice));
$calc = round($productPrice - $deposit,2);

}

while($productPrice < $minAmount AND $percentage > 10);
//var_dump( "percent: $percentage - Deposit : $deposit - Calc : $calc");

$interestfractions = [6 => 0.166667, 12 => 0.083333, 18 => 0.055556, 24 => 0.03459];

$interestfraction = (isset($interestfractions[$max]))?$interestfractions[$max]:0.03459;
//var_dump($intrest);
if($intrest != 0) {
$lowprice =  number_format(round($calc * $interestfraction,2),2);
}
else {
	$lowprice = number_format(round($calc / $max,2),2);
}
?>

<?php
if($enable == 1 && $productPrice >= $minAmount && ("Migration_StartBikes" == $attributeSetName || "Migration_CycleFrameset" == $attributeSetName || "Migration_CycleWheels" == $attributeSetName)) {
	if($proWidget == 1) { ?>
		<div id="v12cal_finance">
			<div class="v12financeFrom" style="margin-top: 10px;">Finance this item from as little as <span id="v12_montly_pay1">£<?php echo $lowprice; ?>
			</span> per Month</div>
		</div>
	<?php } ?>
<div class="v12finace_box">
	<h3>V12 Finance</h3>
	<p data-test="<?php echo $percentage ?>">Please choose your deposit percentage:</p>
	<select id="v12_percent">
		<option value="">- Select -*</option>
		<?php foreach($v12Percent as $key =>$value) {
			if($value > $percentage) continue;
				?>
			<option value="<?php echo $value ?>"><?php echo $value.'%' ?></option>
		<?php } ?>
	</select>
	<p>Please choose your package plan:</p>
	<select id="v12_pack">
		<option value="">- Select -*</option>
		<?php foreach($v12Pack as $key =>$value) {
			$pack_key = explode('/', $value);?>
			<option value="<?php echo $value ?>" data-month="<?php echo preg_replace("/[^0-9]/", '', $pack_key[2]) ?>" data-interest="<?php echo $pack_key[3] ?>" data-apr="<?php echo $pack_key[4] ?>"><?php echo $pack_key[5] ?></option>
		<?php } ?>
	</select>
	<p class="v12_error">*Choose v12 finance package plan</p>

  	<div id="show_v12_finance" style="display:none;">
		<table cellpadding="10" cellspacing="10" style="width: 100%;">

		   	<tr>
			 	<td>V12 Finance</td><td id="v12_pack_name"></td>
		   	</tr>
		   	<tr>
			 	<td>Total Cash Price</td><td id="v12_cart_val"></td>
		   	</tr>
		   	<tr>
			 	<td>Deposit </td><td id="v12_deposit_amt"> </td>
		   	</tr>
		   	<tr>
			 	<td>Amount of Credit </td><td id="v12_loan_amt"></td>
		   	</tr>
		   	<tr>
			 	<td>Interest Rate </td><td id="v12_interest_rate"></td>
		   	</tr>
		   	<tr>
			 	<td>Monthly Payment</td><td id="v12_montly_pay"></td>
		   	</tr>
		   	<tr>
			 	<td>Duration of agreement </td><td id="v12_payments"></td>
		   	</tr>
		   	<tr>
			 	<td>Interest </td><td id="v12_cost_credit"></td>
		   	</tr>
		   	<tr>
			 	<td>Total Cost</td><td id="v12_total_cost"></td>
		   	</tr>
		</table>
	</div>
	<div id="show_not_available">
		The options you selected are not available in these circumstances
	</div>
</div>

<script type="text/javascript">
require(['jquery'], function($){
  	$(document).ready( function() {
  		var proAmount = '<?php echo $productPrice ?>';
  		var v12_dpercent = 50;
		var dDeposit = (proAmount / 100) * v12_dpercent;
		var v12_dloan_amt = proAmount - dDeposit;
		var v12_dinterest = 0.03459;
		var v12_dmonthly_payment = v12_dloan_amt * v12_dinterest;
	//	document.getElementById('v12_montly_pay1').innerHTML = '£'+v12_dmonthly_payment.toFixed(2);

  		$('#v12_percent').change(function() {
  			$('#v12_pack').prop('selectedIndex',0);
		    $('#show_v12_finance').hide();
		    $('.v12_error').show();
		    $('#show_not_available').hide();
  		})

  		$('#v12_pack').change(function(){
  			var v12_pack = jQuery('#v12_pack option:selected').val();
			var v12_pack_txt = jQuery('#v12_pack option:selected').text();
			var v12_percent = jQuery('#v12_percent option:selected').val();
			var amount = '<?php echo $productPrice ?>';
			var deposit = (amount / 100) * v12_percent;
			var v12_loan_amt = amount - deposit;
			var v12_interest = jQuery("#v12_pack option:selected").attr('data-interest');
			var v12_apr = jQuery("#v12_pack option:selected").attr('data-apr');


			var v12_months = jQuery("#v12_pack option:selected").attr('data-month');
			var v12_monthly_payment = v12_loan_amt * v12_interest;


			var v12_total_amount_payable = v12_monthly_payment * v12_months + deposit;
			var v12_cost_of_loan = Math.abs(v12_total_amount_payable - v12_loan_amt - deposit);

			if(v12_apr == 0) {
			v12_cost_of_loan = 0;
		}
		//lert(v12_total_amount_payable);
			console.log(v12_cost_of_loan);
			if(v12_cost_of_loan <= 0.05) v12_cost_of_loan = 0;
			jQuery('.v12_error').hide();
			var minAmount = '<?php echo $minAmount ?>';
			if (true || v12_loan_amt >= minAmount) {
	        	document.getElementById('show_v12_finance').style.display="block";
				document.getElementById('v12_pack_name').innerHTML = v12_pack_txt;
				document.getElementById('v12_cart_val').innerHTML = '£'+amount;
				document.getElementById('v12_deposit_amt').innerHTML = '£'+deposit.toFixed(2);
				document.getElementById('v12_loan_amt').innerHTML = '£'+v12_loan_amt.toFixed(2);
				document.getElementById('v12_interest_rate').innerHTML = v12_apr+'%';
				//document.getElementById('v12_montly_pay1').innerHTML = '£'+v12_monthly_payment.toFixed(2);
				document.getElementById('v12_montly_pay').innerHTML = '£'+v12_monthly_payment.toFixed(2);
				document.getElementById('v12_payments').innerHTML = v12_months;
				document.getElementById('v12_cost_credit').innerHTML = '£'+v12_cost_of_loan.toFixed(2);
				if(v12_apr == 0){
					document.getElementById('v12_total_cost').innerHTML = '£'+amount;
				}
				else {
					document.getElementById('v12_total_cost').innerHTML = '£'+v12_total_amount_payable.toFixed(2);
				}
			} else {
				$('#show_not_available').show();
			}
  		})
  	})
});
</script>

<?php } ?>
