<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var $block \Magento\OfflinePayments\Block\Form\Purchaseorder
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$methodCode = $block->escapeHtml($block->getMethodCode());
$urlBuilder = $objectManager->create('\Magento\Backend\Model\UrlInterface');
$sotpayajaxurl = $urlBuilder->getUrl('sotpay/quote/info');
?>
<fieldset class="fieldset items <?= /* @noEscape */ $methodCode ?>" id="payment_form_<?= /* @noEscape */ $methodCode ?>" style="display: none">
    <button type="button" name="startsotpay" class="startsotpay">Create a SOTPay session</button>
		<div class="sotpayprogress"  style="display: none;">
			<p>Current SOTPay Session: <strong class="soturn"></strong></p>
			<p>Current SOTPay Session Status: <strong class="sotpaystatus"></strong></p>
			<p>Current SOTPay Transaction Status: <strong class="sotpaytransstatus"></strong></p>
			<p>This screen will automatically update every 3 seconds ...</p>
			<p><a href="#" class="sotrestart">Restart a new SOTPay Session</a>
		</p></div>
		<div class="sotpayfinished" style="display: none;">
			
			<p><strong>SOTPay sessions was successful!</strong> Payment has now been taken, and order automatically submitted.</p>
		</div>
		<br>
		<br>
	<div class="field number required">
        <label for="po_number" class="label"><span><?= $block->escapeHtml(__('SOTPay Order Number')) ?></span></label>
        
		<div class="control">
            <input type="text" id="sotpay_number" name="payment[po_number]" title="<?= $block->escapeHtml(__('SOTPay Order Number')) ?>"
                   class="input-text required-entry"
                   value="<?= $block->escapeHtml($block->getInfoData('po_number')) ?>" />
        </div>
    </div>
</fieldset>
<script>

 require(['jquery', 'jquery/ui'], function($){ 
     //your js code here  
	 $(".startsotpay").click(function(e){
		 e.preventDefault();
		console.log(e); 
		var selectship = $("#order-shipping-method-summary > a").first();
		console.log(selectship.text().trim());
		if(selectship && selectship.text().trim() == "Get shipping methods and rates") {alert("Please select a shipping method first.");return;}
		$.getJSON( "<?php echo $sotpayajaxurl; ?>", function( dataquote ) {
			 
			 
				var currency = dataquote.quote_currency_code;
				
				var grandtotal = dataquote.grand_total;
			
			 var email = $("#email").val();
			 var phone = $("#order-billing_address_telephone").val();
				 console.log(grandtotal, currency, email, phone, order);
				//return;
				
			 
			 var sotpaydata = {
			  "vendor": "startfitness",
			  "amount": grandtotal,
			  "currency": currency,
			  "phone": phone,
			  "email": email,
			  "notificationEmail": email,
				  "vendorReference": dataquote.reserved_order_id,
				  "description": "Mailorder Transaction",
			  "billingAddress": {
				"firstName": $("#order-billing_address_firstname").val(),
				"surname": $("#order-billing_address_lastname").val(),
				"address1": $("#order-billing_address_street0").val(),
				"address2": $("#order-billing_address_street1").val(),
				"city": $("#order-billing_address_city").val(),
				"postcode": $("#order-billing_address_postcode").val(),
				"state": $("#order-billing_address_region").val(),
				"country": $("#order-billing_address_country_id").val()
			  },
			  "deliveryAddress": {
				"firstName": $("#order-shipping_address_firstname").val(),
				"surname": $("#order-shipping_address_lastname").val(),
				"address1": $("#order-shipping_address_street0").val(),
				"address2": $("#order-shipping_address_street1").val(),
				"city": $("#order-shipping_address_city").val(),
				"postcode": $("#order-shipping_address_postcode").val(),
				"state": $("#order-shipping_address_region").val(),
				"country": $("#order-shipping_address_country_id").val()
			  },
			  "agent": "WEBSITE",
			  "attended": true,
			  "recurring": false,
			  //"cardOnFileId": "COF-DCN-SYC-AB1",
			  "termsUrl": "https://startfitness.co.uk/terms-and-conditions",
			  "postbackUrl": "https://startfitness.co.uk/terms-and-conditions",
			  "progressPostbacks": false,
			  "createXeroInvoice": false
			};
			//console.log(order);return;
			registerSotpay(sotpaydata);
			
			 //}
		});
		 
	 });
	 var currentsotpaydata = null;
	 var payinterval = null;
	 function registerSotpay(sotpaydata){
		 
		$.ajax
		({
		  type: "POST",
		  //url: "https://sandbox.sotpay.co.uk/service/register?sendEmail=true&sendSms=false",
		  url: "https://payments.sotpay.co.uk/service/register?sendEmail=true&sendSms=false",
		  dataType: 'json',
		  headers: {
			//"Authorization": "Bearer " + "SM5TW0HHY5ARFTQ4L7SE0G8CLTJMNBZY69DL2AS4PNQ0K",
			"Authorization": "Bearer " + "2FFYMZUQP7ZYXG82K70MF60Y9P8TE13DED4W5BLX9ZWCX",
			
		  },
		  data: JSON.stringify(sotpaydata),
		  dataType: "json",
		  contentType: "application/json",
		  success: function (datareturn){
			console.log(datareturn);
			currentsotpaydata = datareturn;
			checkSotPay(currentsotpaydata);
		  }
		});
		 
	 }
	 
	 function checkSotPay(data){
		 $(".sotpayprogress").show();
		 $(".startsotpay").hide();
		 $(".soturn").text(data.urn);
		 $(".sotpaystatus").text(data.status);
		 $(".sotpaytransstatus").text(data.transactionProgress.progress);
		 payinterval = setInterval(function(){ 
			
			$.ajax
			({
			  type: "GET",
			  //url: "https://sandbox.sotpay.co.uk/service/transaction/"+currentsotpaydata.urn,
			  url: "https://payments.sotpay.co.uk/service/transaction/"+currentsotpaydata.urn,
			  dataType: 'json',
			  headers: {
				  //"Authorization": "Bearer " + "SM5TW0HHY5ARFTQ4L7SE0G8CLTJMNBZY69DL2AS4PNQ0K",
				"Authorization": "Bearer " + "2FFYMZUQP7ZYXG82K70MF60Y9P8TE13DED4W5BLX9ZWCX",
			  },
			  success: function (datareturn){
				console.log(datareturn);
				if(datareturn.status == "PAID"){
					clearInterval(payinterval);
					$(".sotpaystatus").text(datareturn.status);
					$("#sotpay_number").val(datareturn.urn);
					$(".sotpayfinished").show();
					$(".sotpayprogress").hide();
					$("#order-billing_method_form input").attr("readonly", true).attr("onclick", "");
					$('#order-billing_method_form input:radio:not(:checked)').attr('disabled', true);
					$("#order-shipping-method-info a").hide();
					order.submit();
				}
				else{
					$(".sotpaytransstatus").text(datareturn.transactionProgress.progress);
					$(".sotpaystatus").text(datareturn.status);
				}
			  }
			});
			
		 
		 }, 3000);
		 
	 }
	 
	 $(".sotrestart").click(function(e){
		e.preventDefault();
		currentsotpaydata = null
		clearInterval(payinterval);
		$(".sotpayfinished").hide();
		$(".sotpayprogress").hide();
		$(".startsotpay").show();
	 });
	 
 });

</script>
