<?php
$_order = $block->getOrder();
$payment = $_order->getPayment();
$paymentInst = $_order->getPayment()->getMethodInstance()->getCode();

if($paymentInst == 'cyclescheme') {
?>
<?php //if ($method == Banktransfer::PAYMENT_METHOD_BANKTRANSFER_CODE) :?>
<div class="admin__page-section-item-content">
   <strong><?php echo __('Redemption Code:') ?></strong>
   <span class="price"><?php echo $payment->getData('redemption'); ?></span>
</div>
<div class="admin__page-section-item-content">
   <strong><?php echo __('Certificate Code:') ?></strong>
   <span class="price"><?php echo $payment->getData('certificate'); ?></span>

</div>
<?php } ?>
