body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #999;
}
#container {
	width: 980px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color:#FFF;
	border: 1px solid #000;
}
#head {
	height: 100px;	
}
#content {
	padding-top:10px;
	padding-bottom: 10px;	
}
#footer {
	text-align:center;
	font-size:10px;	
	margin-top: 1px solid #CCC;
}
td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	border: 1px solid black;
}
table {
    border-collapse: collapse;
}
table, td, th {
   	border: 1px solid green;
	padding: 3px;
}

th {
    	background-color: green;
    	color: white;
}
.whiteBackground {
	background-color: #fff;
}
.grayBackground {
	background-color: #eee;
}
