<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <fieldset data-bind="attr: {class: 'fieldset payment items allbank ' + getCode(), id: 'payment_form_' + getCode()}">
        <div class="field _required">
        <label data-bind="attr: {for: getCode() + '_redemption'}" class="label">
            <span><!-- ko i18n: 'Redemption Code'--><!-- /ko --></span>
        </label>
        <div class="control">
        <input data-validate="{'required-entry':true}" type="text" name="payment[redemption]" class="input-text" value=""
           data-bind="attr: {
          id: getCode() + '_redemption',
          title: $t('Redemption'),
                                    'data-container': getCode() + '-redemption',
                                    'data-validate': JSON.stringify({'required':true})},
                                    valueUpdate: 'keyup' "/>
      </div>

      <label data-bind="attr: {for: getCode() + '_certificate'}" class="label">
          <span><!-- ko i18n: 'Certificate Code'--><!-- /ko --></span>
      </label>
      <div class="control">
      <input data-validate="{'required-entry':true}" type="text" name="payment[certificate]" class="input-text" value=""
         data-bind="attr: {
        id: getCode() + '_certificate',
        title: $t('Certificate'),
                                  'data-container': getCode() + '-certificate',
                                  'data-validate': JSON.stringify({'required':true})},
                                  valueUpdate: 'keyup' "/>
    </div>
    </div>
    </fieldset>
        <p data-bind="html: getInstructions()"></p>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
