<?php $postData = $block->getAllData(); ?>
<?php $report_data = $block->getReportData(); ?>
<?php $currencies = $this->getCurrencies(); ?>
<?php $allStores = $block->getStoreData(); ?>
<?php $report_title = "Daily Takings Extended Report"; ?>

<script type="text/javascript">
	(function($) {
	$(document).delegate("#store_switcher", "change", function(event){
		    	var website = $('option:selected', this).attr('website');
		    	if(website == 'true'){
		    		$("#website").val('true');
		    	}
		    	else{
		    		$("#website").val('false');
		    	}
		    	$("#store_switcher_form").submit();
			});
		})(jQuery);
</script>

<div id="page:main-container">
	<div id="messages"></div>
	<div class="content-header">
		<table cellspacing="0">
			<tbody>
				<tr>
					<td style="width:50%;"><h3 class="icon-head head-adminhtml-report-reportdailytakings"><?php echo $report_title ?></h3></td>
					<td class="form-buttons"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div title="" class="is_prepared block_notices" id="block_notice_listings_grid" subtitle="" collapseable="" hideblock="" always_show="">
		<div class="block_notices_header">
			<div class="block_notices_header_left"><span class="title"><?php echo $report_title ?></span>&nbsp;&nbsp;<span class="subtitle">[Help]</div>
				<div class="block_notices_header_right"></div><div style="clear: both;"></div></div><div style="clear: both;"></div><div style="margin-top: 5px;" class="block_notices_content"><div>
					This report shows the daily takings for the last 7 days 
					<br/>The time period for each day is between 16:30:00 (previous day) to 16:30:00 (next day) 
  			</div>
  		  </div>
  		</div>
	<div>

		<div id="gridReportdailytakingsReport">
			<form action="<? echo $this->getFormAction(); ?>new" id="store_switcher_form" method="POST">
			<p class="switcher">
				<label for="store_switcher">Show Report For:</label>						
				<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />  
				<input type="hidden" name="website" id="website" value="false" />  
				<select id="store_switcher" name="store_id">			
					<option value="">All Websites</option>
					 <?php foreach ($allStores as $_eachStoreId => $val) : ?>
							 <?php $website = $val->getWebsite(); ?>
								<optgroup label="<?php echo $website->getName() ?>"></optgroup>
								<option <?php echo (isset($postData['store_id']) && $postData['store_id'] == $_eachStoreId) ? 'selected' : ''; ?> value="<?php echo $val->getId() ?>"><?php echo $val->getName(); ?></option>
								</optgroup>
					<?php endforeach ?>
				</select>
				<input type="hidden" value="<?php echo (isset($postData['report_from']))?$postData['report_from']:""; ?>" name="report_from" />
				<input type="hidden" value="<?php echo (isset($postData['report_to']))?$postData['report_to']:""; ?>" name="report_to" />				
			<a class="link-store-scope" title="What is this?" onclick="this.target='_blank'" href="http://www.magentocommerce.com/knowledge-base/entry/understanding-store-scopes">What is this?</a>
			</p>

			</form>				

			
			<div class="grid">
				<table cellspacing="0" id="gridReportdailytakingsReport_table" class="data">
					<colgroup>
						<col>
						<col>
						<col>
						<col width="100">
						<col width="100">
					</colgroup>
					<thead>
						<tr class="headings">
							<th class=" no-link"><span class="no-br"></span></th>
							<th class=" no-link"><span class="no-br"><?php echo __('Sales') ?></span></th>
							<th class=" no-link"><span class="no-br"><?php echo __('Orders') ?></span></th>
							<th class=" no-link"><span class="no-br"><?php echo __('Averages') ?></span></th>
							<th class=" no-link"><span class="no-br"><?php echo __('Returns') ?></span></th>
							<th class=" no-link"><span class="no-br"><?php echo __('No.Returns') ?></span></th>							
							<th class=" no-link last"><span class="no-br"><?php echo __('Total') ?></span></th>
							<!--<th class=" no-link last"><span class="no-br"><?php echo __('Parent ID') ?></span></th>-->
						</tr>
					</thead>
					<tbody>
						<?php if(!empty($report_data)): ?>
							<?php $today = true; ?>
							<? foreach($report_data as $item) :
							$currency_symbol_pounds = $block->getCurrencySymbol("GBP");
							?>

								<tr class="">
									<td colspan="" class=""><?php echo __($item['day']); ?></td>
									<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item['total_sales'], 2)); ?></td>
									<td colspan="" class=""><?php echo __($item['orders']); ?></td>
									<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item['averages'], 2)); ?></td>
									<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item['returns'], 2)); ?></td>									
									<td colspan="" class=""><?php echo __($item['no-returns']); ?></td>									
									<td colspan="" class="a-right"><?php echo __($currency_symbol_pounds . number_format($item['total'], 2)); ?></td>
									<!--<td colspan="" class="a-right"><?php echo __($report_data[$i]['parent_id']); ?></td>-->
								</tr>
							<?php $today = false; ?>	
							<?php endforeach; ?>
						<?php else: ?>
							<tr class="even">
								<td colspan="7" class="empty-text a-center"><?php echo __('No data found for this period') ?>.</td>
							</tr>
						<?php endif;?>
					</tbody>
				</table>
			</div>
		</div>


	</div>

</div>

<script>
  require([
	'jquery',
	'mage/translate',
	'mage/calendar'
	], function ($, $t) {
	  $('#period_date_from').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	  $('#period_date_to').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	})
</script>
<?php echo $block->getCss(); ?>

