<?php $report_data = $block->getReportData(); ?>
<?php $allStores = $block->getStoreData(); ?>
<?php $attributeSet_collection = $block->getAttributeSetsCollection(); ?>
<?php $manufacturer_collection = $block->getManufacturerCollection(); ?>
<?php $gender_collection = $block->getGenderCollection(); ?>
<?php //print_r($block->getPostValue()); ?>

<div id="page:main-container">
	<div id="messages">
		<ul class="messages">
			<li class="notice-msg">
				<ul>
					<li>
						<span>Displays product stock in descending order. Orphan simple products are highlighted green.</span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<?php if($block->getTitle()): ?>
        <div class="content-header">
            <table cellspacing="0">
            	<tbody>
	                <tr>
	                    <td style="width:50%;"><h3 class="icon-head"><?php echo $block->getTitle(); ?></h3></td>
						<td class="form-buttons"></td>
	                </tr>
                </tbody>
            </table>
        </div>
     <?php endif ?>
	<div>

		<div id="grid<?php echo $block->getId(); ?>Report">
			<div class="entry-edit">
				<form id="filter_form" method="POST" action="">
					<input type="hidden" name="form_key" value="<?php  echo $block->getFormKey(); ?>" />
					<input type="hidden" id="filter_product_type" name="product_type" value="<?php echo (isset($postData['product_type'])) ? $postData['product_type'] : ""; ?>" />
					<div class="entry-edit-head">
						<h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
					</div>
					<div id="sales_report_base_fieldset" class="fieldset ">
						<div class="hor-scroll">
							<table cellspacing="0" class="form-list">
								<tbody>
									<tr>
										<td class="label"><label for="sales_report_gender">Gender</label></td>
										<td class="value">
										<select class=" select" name="gender" id="sales_report_gender">
											<?php foreach($gender_collection as $key=>$gender) : ?>
											<option <?php echo $key == $block->getPostValue('gender') ? 'selected' : ''; ?> value="<?php echo $key; ?>"><?php echo $gender; ?></option>
											<?php endforeach; ?>
										</select>
										<p id="note_gender" class="note">
											<span>Search By Gender</span>
										</p></td>
									</tr>
									<tr>
										<td class="label"><label for="sales_report_manufacturer">Manufacturer</label></td>
										<td class="value">
										<select class=" select" name="manufacturer">
											<?php foreach($manufacturer_collection as $key=>$manufacturer) : ?>
											<option <?php echo $key == $block->getPostValue('manufacturer') ? 'selected' : ''; ?> value="<?php echo $key; ?>"><?php echo $manufacturer; ?></option>
											<?php endforeach; ?>
										</select>
										<p id="note_manufacturer" class="note">
											<span>Search By Manufacturer</span>
										</p></td>
									</tr>
									<?php if(!empty($attributeSet_collection)): ?>
									<tr>
										<td class="label"><label for="attributeset">Attribute Set</label></td>
										<td class="value">
										<select multiple class="multiselect attributes-select" name="attributeset_ids[]">
												<?php foreach($attributeSet_collection as $key=>$attributeSet) : ?> 
												   <option <?php echo in_array($key, ($block->getPostValue('attributeset_ids') == null) ? [] : $block->getPostValue('attributeset_ids')) ? 'selected' : ''; ?> value="<?php echo $key ?>"><?php echo $attributeSet;?></option>
												<?php endforeach; ?>
										</select>
										<p id="note_attributeset" class="note">
											<span>Search By Attribute Set</span>
										</p></td>
									</tr>
									<?php endif; ?>
									<?php if(!empty($allStores)): ?>
									<tr>
									<td class="label"><label for="store_view">Store View <span class="required">*</span></label></td>
									<td class="value">
									<select multiple class="multiselect store-select" name="store_ids[]">
												<?php foreach ($allStores as $_eachStoreId => $val) : ?>
														 <?php $website = $val->getWebsite(); ?>
															<optgroup label="<?php echo $website->getName() ?>"></optgroup>
															<option <?php echo (isset($postData['store_id']) && $postData['store_id'] == $_eachStoreId) ? 'selected' : ''; ?> value="<?php echo $val->getId() ?>"><?php echo $val->getName(); ?></option>
															</optgroup>
												<?php endforeach ?>
										</select>
										<p class="note">
											<span>Select store view</span>
										</p></td>
									</tr>
									<?php endif; ?>
									<tr>
										<td class="label"><label for="limit_products">Limit Product Groups</label></td>
										<td class="value">
										<select class="select required-entry" name="limit_products">
												<option <?php echo ($block->getPostValue('limit_products') == '10') ? 'selected' : ''; ?> value="10">10</option>
												<option <?php echo ($block->getPostValue('limit_products') == '50') ? 'selected' : ''; ?> value="50">50</option>
												<option <?php echo ($block->getPostValue('limit_products') == '100') ? 'selected' : ''; ?> value="100">100</option>
												<option <?php echo ($block->getPostValue('limit_products') == '500') ? 'selected' : ''; ?> value="500">500</option>
										</select>
										<p class="note">
											<span>Limits the number of product groups displayed</span>
										</p></td>
									</tr>
									<tr>
										<td class="a-left filter">
										</td>
										<td class="a-right">
											<div class="f-right">
												<button style="" onclick="filterFormSubmit()" class="scalable task" type="submit" title="Refresh">
													<span>Show Report</span>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			
			<table cellspacing="0" class="actions">
				<tbody>
					<tr>
						<td class="a-right">
							<form action="<?php echo $block->getFormAction(); ?>exportCsv" method="POST">
							<input type="hidden" name="form_key" value="<?php  echo $block->getFormKey(); ?>" />
							<?php foreach (($block->getPostValue('store_ids') == null) ? [] : $block->getPostValue('store_ids') as $store_id) : ?>
								 <input type="hidden" name="store_ids[]" value="<?php  echo $store_id; ?>" />
							<?php endforeach ?>
							<?php foreach (($block->getPostValue('attributeset_ids') == null) ? [] : $block->getPostValue('attributeset_ids') as $attribute_set) : ?>
								 <input type="hidden" name="attributeset_ids[]" value="<?php  echo $attribute_set; ?>" />
							<?php endforeach ?>
							<input type="hidden" name="gender" value="<?php  echo $block->getPostValue('gender'); ?>" />
							<input type="hidden" name="manufacturer" value="<?php  echo $block->getPostValue('manufacturer'); ?>" />
							<input type="hidden" name="limit_products" value="<?php echo $block->getPostValue('limit_products'); ?>" />
							<img class="v-middle" alt="" src="<?php echo str_ireplace('index.php/', '', $block->getBaseUrl()); ?>/skin/adminhtml/default/enterprise/images/icon_export.gif">&nbsp; Export to:
							<select style="width:8em;" id="grid<?php echo $block->getId(); ?>Report_export" name="grid<?php echo $block->getId(); ?>Report_export">	
								<option value="">Excel</option>
							</select>
							<button style="" class="scalable task" type="submit" title="Refresh">
								<span>Export</span>
							</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="grid">
				<table cellspacing="0" id="grid<?php echo $block->getId(); ?>Report_table" class="data">
					<thead>
						<tr class="headings">
							<?php foreach((isset($report_data['columns'])) ? $report_data['columns'] : [] as $key=>$header): ?>
								<th class="no-link <?php echo $key == 0 ? 'first' : ''?><?php echo $key == count($block->getTableHeaders()) ? 'last' : ''?>">
									<span class="no-br"><?php echo __($header['header']); ?></span>
								</th>
							<?php endforeach; ?>
						</tr>
					</thead>
					<tbody>

						<?php if(!empty($report_data['data'])): ?>
							<?php $totals = array(); ?>
							<?php foreach($report_data['data'] as $key=>$data): ?>
								<?php //print_r($data['parent']); die; ?>
										<tr class="<?php echo $data['parent']['is_orphan'] == 1 ? 'green-font' : ''; ?>">
										<?php foreach($report_data['columns'] as $col_key=>$col_value): ?>
											<?php if(isset($col_value['totals']) && $col_value['totals']){
													  $totals[$col_value['column']] += $data['parent'][$col_value['column']];
												  }
												?>
													<td colspan="" class="">
														<strong>
														<?php if(isset($col_value['render'])): ?>
															<?php echo $block->renderColumn($data['parent'][$col_value['column']], $col_value['render']); ?>
														<?php else: ?>
															<?php if($col_value['type'] == 'text'): ?>
																<?php echo __($data['parent'][$col_value['column']]); ?>
															<?php elseif($col_value['type'] == 'number'): ?>
																<?php echo number_format(($data['parent'][$col_value['column']])); ?>
															<?php elseif($col_value['type'] == 'price'): ?>
																<?php echo __(number_format($data['parent'][$col_value['column']],2)); ?>
															<?php else: ?>
																<?php echo __($data['parent'][$col_value['column']]); ?>
															<?php endif; ?>
														<?php endif; ?>
														</strong>
													</td>													
										<?php endforeach; ?>
										</tr>
										<?php foreach($data['child']??[] as $child_key=>$child_data): ?>
											<?php //print_r($child_data); die; ?>
										<tr class="">
										<?php foreach($report_data['columns'] as $col_key=>$col_value): ?>
											<?php if(isset($col_value['totals']) && $col_value['totals']){
													  $totals[$col_value['column']] += $child_data[$col_value['column']];
												  }
												?>
													<td colspan="" class="">
														<?php if(isset($col_value['render'])): ?>
															<?php echo $block->renderColumn($child_data[$col_value['column']], $col_value['render']); ?>
														<?php else: ?>
															<?php if($col_value['type'] == 'text'): ?>
																<?php echo __($child_data[$col_value['column']]); ?>
															<?php elseif($col_value['type'] == 'number'): ?>
																<?php echo number_format($child_data[$col_value['column']]); ?>
															<?php elseif($col_value['type'] == 'price'): ?>
																<?php echo __(number_format($child_data[$col_value['column']],2)); ?>
															<?php else: ?>
																<?php echo __($child_data[$col_value['column']]); ?>
															<?php endif; ?>
														<?php endif; ?>
													</td>													
										<?php endforeach; ?>
										</tr>
										<?php endforeach; ?>
										<?php if($key == (count($report_data['data']))-1): ?>
											</tbody>
											<tfoot>
											<tr class="">
												<?php foreach($report_data['columns'] as $col_key=>$col_value): ?>
													<?php if(array_key_exists($col_value['column'], $totals)): ?>
														<th colspan="" class="">
														<?php if($col_value['type'] == 'text'): ?>
															<?php echo __($totals[$col_value['column']]); ?>
														<?php elseif($col_value['type'] == 'number'): ?>
															<?php echo __($totals[$col_value['column']]); ?>
														<?php elseif($col_value['type'] == 'price'): ?>
															<?php echo __(number_format($totals[$col_value['column']],2)); ?>
														<?php else: ?>
															<?php echo __($totals[$col_value['column']]); ?>
														<?php endif; ?>
														</th>
													<?php else: ?>
														<th colspan="" class=""><?php echo $col_key == 0 ? 'Total' : ''; ?></th>
													<?php endif; ?>
												<?php endforeach; ?>													
											</tr>
											</tfoot>
										<?php endif; ?>
										
							<?php endforeach; ?>
						<?php else: ?>
							<tr class="even">
								<td colspan="<?php echo count(isset($report_data['columns'])?$report_data['columns']:""); ?>" class="empty-text a-center"><?php echo __('No records found for this period') ?>.</td>
							</tr>
						<?php endif;?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
  require([
	'jquery',
	'mage/translate',
	'mage/calendar'
	], function ($, $t) {
	  $('#period_date_from').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	  $('#period_date_to').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	})
</script>
<?php echo $block->getCss(); ?>