<?php $postData = $block->getAllData(); ?>
<?php $report_data = $block->getReportData(); ?>
<?php $allStores = $block->getStoreData(); ?>

<div id="page:main-container" class="customm1grid">
	<div id="messages">
		<ul class="messages">
			<li class="notice-msg">
				<ul>
					<li>
						<span>This report displays invoices from EU countries only (excluding UK) with a grand total of least €160 and above.</span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<?php if($this->getTitle()): ?>
        <div class="content-header">
            <table cellspacing="0">
            	<tbody>
	                <tr>
	                    <td style="width:50%;"><h3 class="icon-head"><?php echo $this->getTitle(); ?></h3></td>
						<td class="form-buttons"></td>
	                </tr>
                </tbody>
            </table>
        </div>
     <?php endif ?>
		
	<div>
		<div id="grid<?php echo $this->getId(); ?>Report">			
			<form action="<? echo $this->getCurrentUrl(); ?>" method="POST">
			<p class="switcher">
				<label for="store_switcher">Show Report For:</label>												
				<select id="store_switcher" name="store_id">			
					<option value="">All Websites</option>
					 <?php foreach ($allStores as $_eachStoreId => $val) : ?>
							 <?php $website = $val->getWebsite(); ?>
								<optgroup label="<?php echo $website->getName() ?>"></optgroup>
								<option <?php echo (isset($postData['store_id']) && $postData['store_id'] == $_eachStoreId) ? 'selected' : ''; ?> value="<?php echo $val->getId() ?>"><?php echo $val->getName(); ?></option>
								</optgroup>
					<?php endforeach ?>
				</select>										
				<a class="link-store-scope" title="What is this?" onclick="this.target='_blank'" href="http://www.magentocommerce.com/knowledge-base/entry/understanding-store-scopes">What is this?</a>
			</p>		
			<table cellspacing="0" class="actions">
				<tbody>
					<tr>
						<td class="a-left filter">											    
								<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />					    
								<div class="f-left">
									<div>
										From:&nbsp;
										<input type="text"  value="<?php echo isset($postData['report_from']) ? $postData['report_from'] : ''; ?>" name="report_from" id="period_date_from" class="input-text no-changes required-entry">
										<img class="v-middle" alt="Select Date" id="period_date_from_trig" title="Select Date" src="<?php echo strpos($block->getBaseUrl(),'https') !== false ? str_ireplace('index.php/', '', $block->getBaseUrl()) : str_ireplace(array('http','index.php/'), array('https',''), $block->getBaseUrl()); ?>skin/adminhtml/default/enterprise/images/grid-cal.gif">&nbsp;&nbsp;
									</div>
									<div id="period_date_from_advaice"></div>
								</div>
								<div class="f-left">
									<div>
										To:&nbsp;
										<input type="text"  value="<?php echo isset($postData['report_to']) ? $postData['report_to'] : ''; ?>" name="report_to" id="period_date_to" class="input-text no-changes required-entry">
										<img alt="Select Date" id="period_date_to_trig" title="Select Date" class="v-middle" src="<?php echo strpos($block->getBaseUrl(),'https') !== false ? str_ireplace('index.php/', '', $block->getBaseUrl()) : str_ireplace(array('http','index.php/'), array('https',''), $block->getBaseUrl()); ?>skin/adminhtml/default/enterprise/images/grid-cal.gif">&nbsp;&nbsp;
									</div>
									<div id="period_date_to_advaice"></div>
								</div>
								<div class="f-left">
									<button style="" class="scalable task" type="submit" title="Refresh">
										<span>Show Report</span>
									</button>
								</div>						
							</form>
						</td>
						<td class="a-right">							
							<form action="<? echo $this->getFormAction(); ?>exportCsv" method="POST">							
								<input type="hidden" name="form_key" value="<? echo $block->getFormKey(); ?>" />							
								<input type="hidden" name="store_id" value="<? echo (isset($postData['store_id'])) ? $postData['store_id'] : ""; ?>" />							
								<input type="hidden" value="<?php echo  (isset($postData['report_from'])) ? $postData['report_from'] : ""; ?>" name="report_from" />							
								<input type="hidden" value="<?php echo  (isset($postData['report_to'])) ? $postData['report_to'] : ""; ?>" name="report_to" />							
								<img class="v-middle" alt="" src="<?php echo str_ireplace('index.php/', '', $block->getBaseUrl()); ?>/skin/adminhtml/default/enterprise/images/icon_export.gif">&nbsp; Export to:	
								<select style="width:8em;" id="grid<?php echo $this->getId(); ?>Report_export" name="grid<?php echo $this->getId(); ?>Report_export">									
									<option value="">Excel</option>							
								</select>							
								<button style="" class="scalable task" type="submit" title="Refresh">												
									<span>Export</span>							
								</button>							
							</form>						
						</td>
					</tr>
				</tbody>
			</table>												

			<div class="grid">
				<table cellspacing="0" id="grid<?php echo $this->getId(); ?>Report_table" class="data">
					<colgroup>
						<col>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<thead>
						<tr class="headings">
	                        <th class=" no-link"><span class="no-br"><?php echo __('Invoice') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Created') ?></span></th>
	                        <!--<th class=" no-link"><span class="no-br"><?php echo __('Purchased On') ?></span></th>-->
	                        <th class=" no-link"><span class="no-br"><?php echo __('Bill to Name') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Purchased From') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Country Code') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Item Subtotal (inc tax)') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Shipping (inc tax)') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Discount') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('VAT') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Order Total (inc tax)') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Product Name') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Model Number') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('SKU') ?></span></th>
	                        <th class=" no-link"><span class="no-br"><?php echo __('Qty') ?></span></th>
	                        <th class=" no-link last"><span class="no-br"><?php echo __('Price (inc tax)') ?></span></th>
						</tr>
					</thead>
										
					<tbody>
						<?php if(!empty($report_data)): ?>
							<?php foreach($report_data as $data) : ?>
								<?php if(!empty($data['creditmemo_items'])): ?>
									<?php $firstrow = true; ?>
									<tr class="even">
										<td colspan="" class=""><?php echo __($data['order_increment_id']); ?></td>
										<td colspan="" class=""><?php echo __($data['created_at']); ?></td>
										<!--<td colspan="" class=""><?php echo __($data['purchased_on']); ?></td>-->
										<td colspan="" class=""><?php echo __($data['billto_name']); ?></td>
										<td colspan="" class=""><?php echo __($data['store_name']); ?></td>
										<td colspan="" class=""><?php echo __($data['country_id']); ?></td>
										<!--<td colspan="" class=""><?php echo __($data['shipto_city']); ?></td>-->
										<td colspan="" class=""><?php echo number_format($data['base_subtotal_incl_tax'],2); ?></td>
										<td colspan="" class=""><?php echo number_format($data['base_shipping_incl_tax'],2); ?></td>
										<td colspan="" class=""><?php echo number_format($data['base_discount_amount'],2); ?></td>
										<td colspan="" class=""><?php echo number_format($data['base_tax_amount'],2); ?></td>
										<td colspan="" class=""><?php echo number_format($data['base_grand_total'],2); ?></td>
										<td colspan="" class=""></td>
										<td colspan="" class=""></td>
										<td colspan="" class=""></td>
										<td colspan="" class=""></td>
										<td colspan="" class=""></td>				
									</tr>
									<?php foreach($data['creditmemo_items'] as $items) : ?>
										 <?php $_product = $block->getBySku($items['sku']); ?>
										 <?php 
											$model='Product no longer exists';
											if($_product){
												$model=$_product->getData('actual_model');
											}
										?>
										<tr class="even">
										<?php if($firstrow): ?>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<!--<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>-->
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
											<td colspan="" rowspan="<?php echo count($data['creditmemo_items']); ?>" class=""></td>
										<?php $firstrow = false; ?>
										<?php endif; ?>
											<td colspan="" class=""><strong><?php echo __($items['name']); ?></strong></td>
											<td colspan="" class=""><strong><?php echo __($model); ?></strong></td>
											<td colspan="" class=""><strong><?php echo __($items['sku']); ?></strong></td>
											<td colspan="" class=""><strong><?php echo __($items['qty']); ?></strong></td>
											<td colspan="" class=""><strong><?php echo number_format($items['base_row_total_incl_tax'],2); ?></strong></td>	
										</tr>
								<?php endforeach; ?>
							<?php endif; ?>
						<?php endforeach; ?>
						<?php else: ?>
							<tr class="even">
								<td colspan="15" class="empty-text a-center"><?php echo __('No records found for this period') ?>.</td>
							</tr>
						<?php endif;?>
					</tbody>
				</table>
			</div>
		</div>
			
		   
	</div>
</div>
<script>
  require([
	'jquery',
	'mage/translate',
	'mage/calendar'
	], function ($, $t) {
	  $('#period_date_from').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	  $('#period_date_to').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	})
</script>
<?php echo $block->getCss(); ?>