<?php  

$postData = $block->getAllData();
$allStores = $block->getStoreData(); 
$configurable_collection = $block->getProductCollection('configurable');
$simple_collection = $block->getProductCollection('simple');
$currency_symbol_pounds = $block->getCurrencySymbol("GBP");

//die;
//$category_collection = $this->getCategoriesCollection($postData['store_id']);
$attributeSet_collection = $block->getAttributeSetsCollection();
$manufacturer_collection = $block->getManufacturerCollection();
$gender_collection = $block->getGenderCollection();
$report_title = "Products Group Report";
?>

<script type="text/javascript">
	(function($) {
		 
	$(document).delegate("#store_switcher", "change", function(event){
		   // $("#store_switcher").change(function(){
		    	var store_id = 0;
		   		if($(this).val() != ''){
		   			store_id = $(this).val();
		   		}
		    	if(store_id != null){
		    		$('#filter_store_id').val(store_id);
		    	}
			}); 

		})(jQuery);
</script>

<div id="page:main-container">
	<div id="messages">
		<ul class="messages">
			<li class="notice-msg">
				<ul>
					<li>
						<span><p>This report shows sales data for product parents and their respective versions within the defined time period. 
							<br/>The filter allows the results to be filtered by gender, manufacturer and attribute set. 
							<br/>The store must be selected in order to populate the categories specific to that store within the category selection box.  
							<br/>When the defined date range covers multiple days (i.e 2013/12/18 to 2013/12/20), the results are displayed for each day.
							<br/>The time period for each day is between 09:00:00 (previous day) to 08:59:00 (next day)</p></span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="content-header">
		<table cellspacing="0">
			<tbody>
				<tr>
					<td style="width:50%;"><h3 class="icon-head head-adminhtml-report-reportproductsales"><?php echo $report_title ?></h3></td>
					<td class="form-buttons"></td>
				</tr>
			</tbody>
		</table>
	</div>
		<div id="gridReportproductgroupReport">
			<form action="<? echo $this->getFormAction(); ?>new" id="store_switcher_form" method="POST">
			<p class="switcher">
				<label for="store_switcher">Show Report For:</label>						
				<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />  
				<input type="hidden" name="website" id="website" value="false" />  
				<select id="store_switcher" name="store_id">			
					<option value="">All Websites</option>
					 <?php foreach ($allStores as $_eachStoreId => $val) : ?>
							 <?php $website = $val->getWebsite(); ?>
								<optgroup label="<?php echo $website->getName() ?>"></optgroup>
								<option <?php echo (isset($postData['store_id']) && $postData['store_id'] == $_eachStoreId) ? 'selected' : ''; ?> value="<?php echo $val->getId() ?>"><?php echo $val->getName(); ?></option>
								</optgroup>
					<?php endforeach ?>
				</select>
				<input type="hidden" value="<?php echo (isset($postData['report_from']))?$postData['report_from']:""; ?>" name="report_from" />
				<input type="hidden" value="<?php echo (isset($postData['report_to']))?$postData['report_to']:""; ?>" name="report_to" />				
			<a class="link-store-scope" title="What is this?" onclick="this.target='_blank'" href="http://www.magentocommerce.com/knowledge-base/entry/understanding-store-scopes">What is this?</a>
			</p>

			</form>	
			
			<div class="entry-edit">
				<form method="POST" action="<? echo $this->getFormAction(); ?>postfilter">
					<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />
					<input type="hidden" id="filter_store_id" name="store_id" value="<?php echo $postData['store_id']; ?>" />
					
					<div></div>
					<div class="entry-edit-head">
						<h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
						<div class="form-buttons"></div>
					</div>
					<div id="sales_report_base_fieldset" class="fieldset ">
						<div class="hor-scroll">
							<table cellspacing="0" class="form-list">
								<tbody>	
									<tr>
										<td class="label"><label for="sales_report_to">Date Range <span class="required">*</span></label></td>
										<td class="value">
										<div class="f-left">
											<div>
												From:&nbsp;
												<input type="text" value="<?php echo isset($postData['report_from']) ? $postData['report_from'] : ''; ?>" name="report_from" id="period_date_from" class="input-text no-changes required-entry">
												<img class="v-middle" alt="Select Date" id="period_date_from_trig" title="Select Date" src="<?php echo strpos($this->getBaseUrl(),'https') !== false ? str_ireplace('index.php/', '', $this->getBaseUrl()) : str_ireplace(array('http','index.php/'), array('https',''), $this->getBaseUrl()); ?>skin/adminhtml/default/enterprise/images/grid-cal.gif">&nbsp;&nbsp;
											</div>
											<div id="period_date_from_advaice"></div>
										</div>
										<div class="f-left">
											<div>
												To:&nbsp;
												<input type="text"  value="<?php echo isset($postData['report_to']) ? $postData['report_to'] : ''; ?>" name="report_to" id="period_date_to" class="input-text no-changes required-entry">
												<img alt="Select Date" id="period_date_to_trig" title="Select Date" class="v-middle" src="<?php echo strpos($this->getBaseUrl(),'https') !== false ? str_ireplace('index.php/', '', $this->getBaseUrl()) : str_ireplace(array('http','index.php/'), array('https',''), $this->getBaseUrl()); ?>skin/adminhtml/default/enterprise/images/grid-cal.gif">&nbsp;&nbsp;
											</div>
											<div id="period_date_to_advaice"></div>
										</div>
										</td>
									</tr>
									<tr>
										<td class="label"><label for="sales_report_gender">Gender</label></td>
										<td class="value">
										<select class=" select" name="gender" id="sales_report_gender">
											<?php foreach($gender_collection as $key=>$gender) : ?>
											<option <?php echo $key == $postData['gender'] ? 'selected' : ''; ?> value="<?php echo $key; ?>"><?php echo $gender; ?></option>
											<?php endforeach; ?>
										</select>
										<p id="note_gender" class="note">
											<span>Search By Gender</span>
										</p></td>
									</tr>
									<tr>
										<td class="label"><label for="sales_report_manufacturer">Manufacturer</label></td>
										<td class="value">
										<select class=" select" name="manufacturer">
											<?php foreach($manufacturer_collection as $key=>$manufacturer) : ?>
											<option <?php echo $key == $postData['manufacturer'] ? 'selected' : ''; ?> value="<?php echo $key; ?>"><?php echo $manufacturer; ?></option>
											<?php endforeach; ?>
										</select>
										<p id="note_manufacturer" class="note">
											<span>Search By Manufacturer</span>
										</p></td>
									</tr>
									<?php if(!empty($attributeSet_collection)): ?>
									<tr>
										<td class="label"><label for="attributeset">Attribute Set</label></td>
										<td class="value">
										<select multiple class="multiselect categories-select" name="attributeset_ids[]">
												<?php foreach($attributeSet_collection as $key=>$attributeSet) : ?> 
												   <option <?php echo in_array($key, $postData['attributeset_ids'] ?? []) ? 'selected' : ''; ?> value="<?php echo $key ?>"><?php echo $attributeSet;?></option>
												<?php endforeach; ?>
										</select>
										<p id="note_attributeset" class="note">
											<span>Search By Attribute Set</span>
										</p></td>
									</tr>
									<?php endif; ?>
									<tr>
										<td class="a-left filter">
										</td>
										<td class="a-right">
											<div class="f-right">
												<button style="" class="scalable task" type="submit" title="Refresh">
													<span><span><span>Refresh</span></span></span>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
				
			</div>
	
			
			<table cellspacing="0" class="actions">
				<tbody>
					<tr>
						<td class="a-right">
							<form action="<? echo $this->getFormAction(); ?>exportCsv" method="POST">
							<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />
							<input type="hidden" name="store_id" value="<? echo $postData['store_id']; ?>" />
							<input type="hidden" value="<?php echo $postData['report_from']; ?>" name="report_from" />
							<input type="hidden" value="<?php echo $postData['report_to']; ?>" name="report_to" />
							<input type="hidden" value="<?php echo $postData['manufacturer']; ?>" name="manufacturer" />
							<input type="hidden" value="<?php echo $postData['gender']; ?>" name="gender" />
							<?php foreach($postData['attributeset_ids'] ?? [] as $cat): ?>
								<input type="hidden" value="<?php echo $cat; ?>" name="attributeset_ids[]" />
							<?php endforeach; ?>
							<img class="v-middle" alt="" src="<?php echo str_ireplace('index.php/', '', $this->getBaseUrl()); ?>/skin/adminhtml/default/enterprise/images/icon_export.gif">&nbsp; Export to:
							<select style="width:8em;" id="gridReportproductgroupReport_export" name="gridReportproductgroupReport_export">	
								<option value="">Excel</option>
							</select>
							<button style="" class="scalable task" type="submit" title="Refresh">
												<span><span><span>Export</span></span></span>
							</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			
			
			<?php if(!empty($configurable_collection)) : ?>
				<?php foreach($configurable_collection as $key=>$product_collection) : ?>
					<?php //$_category = Mage::getModel('catalog/category')->load($key); ?>
					<?php   
						$attributeSetModel = $block->getAttribute($key);
						//$attributeSetModel->load($key);
					?>
					<div class="entry-edit report-group">
					    <div class="entry-edit-head"><h4><?php echo __($attributeSetModel->getAttributeSetName()); ?></h4></div>        
						<?php if($product_collection->getSize() > 0) : ?>
							<?php foreach($product_collection as $item) : ?>
								
								 <?php
								  	// $product = Mage::getModel('catalog/product')->load($item->getId());
									 $simple_collection = $item->getTypeInstance()->getUsedProducts($item);
									 
									 $simple_count = count($simple_collection);
									 // Collect options applicable to the configurable product
									 try{
									$productAttributeOptions = $item->getTypeInstance(true)->getConfigurableAttributesAsArray($item);
									 }
									 catch (Exception $e)
									 {
									 	echo "Exception";
									 }
									
									$attributeOptions = array();
									$codeIsSet = false;
									foreach ($productAttributeOptions as $productAttribute) {
									    foreach ($productAttribute['values'] as $attribute) {
									        $attributeOptions[$attribute['value_index']] = $attribute['store_label'];
											if(!$codeIsSet){
												$product_attribute_code = $productAttribute['attribute_code'];
												$codeIsSet = true;
											}
										}
									}
									
									//print_r($attributeOptions); die;
								 ?>
							    <div class="grid">    	
								       <table style="width: <?php echo 490 + (count($simple_collection) * 80); ?>px;" cellspacing="0" id="gridReportproductgroupReport_table" class="data">		
										<colgroup>		
											<col width="300">		
											<col width="70">		
											<col width="70">		
											<col width="50">		
											<?php for($i=0;$i<count($simple_collection);$i++) : ?>
												<col width="80">
											<?php endfor; ?>	
										</colgroup>
					
										<thead>		
											<tr class="headings">		
												<th class=" no-link"><span class="no-br"><?php echo __(ucfirst($item->getTypeId()) . ' Product (' . $item->getActualModel() . ')') ?></span></th>		
												<th class=" no-link"><span class="no-br"><?php echo __('RRP') ?></span></th>		
												<th class=" no-link"><span class="no-br"><?php echo __('Price') ?></span></th>		
												<th class=" no-link"><span class="no-br"><?php echo __('Stock') ?></span></th>
												
												<?php 
												$simples_stock = array();
												$simples_ordered = array(); 
												$total_stock = 0;
												$total_ordered = 0;
												?>
												<?php foreach($simple_collection as $simple_product) : ?>
												<?php 
												$stock = $block->getStockItem($simple_product->getEntityId());
												$simples_stock[] = $stock->getQty();
												$total_stock += $stock->getQty();
												$product_name_array = explode(' ', $simple_product->getName());
												$qty_ordered = $this->getQtyOrdered($simple_product->getId());
												$simples_ordered[] = $qty_ordered;
												$total_ordered += $qty_ordered;								
												?>
												<th class=" no-link last"><span class="no-br"><?php echo $attributeOptions[$simple_product->getData($product_attribute_code)]; ?></span></th>
												
												 <?php endforeach; ?>
					
											</tr>		
										</thead>		
										<tbody>										
											  <tr class="">		
													<td colspan="" class=""><?php echo __($item->getName()); ?></td>		
													<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item->getMsrp(),2)); ?></td>		
													<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item->getPrice(),2)); ?></td>	
													<td colspan="" class=""><?php echo isset($total_stock) ? $total_stock : '0'; ?></td>											
													<?php for($i = 0; $i < count($simples_stock); $i++) : ?>										
													<td colspan="" class=""><?php echo __(number_format($simples_stock[$i])); ?></td>										
													<?php endfor; ?>											
											  </tr>									  
											  <tr class="">		
													<td colspan="" class=""></td>		
													<td colspan="" class=""></td>		
													<td colspan="" class=""></td>		
													<td colspan="" class="<?php echo $total_ordered > 0 ? 'green-highlight' : ''; ?>"><strong><?php echo isset($total_ordered) ? $total_ordered : '0'; ?></strong></td>										
													<?php for($i = 0; $i < count($simples_ordered); $i++) : ?>											
													<td colspan="" class="<?php echo $simples_ordered[$i] > 0 ? 'green-highlight' : ''; ?>"><?php echo __(number_format($simples_ordered[$i])); ?></td>									
													<?php endfor; ?>											
											  </tr>		
										</tbody>		
									</table>					
								</div>
							<?php endforeach; ?>
							<?php else: ?>				
							<div class="grid">			    	
							       <table cellspacing="0" id="gridReportproductgroupReport_table" class="data">
							       	<colgroup>		
										<col width="300">		
										<col width="100">		
										<col width="100">		
										<col width="100">			
									</colgroup>
									<thead>		
										<tr class="headings">		
											<th class=" no-link"><span class="no-br"><?php echo __('Configurable Product') ?></span></th>		
											<th class=" no-link"><span class="no-br"><?php echo __('RRP') ?></span></th>		
											<th class=" no-link"><span class="no-br"><?php echo __('Price') ?></span></th>		
											<th class=" no-link"><span class="no-br"><?php echo __('Stock') ?></span></th>		
										</tr>		
									</thead>
									<tbody>
									<tr class="even">
										<td colspan="4" class="empty-text a-center"><?php echo __('No configurable products found') ?>.</td>
									</tr>
									</tbody>
								</table>
							</div>
							<?php endif; ?>
							
							<?php if(count($simple_collection[$key]) > 0) : ?>
							<?php foreach($simple_collection[$key] as $simple) : ?>
								
							    <div class="grid">    	
								       <table style="width:570px;" cellspacing="0" id="gridReportproductgroupReport_table" class="data">		
										<colgroup>		
											<col width="300">		
											<col width="70">		
											<col width="70">		
											<col width="50">
										</colgroup>
					
										<thead>		
											<tr class="headings">		
												<th class=" no-link"><span class="no-br"><?php echo __(ucfirst($simple->getTypeId()) . ' Product (' . $simple->getActualModel() . ')') ?></span></th>		
												<th class=" no-link"><span class="no-br"><?php echo __('RRP') ?></span></th>		
												<th class=" no-link"><span class="no-br"><?php echo __('Price') ?></span></th>		
												<th class=" no-link"><span class="no-br"><?php echo __('Stock') ?></span></th>
												<?php 
												$stock = $simple->getExtensionAttributes()->getStockItem();
												$stock_qty = number_format($stock->getQty());
												$qty_ordered = $this->getQtyOrdered($simple->getId());						
												?>
											</tr>		
										</thead>		
										<tbody>										
											  <tr class="">		
													<td colspan="" class=""><?php echo __($simple->getName()); ?></td>		
													<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($simple->getMsrp(),2)); ?></td>		
													<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($simple->getPrice(),2)); ?></td>	
													<td colspan="" class=""><?php echo isset($stock_qty) ? $stock_qty : '0'; ?></td>							
											  </tr>									  
											  <tr class="">		
													<td colspan="" class=""></td>		
													<td colspan="" class=""></td>		
													<td colspan="" class=""></td>		
													<td colspan="" class="<?php echo $qty_ordered > 0 ? 'green-highlight' : ''; ?>"><strong><?php echo isset($qty_ordered) ? number_format($qty_ordered) : '0'; ?></strong></td>										
											  </tr>		
										</tbody>		
									</table>					
								</div>
							<?php endforeach; ?>
							<?php else: ?>				
							<div class="grid">			    	
							       <table cellspacing="0" id="gridReportproductgroupReport_table" class="data">
							       	<colgroup>		
										<col width="300">		
										<col width="100">		
										<col width="100">		
										<col width="100">			
									</colgroup>
									<thead>		
										<tr class="headings">		
											<th class=" no-link"><span class="no-br"><?php echo __('Simple Product') ?></span></th>		
											<th class=" no-link"><span class="no-br"><?php echo __('RRP') ?></span></th>		
											<th class=" no-link"><span class="no-br"><?php echo __('Price') ?></span></th>		
											<th class=" no-link"><span class="no-br"><?php echo __('Stock') ?></span></th>		
										</tr>		
									</thead>
									<tbody>
									<tr class="even">
										<td colspan="4" class="empty-text a-center"><?php echo __('No simple products found') ?>.</td>
									</tr>
									</tbody>
								</table>
							</div>
							<?php endif; ?>
							
							
							</div>
				<?php endforeach; ?>
				
				<?php else: ?>				
					<div class="grid">			    	
					       <table cellspacing="0" id="gridReportproductgroupReport_table" class="data">
					       	<colgroup>		
								<col width="300">		
								<col width="100">		
								<col width="100">		
								<col width="100">			
							</colgroup>
							<thead>		
								<tr class="headings">		
									<th class=" no-link"><span class="no-br"><?php echo __('Product') ?></span></th>		
									<th class=" no-link"><span class="no-br"><?php echo __('RRP') ?></span></th>		
									<th class=" no-link"><span class="no-br"><?php echo __('Price') ?></span></th>		
									<th class=" no-link"><span class="no-br"><?php echo __('Stock') ?></span></th>		
								</tr>		
							</thead>
							<tbody>
							<tr class="even">
								<td colspan="54" class="empty-text a-center"><?php echo __('No products found') ?>.</td>
							</tr>
							</tbody>
						</table>
					</div>
			<?php endif; ?>
			
		</div>
			<style>
				.green-highlight{
					background-color: #A2B353;
					font-weight:bold; 
				}
			</style>
			<script type="text/javascript">

                <!--

                Calendar.setup({

                    inputField : 'period_date_from',

                    ifFormat : '%Y/%m/%d',

                    button : 'period_date_from_trig',

                    align : 'Bl',

                    singleClick : true

                });

                Calendar.setup({

                    inputField : 'period_date_to',

                    ifFormat : '%Y/%m/%d',

                    button : 'period_date_to_trig',

                    align : 'Bl',

                    singleClick : true

                });

                //-->

                </script>
	</div>
</div>

<script>
  require([
	'jquery',
	'mage/translate',
	'mage/calendar'
	], function ($, $t) {
	  $('#period_date_from').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	  $('#period_date_to').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	})
</script>
<?php echo $block->getCss(); ?>