<?php $postData = $block->getAllData(); ?>
<?php $report_data = $block->getReportDataSource(); ?>
<?php $currencies = $this->getCurrencies();?>
<?php $allStores = $block->getStoreData(); ?>
<?php $report_title = "Takings Report"; ?>
<?php //$euro_to_pounds_rate = 0.8; ?>
<?php 
$allowedCurrencies = $this->getAllowedCurrency();  
$currencyRates = $this->getCurrecnyRates("GBP");
						
$euro_to_pounds_rate = $currencyRates['GBP'] / $currencyRates['EUR'];
$euro_to_dollars_rate = $currencyRates['GBP'] / $currencyRates['USD'];
                        
?>
<style>
	.datatable .strong td{
		font-weight: bold;
	}
</style>
<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){ 
	(function($) {
	$(document).delegate("#store_switcher", "change", function(event){
		    	var website = $('option:selected', this).attr('website');
		    	if(website == 'true'){
		    		$("#website").val('true');
		    	}
		    	else{
		    		$("#website").val('false');
		    	}
		    	$("#store_switcher_form").submit();
			});
		})(jQuery);
 });
</script>

<div id="page:main-container">
	<div id="messages">
		<ul class="messages">
			<li class="notice-msg">
				<ul>
					<li>
						<?php if(isset($postData['midnight']) &&$postData['midnight'] == "1"){?>
						<span><p>This report shows the daily takings for the last 7 days 
						<br/>The time period for each day is between 23:59:59 (previous day) to 23:59:59 (next day)
						<br/>The time period for each week is between Friday 23:59:59 to Friday 23:59:59 </p></span>
						<?php }else{?>
						<span><p>This report shows the daily takings for the last 7 days  
						<br/>The time period for each day is between 16:30:00 (previous day) to 16:30:00 (next day)
						<br/>The time period for each week is between Friday 16:30:00 to Friday 16:30:00 </p></span>
						<?php }?>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="content-header">
		<table cellspacing="0">
			<tbody>
				<tr>
					<td style="width:50%;"><h3 class="icon-head head-adminhtml-report-reportdailytakings"><?php echo $report_title ?></h3></td>
					<td class="form-buttons"></td>
				</tr>
			</tbody>
		</table>
	</div>
		<div id="gridReportdailytakingsReport">
			<div>
				
				<?php if(isset($postData['midnight']) &&$postData['midnight'] == "1"){?>
                                        <a style="background: #f77c16;display: inline-block;padding:3px;margin-bottom: 5px;color: #fff;font-weight: bold;text-decoration: none;" href="<?php echo str_replace("midnight=1", "",$this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true, '_query'=>['midnight'=>null]]))?>">View data from 16:30</a>
                                <?php }else{?>
                                        <a style="background: #f77c16;display: inline-block;padding:3px;margin-bottom: 5px;color: #fff;font-weight: bold;text-decoration: none;" href="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true, '_query'=>['midnight'=>'1']])?>">View data from midnight</a>
                                <?php }?>


			</div>
			<form action="<? echo $this->getFormAction(); ?>new" id="store_switcher_form" method="POST">
			<p class="switcher">
				<label for="store_switcher">Show Report For:</label>						
				<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />  
				<input type="hidden" name="website" id="website" value="false" />  
				<select id="store_switcher" name="store_id">			
					<option value="">All Websites</option>
					 <?php foreach ($allStores as $_eachStoreId => $val) : ?>
							 <?php $website = $val->getWebsite(); ?>
								<optgroup label="<?php echo $website->getName() ?>"></optgroup>
								<option <?php echo (isset($postData['store_id']) && $postData['store_id'] == $_eachStoreId) ? 'selected' : ''; ?> value="<?php echo $val->getId() ?>"><?php echo $val->getName(); ?></option>
								</optgroup>
					<?php endforeach ?>
				</select>
				<input type="hidden" value="<?php echo (isset($postData['report_from']))?$postData['report_from']:""; ?>" name="report_from" />
				<input type="hidden" value="<?php echo (isset($postData['report_to']))?$postData['report_to']:""; ?>" name="report_to" />				
			<a class="link-store-scope" title="What is this?" onclick="this.target='_blank'" href="http://www.magentocommerce.com/knowledge-base/entry/understanding-store-scopes">What is this?</a>
			</p>

			</form>	

			<?php if(!empty($report_data)): ?>
				<?php foreach($report_data as $key=>$value): ?>
					<?php
						$total_sales = 0;
						$total_orders = 0;
						$total_averages = 0;
						$total_returns = 0;
						$total_no_returns = 0;
						$total_total = 0;
					?>
					<?php $firstrow = true; ?>
					<?php $last_item = false; ?>
					<?php 
										if($key == "Week 0"){
											$week = 'Today';
										}
										elseif($key == "Week 1"){
											$week = 'Yesterday';
										}
                                                                                elseif($key == "Week 2"){
                                                                                        $week = '2 Days Ago';
                                                                                }
                                                                                elseif($key == "Week 3"){
                                                                                        $week = '3 Days Ago';
                                                                                }
                                                                                elseif($key == "Week 4"){
                                                                                        $week = '4 Days Ago';
                                                                                }
                                                                                elseif($key == "Week 5"){
                                                                                        $week = '5 Days Ago';
                                                                                }
                                                                                elseif($key == "Week 6"){
                                                                                        $week = '6 Days Ago';
                                                                                }
										else{
											$week = $key . ' Weeks Ago';
										}
									?>
				<div class="entry-edit report-group">
					<div class="entry-edit-head"><h4><?php echo __($week); ?></h4></div>    
						<div class="grid">
							<table cellspacing="0" id="gridReportdailytakingsReport_table<?=$week?>" class="data datatable">
								<colgroup>
									<col width="300">
									<col width="200">
									<col width="200">
									<!--<col width="200">-->
									<!--<col width="200">-->
									<!--<col width="200">-->
									<!--<col width="200">-->
									<col width="200">
									<!--<col width="200">-->
									<col width="">
								</colgroup>
								<thead>
									<tr class="headings">
										<th class=" no-link"><span class="no-br"><?php echo __('') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Sales') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Items') ?></span></th>
										<!--<th class=" no-link"><span class="no-br"><?php echo __('Average item value') ?></span></th>-->
										<!--<th class=" no-link"><span class="no-br"><?php echo __('Returns') ?></span></th>-->
										<!--<th class=" no-link"><span class="no-br"><?php echo __('No.Returns') ?></span></th>-->							
										<!--<th class=" no-link"><span class="no-br"><?php echo __('Total (inc returns)') ?></span></th>-->
										<th class=" no-link"><span class="no-br"><?php echo __('Total (excl returns)') ?></span></th>
										<!--<th class=" no-link"><span class="no-br"><?php echo __('Combined Total inc Returns(in GBP)') ?></span></th>-->
										<th class=" no-link last"><span class="no-br"><?php echo __('Combined Total excl Returns(in GBP)') ?></span></th>
									</tr>
								</thead>
								<tbody>
									<?php
									$totalsweek = array();
									$totals = array();
									foreach($value as $source => $value2){
										$toprow = true;
										if($source == "") continue;
										
										foreach($value2 as $currency => $value3){
											if(!isset($totals[$currency])) $totals[$currency] = array();
											foreach($value3 as $v3k => $v3v){
												if(!isset($totals[$currency][$v3k])) $totals[$currency][$v3k] = 0;
												$totals[$currency][$v3k] = (float)$totals[$currency][$v3k] + (float)$v3v;
												//var_dump($totals[$v3k]);
											}
											$cs = $block->getCurrencySymbol( $currency );
											?>
											<?php if($toprow):?>
												<tr><td colspan="10"><strong><?=$source?></strong></td></tr>
											<?php endif;?>
											<tr>
												<td><?=$currency?></td>
												<td><?=$cs.number_format($value3['sum_grand_total'], 2)?></td>
												<td><?=number_format($value3['total'], 0)?></td>
												<!--<td><?=$cs.number_format($value3['average_grand_total'], 2)?></td>-->
												<!--<td><?=$cs.number_format($value3['sum_grand_total_return'], 2)?></td>-->
												<!--<td><?=number_format($value3['total_return'], 0)?></td>-->
												<!--<td><?=$cs.number_format($value3['sum_grand_total'], 2)?></td>-->
												<td><?=$cs.number_format($value3['sum_grand_total'] - $value3['sum_grand_total_return'], 2)?></td>
												<!--<td><?="&pound;".number_format($value3['base_sum_grand_total'] - $value3['base_sum_grand_total_return'], 2)?></td>-->
												<td><?="&pound;".number_format($value3['base_sum_grand_total'], 2)?></td>
												
											</tr>
											<?php
											if($toprow) $toprow = false;
										}
										?>
										
										<?php
										
									}
									?>
									<tr><td colspan="10"><strong>Total all sources</strong></td></tr>
									<?php foreach($totals as $currency => $totalrow){ 
									$cs = $block->getCurrencySymbol( $currency );	
									?>
									
									<tr class="strong">
										<td><?=$currency?></td>
											<td><?=$cs.number_format($totalrow['sum_grand_total'], 2)?></td>
											<td><?=number_format($totalrow['total'], 0)?></td>
											<!--<td><?=$cs.number_format($totalrow['average_grand_total'], 2)?></td>-->
											<!--<td><?=$cs.number_format($totalrow['sum_grand_total_return'], 2)?></td>-->
											<!--<td><?=number_format($totalrow['total_return'], 0)?></td>-->
											<!--<td><?=$cs.number_format($totalrow['sum_grand_total'], 2)?></td>-->
											<td><?=$cs.number_format($totalrow['sum_grand_total'] - $totalrow['sum_grand_total_return'], 2)?></td>
											<!--<td><?="&pound;".number_format($totalrow['base_sum_grand_total'] - $totalrow['base_sum_grand_total_return'], 2)?></td>-->
											<td><?="&pound;".number_format($totalrow['base_sum_grand_total'], 2)?></td>
										
									</tr>
									<?php } 
									foreach ($totals as $totalscurr){
										foreach($totalscurr as $v3k => $v3v){
												if(!isset($totalsweek[$v3k])) $totalsweek[$v3k] = 0;
												$totalsweek[$v3k] = (float)$totalsweek[$v3k] + (float)$v3v;
												//var_dump($totals[$v3k]);
										}
									}
									?>
									<tr class="strong">
											<td>Days Totals</td>
											<td></td>
											<td><?=number_format($totalsweek['total'], 0)?></td>
											<!--<td></td>-->
											<!--<td></td>-->
											<!--<td><?=number_format($totalsweek['total_return'], 0)?></td>-->
											<!--<td></td>-->
											<td></td>
											<!--<td><?="&pound;".number_format($totalsweek['base_sum_grand_total'] - $totalsweek['base_sum_grand_total_return'], 2)?></td>-->
											<td><?="&pound;".number_format($totalsweek['base_sum_grand_total'], 2)?></td>
											
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				<?php endforeach; ?>

			<?php endif;?>
			</div>
		


	</div>

</div>

<script>
  require([
	'jquery',
	'mage/translate',
	'mage/calendar'
	], function ($, $t) {
	  $('#period_date_from').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	  $('#period_date_to').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	})
</script>
<?php echo $block->getCss(); ?>
