<?php $postData = $block->getAllData(); ?>
<?php $report_data = $block->getReportDataBikes(); ?>
<?php $currencies = $this->getCurrencies(); ?>
<?php $allStores = $block->getStoreData(); ?>
<?php $report_title = "Takings Report"; ?>
<?php //$euro_to_pounds_rate = 0.8; ?>
<?php 
$allowedCurrencies = $this->getAllowedCurrency();  
$currencyRates = $this->getCurrecnyRates("GBP");
						
$euro_to_pounds_rate = $currencyRates['GBP'] / $currencyRates['EUR'];
$dollars_to_pounds_rate = $currencyRates['GBP'] / $currencyRates['USD'];

foreach($currencies as $code => $label){
	$varname = $label."_to_pounds_rate";
	
	$$varname = $currencyRates['GBP'] / $currencyRates[$code];
}
?>
<style>
	.datatable .strong td{
		font-weight: bold;
}
</style>
<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){ 
	(function($) {
	$(document).delegate("#store_switcher", "change", function(event){
		    	var website = $('option:selected', this).attr('website');
		    	if(website == 'true'){
		    		$("#website").val('true');
		    	}
		    	else{
		    		$("#website").val('false');
		    	}
		    	$("#store_switcher_form").submit();
			});
		})(jQuery);
 });
</script>


<div id="page:main-container">
	<div id="messages">
		<ul class="messages">
			<li class="notice-msg">
				<ul>
					<li>
						<?php if(isset($_GET['gina']) &&$_GET['gina'] == "1"){?>
							<p><strong>!!Main retail sites only!!</strong></p>
						<?php } ?>
						<?php if(isset($postData['midnight']) &&$postData['midnight'] == "1"){?>
						<span><p>This report shows the daily takings for the last 8 weeks 
						<br/>The time period for each day is between 23:59:59 (previous day) to 23:59:59 (next day)
						<br/>The time period for each week is between Friday 23:59:59 to Friday 23:59:59 </p></span>
						<?php }else{?>
						<span><p>This report shows the daily takings for the last 8 weeks
						<br/>The time period for each day is between 16:30:00 (previous day) to 16:30:00 (next day)
						<br/>The time period for each week is between Friday 16:30:00 to Friday 16:30:00 </p></span>
						<?php }?>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="content-header">
		<table cellspacing="0">
			<tbody>
				<tr>
					<td style="width:50%;"><h3 class="icon-head head-adminhtml-report-reportdailytakings"><?php echo $report_title ?></h3></td>
					<td class="form-buttons"></td>
				</tr>
			</tbody>
		</table>
	</div>
		<div id="gridReportdailytakingsReport">
			<div style="">
				<?php if(isset($_GET['gina']) &&$_GET['gina'] == "1"){?>
					<a style="background: #f77c16;display: inline-block;padding:3px;margin-bottom: 5px;color: #fff;font-weight: bold;text-decoration: none;" href="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true, '_query'=>['gina'=>null]])?>">View for all stores</a>
				<?php }else{?>
					<a style="background: #f77c16;display: inline-block;padding:3px;margin-bottom: 5px;color: #fff;font-weight: bold;text-decoration: none;" href="<?php  echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true, '_query'=>['gina'=>1]])?>">View main retail stores only</a>
				<?php }?>
				<?php if(isset($postData['midnight']) &&$postData['midnight'] == "1"){?>
                                        <a style="background: #f77c16;display: inline-block;padding:3px;margin-bottom: 5px;color: #fff;font-weight: bold;text-decoration: none;" href="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true, '_query'=>['midnight'=>null]])?>">View data from 16:30</a>
                                <?php }else{?>
                                        <a style="background: #f77c16;display: inline-block;padding:3px;margin-bottom: 5px;color: #fff;font-weight: bold;text-decoration: none;" href="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true, '_query'=>['midnight'=>'1']])?>">View data from midnight</a>
                                <?php }?>
			</div>
			<form action="<? echo $this->getFormAction(); ?>new" id="store_switcher_form" method="POST">
			<p class="switcher">
				<label for="store_switcher">Show Report For:</label>						
				<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />  
				<input type="hidden" name="website" id="website" value="false" />  
				<select id="store_switcher" name="store_id">			
					<option value="">All Websites</option>
					 <?php foreach ($allStores as $_eachStoreId => $val) : ?>
							 <?php $website = $val->getWebsite(); ?>
								<optgroup label="<?php echo $website->getName() ?>"></optgroup>
								<option <?php echo (isset($postData['store_id']) && $postData['store_id'] == $_eachStoreId) ? 'selected' : ''; ?> value="<?php echo $val->getId() ?>"><?php echo $val->getName(); ?></option>
								</optgroup>
					<?php endforeach ?>
				</select>
				<input type="hidden" value="<?php echo (isset($postData['report_from']))?$postData['report_from']:""; ?>" name="report_from" />
				<input type="hidden" value="<?php echo (isset($postData['report_to']))?$postData['report_to']:""; ?>" name="report_to" />				
			<a class="link-store-scope" title="What is this?" onclick="this.target='_blank'" href="http://www.magentocommerce.com/knowledge-base/entry/understanding-store-scopes">What is this?</a>
			</p>

			</form>			

			<?php if(!empty($report_data)): ?>
				<?php foreach($report_data as $key=>$value): ?>
					<?php
						$total_sales = 0;
						$total_orders = 0;
						$total_averages = 0;
						$total_returns = 0;
						$total_no_returns = 0;
						$total_total = 0;
					?>
					<?php $firstrow = true; ?>
					<?php $last_item = false; ?>
					<?php 
										if($key == 0){
											$week = 'This Week';
										}
										elseif($key == 1){
											$week = 'Last Week';
										}
										else{
											$week = $key . ' Weeks Ago';
										}
									?>
				<div class="entry-edit report-group">
					<div class="entry-edit-head"><h4><?php echo __($week); ?></h4></div>    
						<div class="grid">
							<table cellspacing="0" id="gridReportdailytakingsReport_table" class="data">
								<colgroup>
									<col width="300">
									<col width="200">
									<col width="200">
									<col width="200">
									<col width="200">
									<col width="200">
									<col width="200">
									<col width="200">
									<col width="200">
									<col width="">
								</colgroup>
								<thead>
									<tr class="headings">
										<th class=" no-link"><span class="no-br"><?php echo __('Day') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Sales') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Margin') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('No. Bikes Sold') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Averages') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Returns') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('No. Bikes Returns') ?></span></th>							
										<th class=" no-link"><span class="no-br"><?php echo __('Total (inc returns)') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Total (excl returns)') ?></span></th>
										<th class=" no-link"><span class="no-br"><?php echo __('Combined Total inc Returns(in GBP)') ?></span></th>
										<th class=" no-link last"><span class="no-br"><?php echo __('Combined Total excl Returns(in GBP)') ?></span></th>
									</tr>
								</thead>
								<tbody>
									<?php if(!empty($value)): ?>
										<?php 
										
										$total_combined_sales = 0;
										$raw_total_combined_sales = 0;
										?>
										<? 
										foreach($currencies as $code => $label){ $currcount++;

											$tmpvarname="total_sales_".$label;
											$$tmpvarname = 0;
												
											$tmpvarname="total_orders_".$label;
											$$tmpvarname = 0;
											
											$tmpvarname="total_averages_".$label;
											$$tmpvarname = 0;
											
											$tmpvarname="total_returns_".$label;
											$$tmpvarname = 0;
											
											$tmpvarname="total_no_returns_".$label;
											$$tmpvarname = 0;
											
											$tmpvarname="total_total_".$label;
											$$tmpvarname = 0;
											
											$tmpvarname="raw_total_total_".$label;
											$$tmpvarname = 0;
											
										}
										foreach($value as $item_key=>$item_value) : ?>
											<?php 
												
											?>
											<?php
											$ifl = true;
											$days_combined_sales = 0;
											$raw_days_combined_sales = 0; $currcount = 0;
											foreach($currencies as $code => $label){ $currcount++;
												$currency_symbol_pounds = $block->getCurrencySymbol($code);
												$currency_symbol_pounds2 = $block->getCurrencySymbol("GBP");
												$tmpvarname="total_sales_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['total_sales_'.$label];
												
												$tmpvarname="total_orders_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['orders_'.$label];
												
												$tmpvarname="total_averages_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['averages_'.$label];
												
												$tmpvarname="total_returns_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['returns_'.$label];
												
												$tmpvarname="total_no_returns_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['no-returns_'.$label];
												
												$tmpvarname="total_total_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['total_'.$label];
												
												$tmpvarname="raw_total_total_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['raw_total_'.$label];
												
												$tmpvarname="total_margin_".$label;
												if(!isset($$tmpvarname)) $$tmpvarname = 0;
												$$tmpvarname += $item_value['margin_'.$label];

												$x_to_pounds_rate = $label."_to_pounds_rate";
												//var_dump($$x_to_pounds_rate);
												$days_combined_sales += (($code == "GBP") ? $item_value['total_'.$label] : ($$x_to_pounds_rate * $item_value['total_'.$label])); //$item_value['total_pounds'] + ($euro_to_pounds_rate * $item_value['total_euros']) + ($dollars_to_pounds_rate * $item_value['total_dollars']);
												$raw_days_combined_sales += (($code == "GBP") ? $item_value['raw_total_'.$label] : ($$x_to_pounds_rate * $item_value['raw_total_'.$label]));
												$total_combined_sales += $days_combined_sales;
												$raw_total_combined_sales += $raw_days_combined_sales;
												?>
												
											<tr class="">
												<?php if($ifl): ?><td rowspan="<?php echo count($currencies)?>" class=""><?php echo __($item_value['day']); ?></td><?php endif;?>
												<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item_value['total_sales_'.$label], 2)); ?></td>
												<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item_value['margin_'.$label], 2)); ?></td>
												<td colspan="" class=""><?php echo __($item_value['orders_'.$label]); ?></td>
												<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item_value['averages_'.$label], 2)); ?></td>
												<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item_value['returns_'.$label], 2)); ?></td>									
												<td colspan="" class=""><?php echo __($item_value['no-returns_'.$label]); ?></td>									
												<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item_value['total_'.$label], 2)); ?></td>
												<td colspan="" class=""><?php echo __($currency_symbol_pounds . number_format($item_value['raw_total_'.$label], 2)); ?></td>
												<td colspan="" class=""><strong><?php echo (count($currencies) == $currcount)? __($currency_symbol_pounds2 . number_format($days_combined_sales, 2)) : "" ?></strong></td>
												<td colspan="" class="a-right"><strong><?php echo (count($currencies) == $currcount)? __($currency_symbol_pounds2 . number_format($raw_days_combined_sales, 2)) : "" ?></strong></td>
											</tr>
												
												<?php
												
												$ifl = false; 
											}
											?>
											
											
											
											<?php $lastrow = count($value) - 1; ?>
											<?php 
											if($item_key == $lastrow){
												$last_item = true;
											} 
											?>
									<?php endforeach; ?>
										
										<?php if($last_item) : 
											foreach($currencies as $code => $label){
												$x_to_pounds_rate = $label."_to_pounds_rate";
												$currency_symbol_pounds = $block->getCurrencySymbol($code);
												$currency_symbol_pounds2 = $block->getCurrencySymbol("GBP");
												$total_sales_poundst = "total_sales_".$label;
												$total_margin_poundt = "total_margin_".$label;
												$total_orders_poundst = "total_orders_".$label;
												$total_averages_poundst = "total_averages_".$label;
												$total_returns_poundst = "total_returns_".$label;
												$total_no_returns_poundst = "total_no_returns_".$label;
												$total_total_poundst = "total_total_".$label;
												$raw_total_total_poundst = "raw_total_total_".$label;
												
												$total_total_poundstbase = ($code == "GBP")?$$total_total_poundst : ($$total_total_poundst * $$x_to_pounds_rate);
												$raw_total_total_poundstbase = ($code == "GBP")? $$raw_total_total_poundst : ($$raw_total_total_poundst * $$x_to_pounds_rate);
											?>
											<tr class="">
												<td colspan="" class=""><strong><?php echo __('Week Totals ('.$code.')'); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($$total_sales_poundst, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($$total_margin_poundt, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo (int)$$total_orders_poundst; ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($$total_averages_poundst, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($$total_returns_poundst, 2)); ?></strong></td>									
												<td colspan="" class=""><strong><?php echo (int)$$total_no_returns_poundst; ?></strong></td>									
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($$total_total_poundst, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($$raw_total_total_poundst, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds2 . number_format($total_total_poundstbase, 2)); ?></strong></td>
												<td colspan="" class="a-right"><strong><?php echo __($currency_symbol_pounds2 . number_format($raw_total_total_poundstbase, 2)); ?></strong></td>
											</tr>
											<?php }
											$currency_symbol_pounds = $block->getCurrencySymbol("GBP");
											
											
											$totalsales = 0;
											$totalmargins = 0;
											$totalorders =0;
											$totalaverage = 0;
											$totalreturn = 0;
											$totalnoruteruns = 0;
											$rowtotal = 0;
											$rowtotalmargin = 0;
											$totaltoals = 0;
											$totalcombined = 0;
											$rawtotoalcombined = 0;
											foreach($currencies as $code => $label){
												$x_to_pounds_rate = $label."_to_pounds_rate";
												
												$total_sales_poundst = "total_sales_".$label;
												$totalsales += ($code == "GBP") ? $$total_sales_poundst : ($$x_to_pounds_rate * $$total_sales_poundst);
												
											    $total_orders_poundst = "total_orders_".$label;
												$totalorders +=  $$total_orders_poundst;
												
												$total_averages_poundst = "total_averages_".$label;
												$totalaverage += ($code == "GBP")? $$total_averages_poundst : ($$x_to_pounds_rate * $$total_averages_poundst);
												
												$total_returns_poundst = "total_returns_".$label;
												$totalreturn += ($code == "GBP")? $$total_returns_poundst : ($$x_to_pounds_rate * $$total_returns_poundst);
												
												$total_no_returns_eurost = "total_no_returns_".$label;
												$totalnoruteruns += ($code == "GBP")? $$total_no_returns_eurost : ($$x_to_pounds_rate * $$total_no_returns_eurost);
												
												$total_total_poundst = "total_total_".$label;
												$totaltoals += ($code == "GBP")? $$total_total_poundst : ($$x_to_pounds_rate * $$total_total_poundst);
												
												$raw_total_total_poundst = "raw_total_total_".$label;
												$rowtotal += ($code == "GBP")? $$raw_total_total_poundst : ($$x_to_pounds_rate * $$raw_total_total_poundst);
												
												$total_combined_salest = "total_combined_".$label;
												$totalcombined += ($code == "GBP")? $$total_combined_salest : ($$x_to_pounds_rate * $$total_combined_salest);
												
												$raw_total_combined_salest = "raw_total_combined_".$label;
												$rawtotoalcombined += ($code == "GBP")? $$raw_total_combined_salest : ($$x_to_pounds_rate * $$raw_total_combined_salest);
												
												$raw_total_margin = "total_margin_".$label;
												$totalmargins += ($code == "GBP")? $$raw_total_margin : ($$x_to_pounds_rate * $$raw_total_margin);
												
											}
											?>
											
											<tr class="">
												<td colspan="" class=""><strong><?php echo __('Week Combined Totals (GBP)'); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($totalsales, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($totalmargins, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo (int)$totalorders ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($totalaverage, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($totalreturn, 2)); ?></strong></td>									
												<td colspan="" class=""><strong><?php echo (int) $totalnoruteruns ?></strong></td>									
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($totaltoals, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($rowtotal, 2)); ?></strong></td>
												<td colspan="" class=""><strong><?php echo __($currency_symbol_pounds . number_format($totaltoals, 2)); ?></strong></td>
												<td colspan="" class="a-right"><strong><?php echo __($currency_symbol_pounds . number_format($rowtotal, 2)); ?></strong></td>
											</tr>
										<?php endif; ?>
										
									<?php else: ?>
										<tr class="even">
											<td colspan="9" class="empty-text a-center"><?php echo __('No data found for this period') ?>.</td>
										</tr>
									<?php endif;?>
								</tbody>
							</table>
						</div>
					</div>
				<?php endforeach; ?>

			<?php endif;?>
			</div>
		


	</div>

</div>
<script>
  require([
	'jquery',
	'mage/translate',
	'mage/calendar'
	], function ($, $t) {
	  $('#period_date_from').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	  $('#period_date_to').calendar({
		changeMonth: true,
		changeYear: true,
		showButtonPanel: true,
		currentText: $t('Go Today'),
		closeText: $t('Close'),
		showWeek: true,
		dateFormat: "dd-mm-yy"
	  });
	})
</script>
<?php echo $block->getCss(); ?>

