<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */
?>
<img src="<?php echo $block->getViewFileUrl('images/01-start-contact-us-banner.jpg'); ?>" alt="" />
<h2><strong>Need help selecting the right product? Got a query about an order?</strong></h2>
<div>
<p>We've tried to cover a lot of the most commonly asked questions, so the chances are you may find what you're looking for in our&nbsp;<a href="http://www.startfitness.co.uk/faq/">FAQs</a>.</p>
<p>If not, either give us a call or get in touch using the form below. By using the form and selecting the Category your query falls under you're helping us help you, as it means we can make sure it's picked up by the best person to deal with it as quickly as possible.<br><br>You can email or call us though if you'd prefer, the address and phone number are below the form and we're here Mon-Sat, 9-5.</p>
<p><b>Phone No.: +44 (0)191 917 3803</b></p>
<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field name required">
            <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>

        <div class="field category required">
            <label class="label" for="category"><span><?= $block->escapeHtml(__('Category')) ?></span></label>
            <div class="control">
              <select name="category" id="category" data-validate="{required:true}">
                <option></option>
    <option value="Cycles Query">All Cycling Related Queries</option>
    <option value="Delivery & Tracking"> Delivery &amp; Tracking</option>
    <option value="Returns (including product warranty)">Returns (including product warranty)</option>
    <option value="Products and Stock">Products and Stock</option>
    <option value="Cancel or Amend Order">Cancel or Amend Order</option>
    <option value="Payments (including discount codes and vouchers)">Payments (including discount codes and vouchers)</option>
    <option value="Price Match Request">Price Match Request</option>
    <option value="Technical Support">Technical Support</option>
    <option value="Other">Other</option>

  </select>            </div>
        </div>


        <div class="field telephone">
            <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Telephone')) ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
            </div>
        </div>

        <div class="field ordernum">
            <label class="label" for="ordernum"><span><?= $block->escapeHtml(__('Order Number')) ?></span></label>
            <div class="control">
                <input name="ordernum" id="ordernum" title="<?= $block->escapeHtmlAttr(__('Order Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('ordernum')) ?>" class="input-text" type="text" />
            </div>
        </div>

        <div class="field comment required">
            <label class="label" for="comment"><span><?= $block->escapeHtml(__('Comment')) ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('Comment')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
            </div>
        </div>
        <p><b>Please note: The captcha is case sensitive.</b></p>
      <p></p>
        <?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>


<style>

.page-title-wrapper {
  display: none;
}

.column.main {
    padding: 20px;
}

.contact-index-index .column:not(.sidebar-additional) .form.contact {
    float: none;
    width: 100%;
    padding: 20px;
}

.fieldset>.field:not(.choice)>.label {
  width: 10%;
}

.fieldset>.field:not(.choice)>.control {
  width: 70%;
}
</style>
