<?php
/**
* Copyright © Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/

// phpcs:disable Magento2.Templates.ThisInTemplate
// phpcs:disable Squiz.PHP.GlobalKeyword.NotAllowed
?>
<?php
$_order  = $block->getOrder();
$_source = $block->getSource();
$_fullInfo = $this->helper(\Magento\Tax\Helper\Data::class)->getCalculatedTaxes($_source);
global $taxIter;
$taxIter++;
?>

<?php if ($_fullInfo && $block->displayFullSummary()) : ?>
  <?php foreach ($_fullInfo as $info) : ?>
    <?php
    $percent    = $info['percent'];
    $amount     = $info['tax_amount'];
    $baseAmount = $info['base_tax_amount'];
    $title      = $info['title'];
    ?>
    <tr class="totals tax details details-<?= (int) $taxIter ?><?= ($block->getIsPlaneMode()) ? ' plane' : '' ?>">
      <td <?= /* @noEscape */ $block->getLabelProperties() ?>>
        <?= $block->escapeHtml($title) ?>
        <?php if ($percent !== null) : ?>
          (<?= (float) $percent ?>%)
        <?php endif; ?>
        <br />
      </td>
      <td <?= /* @noEscape */ $block->getValueProperties() ?> rowspan="1">
        <?= /* @noEscape */ $_order->formatPrice($amount) ?>
      </td>
    </tr>
  <?php endforeach; ?>
<?php endif; ?>

<?php if ($block->displayFullSummary() && $_fullInfo && !$block->getIsPlaneMode()) : ?>
  <tr class="totals-tax-summary">
  <?php elseif ($block->displayFullSummary() && $_fullInfo && $block->getIsPlaneMode()) : ?>
    <tr class="totals-tax-summary plane">
    <?php else : ?>
      <tr class="totals-tax" style="text-align: left; color: #595252;">
      <?php endif; ?>
      <th <?= /* @noEscape */ $block->getLabelProperties() ?> scope="row" style="font-size: 18.75px; font-weight: normal;">
        <?php if ($block->displayFullSummary()) : ?>
          <div class="detailed"><?= $block->escapeHtml(__('Tax')) ?></div>
        <?php else : ?>
          <span><?= $block->escapeHtml(__('Tax')) ?></span>
        <?php endif; ?>
      </th>
      <td <?= /* @noEscape */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtmlAttr(__('Tax')) ?>" style="font-size: 18.75px; font-weight: bold; vertical-align: top;">
        <span style="display: block; padding-left: 20px;"><?= /* @noEscape */ $_order->formatPrice($_source->getTaxAmount()) ?></span>
      </td>
    </tr>
