<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$orderPayment = $objectManager->get('Magento\Sales\Model\Order\Payment')->getCollection()
					->addAttributeToFilter('method',['eq'=>'vfinance'])	
					->setOrder('entity_id','DESC')
					->setPageSize(1);
$orderPaymentData = $orderPayment->getData();
if(isset($orderPaymentData[0])){
$order = $objectManager->create('Magento\Sales\Model\OrderRepository')->get($orderPaymentData[0]['parent_id']);

$status = $order->getStatus();
$bHelper = $objectManager->get('Bootsgrid\Vfinance\Helper\Data');

if($order->getPayment()->getMethod() == "vfinance") {
	if($status == 'v12finance_referred') { ?>
		<p style="font-weight: bold;"><?php echo $bHelper->getReferMsg() ?></p>
	<?php }
	if ($status == 'v12finance_accepted') { ?>
		<p style="font-weight: bold;"><?php echo $bHelper->getApproveMsg() ?></p>
	<?php }
	if ($status == 'canceled') { ?>
		<p style="font-weight: bold;"><?php echo $bHelper->getDeclineMsg() ?></p>	
	<?php }
}
}
?>
