<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
$name = $block->getCurrentCategory()->getName();
 ?>
 <h1 class="cat_title"><?php echo $name; ?></h1>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
     $catId =  $category->getId();
    $subCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
    $subCats = $subCategory->getChildrenCategories();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php

$count =count($subCats);
 if($count > 0) {
    ?>
<div class="sub_cats">
  <div class="sub_cat_inner">
<ul class="sub-cat-ul">

<?php
 $i = 0;
    foreach ($subCats as $subcat) {
      if($i < 8) {
        $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
        $feat = $_category->getFeaturedCat();
          if($feat == 1) {
            $subcaturl = $subcat->getUrl();
            $_imgHtml = ''; ?>
              <li class="cat-li cat_sub">
                <div class="info">
                  <a class="link" href="<?php echo $subcaturl ?>"><h4><?php echo $subcat->getName(); ?></h4></a>
                </div>
             </li>
    <?php
$i++;
}
}
} ?>
</ul>
</div>
</div>
<?php } ?>
<?php if ($_description = $block->getCurrentCategory()->getDescription()) :?>
    <div class="category-description">
        <?= /* @noEscape */ $this->helper(Magento\Catalog\Helper\Output::class)->categoryAttribute(
            $block->getCurrentCategory(),
            $_description,
            'description'
        ) ?>
    </div>
<?php endif; ?>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {
$(".category-view").appendTo(".main");

var width = $(window).width();
//alert(width);
if (width <= 764) {
//  alert('mobile cms');
  $(".category-cms").insertBefore(".page-footer");


}
  });
});

</script>
