<?php
/**
 * @var $block \Raw\Postcodelookup\Block\Jsinitiator
 */
?>
<div>
	<?= $block->jsblock() ?>
	<!--<?= __('Hello Raw_Postcodelookup::jsinitiator.phtml') ?>-->
</div>
<script>

 require(['jquery', 'jquery/ui'], function($){
     //your js code here
	 $(document).ready(function(){

		 $("body").on("keyup", "input[name='postcode']", function(e){
			 var input = $(this);
			 var parent = $(this).closest(".fieldset");
			 var country = $("select[name='country_id']", parent).val();
			 if(country != "GB") return;
			 var val = $(this).val();
			 var valid = /[a-z]{1,2}\d[a-z\d]?\s*\d[a-z]{2}/i.test(val);

			 console.log(valid);
			 if(valid){
				var url = "<?php echo $block->getApiUrl() ?>";

				$.ajax({
				  dataType: "json",
				  url: url,
				  data: {param : val},
				  success: function(data){
					  data = JSON.parse(data);
					  console.log(data);
					  $(".postcodefinder").remove();
					  var select = $("<select>").attr("class", "postcodefinder");
					  select.append($("<option>").text("Select an address ..."));
					  select.append($("<option>").text("Address not present").data("address", null));
					  $.each(data.Addresses, function(key, data2){
						  var option = $("<option>").data("address", data2).text(data2.filter(n => n).join(","));
						  select.append(option);


					  })
					  select.insertAfter(input);


				  }
				});


			 }

		 });

		 $("body").on("change", ".postcodefinder", function(e){
			 var option = $("option:selected", this);
			 var data = option.data("address");
			 console.log(data);
			 if(data == null){
				 $(".postcodefinder").remove();
			 }
			 else{
				 var parent = $(this).closest(".fieldset");
				 var street1 = $("input[name='street[0]']", parent).val(data[0]).change();
				 var street2 = $("input[name='street[1]']", parent).val(data[1]).change();
				 $("input[name='street[]']", parent).eq(0).val(data[0]).change();
				 $("input[name='street[]']", parent).eq(1).val(data[1]).change();
				 var city = $("input[name='city']", parent).val(data[3]).change();
				 var county = $("input[name='region']", parent).val(data[4]).change();
				 $(".postcodefinder").remove();
			 }

		 });

	 });
 });

</script>
<style>
.postcodefinder{
	margin: 15px 0;
	display: block!important;
}
</style>
