<div class="admin__fieldset">
<?php
$attributes = $block->attributeToLoad();
$attrloaded = [];
$labels = [];
$product = $block->getProduct();
if($product->getTypeId()=="configurable"){
	$ids = [];
	foreach($block->getProduct()->getTypeInstance()->getUsedProducts($block->getProduct()) as $child){
		$ids[] = $child->getEntityId();
	}
	$qty_not_dispatched_all = $block->getNumberNotDispatcheds($ids);
foreach($attributes as $attr){
	$attribute = $block->loadAttribute($attr);
	$label = $attribute->getFrontendLabel();
	$labels[$attr] = $label;
	$attrloaded[$attr] = $attribute;
	?>
	<div class="admin__field">
		<div class="admin__field-label">
			<label for="<?php echo $attr;?>_au">
				<span><?php echo $label ?></span>
			</label>
		</div>
		<div class="admin__field-control">
			
		<?php
		if($attr == "bin_location"){
			?>
			<input type="text" data-form-part="product_form" style="width: 40px;text-transform:uppercase;" class="input-text stock_change" id="bin_location1" name="massupdate[bin_location1]" onkeypress="return (event.charCode > 64 && event.charCode < 90) || (event.charCode > 96 && event.charCode < 123)  || event.charCode = 8 || event.charCode = 6 || event.charCode = 46;" pattern="[a-zA-Z]{2}" size="2" maxlength="2"> 
		  - <input type="text" data-form-part="product_form" style="width: 40px;text-transform:uppercase;" class="input-text stock_change" id="bin_location2" name="massupdate[bin_location2]" onkeypress="return (event.charCode > 47 && event.charCode < 58) || (event.charCode = 8 || event.charCode = 6) || event.charCode = 46;" pattern="[0-9]{2,}" size="3" maxlength="3"> 
		  - <input type="text" data-form-part="product_form" style="width: 40px;text-transform:uppercase;" class="input-text stock_change" id="bin_location3" name="massupdate[bin_location3]" onkeypress="return (event.charCode > 64 && event.charCode < 90) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode = 6 || event.charCode == 46;" pattern="[a-zA-Z]{1}" size="1" maxlength="1">
            	<input data-form-part="product_form" type="checkbox" id="bin_location_del" name="massupdate[bin_location_del]" value="1">   <label for="checkbox"> Delete Bin</label>
		  
			<?php
		}
		elseif($attribute->getFrontendInput() == "price"){
			?><input class="admin__control-text" data-form-part="product_form" type="text" name="massupdate[<?php echo $attr;?>]" id="<?php echo $attr;?>_au" maxlength="255"><?php
		}
		else if($attribute->getFrontendInput() == "text" || $attribute->getFrontendInput() == "weight"){
			?><input class="admin__control-text" data-form-part="product_form"  type="text" name="massupdate[<?php echo $attr;?>]" id="<?php echo $attr;?>_au" maxlength="255"><?php
			if($attr == "bin_location"){
				?>
				<input data-form-part="product_form" type="checkbox" id="bin_location_del" name="massupdate[bin_location_del]" value="1">   <label for="checkbox"> Delete bin</label>
				<?php
			}
			if($attr == "bin_overstock_location"){
				?>
				<input data-form-part="product_form" type="checkbox" id="bin_overstock_location_del" name="massupdate[bin_overstock_location_del]" value="1">   <label for="checkbox"> Delete overstock</label>
				<?php
			}
		}
		else if($attribute->getFrontendInput() == "decimal"){
			?><input class="admin__control-text" data-form-part="product_form"  type="text" name="massupdate[<?php echo $attr;?>]" id="<?php echo $attr;?>_au" maxlength="255"><?php
		}
		else if($attribute->getFrontendInput() == "select"){
			$options = $attribute->getSource()->getAllOptions();
			?>
			<select class="admin__control-select" data-form-part="product_form"  name="massupdate[<?php echo $attr;?>]" id="<?php echo $attr;?>_au">
				<option value=""> </option>
				<?php foreach($options as $option){
				?>
				
				<option value="<?php echo $option['value'];?>"><?php echo $option['label'];?></option>
				<?php
				}?>
			</select>
			<?php
		}
		?>

	
		</div>
	</div>

	<?php
	}
$children = $block->getProduct()->getTypeInstance()->getUsedProducts($block->getProduct());
$attributesconf = $block->getConfigurableAttributes();
?>
<table class="data-grid">
	<thead>
		<tr>
		<th class="data-grid-th">ID</th>
		<th class="data-grid-th">SKU</th>
		<th class="data-grid-th">Model</th>
		<?php foreach($labels as $label){ ?>
		<th class="data-grid-th"><?php echo $label ?></th>
		<?php } ?>
		<th class="data-grid-th">Updated At</th>
		<th class="data-grid-th">Stock Level</th>
		<th class="data-grid-th">New Stock</th>
		<?php foreach($attributesconf as $attr){ ?>
		<th class="data-grid-th"><?php echo $attr['label'] ?></th>
		<?php } ?>
		<th class="data-grid-th">Receipt Qty</th>
		</tr>
	</thead>
	<tbody>
	<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$totalstock = 0;
	foreach($children as $child){
		$child = $objectManager->create('Magento\Catalog\Model\Product')->load($child->getEntityId());
		$qty_not_dispatched = number_format($qty_not_dispatched_all[$child->getEntityId()]);
		
		?>
		<tr>
			<td>
				<?php echo $child->getEntityId(); ?>
			</td>
			<td>
				<?php echo $child->getSku(); ?>
			</td>
			<td>
				<?php echo $child->getData("actual_model"); ?>
			</td>
			<?php foreach($attrloaded as $attr => $attribute){ 
			
			?>
			<td><?php echo ($attribute->getFrontendInput() == "select") ? $child->getResource()->getAttribute($attr)->getFrontend()->getValue($child) :  $child->getData($attr) ?></td>
			<?php } ?>
			<td>
				<?php echo $child->getUpdatedAt(); ?>
			</td>
			<td  class="originalstock">
				<?php
				$stock = $block->getStockItem($child->getId());
				$totalstock += $stock->getQty();
				 echo $stock->getQty()."" == "" ? 0 : $stock->getQty(); ?>
				(<?php
				
				echo $qty_not_dispatched ?>)
			</td>
			<td>
			<span class="newstock">
				<?php
				
				echo $stock->getQty()."" == "" ? 0 : $stock->getQty(); ?>
				
				</span>
			</td>
			<?php foreach($attributesconf as $attr){ ?>
			<td><?php echo $child->getResource()->getAttribute($attr['attribute_code'])->getFrontend()->getValue($child) ?></td>
			<?php } ?>
			<td class="receiptqty">
				<input class="admin__control-text" data-form-part="product_form"  type="text" name="massupdatestock[<?php echo $child->getEntityId();?>]" id="massupdatestock<?php echo $child->getEntityId();?>_au" maxlength="255">
			</td>
			
			
		</tr>
	<?php } ?>
	</tbody>
	<tfoot>
		<tr>
		<th class="data-grid-th"></th>
		<th class="data-grid-th"></th>
		<th class="data-grid-th"></th>
		<?php foreach($labels as $label){ ?>
		<th class="data-grid-th"></th>
		<?php } ?>
		<th class="data-grid-th"></th>
		<th class="data-grid-th "><?php echo $totalstock ?></th>
		<th class="data-grid-th stockqtytotal"><strong><?php echo $totalstock ?></strong></th>
		<?php foreach($attributesconf as $attr){ ?>
		<th class="data-grid-th"></th>
		<?php } ?>
		<th class="data-grid-th receiptqtytotal">0</th>
		</tr>
	</tfoot>
</table>
</div>
<script>
jQuery(document).ready(function($){
	
	$(".receiptqty input").keyup(function(e){
		var tr = $(this).closest("tr");
		var input = parseInt($(this).val());
		var original = parseInt((($(".originalstock", tr).text() == "") ? "0" : $(".originalstock", tr).text()));
		if(isNaN(original) || isNaN(input)) return ;
		var newval = original + input;
		$(".newstock", tr).text(newval);
		$(".newstock", tr).removeClass("red").removeClass("green");
		if(newval < 0) $(".newstock", tr).addClass("red")
		if(newval > 0) $(".newstock", tr).addClass("green")
		var totalnew = 0;
		$(".newstock").each(function(){
			
			var qty = parseInt($(this).text());
			if(!isNaN(qty)) totalnew += qty;
			
		});
		$(".stockqtytotal").text(totalnew);
		var totalin = 0;
		$(".receiptqty input").each(function(){
			
			var qty = parseInt($(this).val());
			if(!isNaN(qty)) totalin += qty;
			
		});
		$(".receiptqtytotal").text(totalin);
	});
	
});
</script>
<style>
.newstock{
	font-weight: bold;
}
.newstock.red{
	color: red;
	
}
.newstock.green{
	color: green;
	
}
</style>
<?php

}
?>