<head>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <style>
  /* Remove space around the email design. */
  html,
  body {
    margin: 0 auto !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }

  /* Stop Outlook resizing small text. */
  * {
    -ms-text-size-adjust: 100%;
  }

  /* Stop Outlook from adding extra spacing to tables. */
  table,
  td {
    mso-table-lspace: 0pt !important;
    mso-table-rspace: 0pt !important;
  }

  /* Use a better rendering method when resizing images in Outlook IE. */
  img {
    -ms-interpolation-mode:bicubic;
  }

  /* Prevent Windows 10 Mail from underlining links. Styles for underlined links should be inline. */
  a {
    text-decoration: none;
  }

</style>
</head>
<body width=”100%” style="margin: 0 !important; padding: 0 !important; mso-line-height-rule: exactly; font-family: 'Source Sans Pro', sans-serif; font-size:10.5px;">
  <div style="font-family: 'Source Sans Pro', sans-serif; font-size:10.5px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
          <table bgcolor="#F6F6F6" cellspacing="0" cellpadding="0" border="0" width="600" >
            <!-- HEADER SECTION -->
            <tr>
              <td valign="top" width="600" style="background-color: #243050; padding: 20px;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tr>
                    <td width="70%">
                      <a href="https://www.startfitness.co.uk">
                        <img src="https://www.startfitness.co.uk/skin/frontend/enterprise/2016/images/header-logo-2019_172x68.png" />
                      </a>
                    </td>
                    <td>
                      <p style="font-size: 15px;"><a style="color: white; text-decoration: none;" href="https://www.startfitness.co.uk/women-shop/">Women</a></p>
                    </td>
                    <td>
                      <p style="font-size: 15px;"><a style="color: white; text-decoration: none;" href="https://www.startfitness.co.uk/men-shop/">Men</a></p>
                    </td>
                    <td>
                      <p style="font-size: 15px;"><a style="color: white; text-decoration: none;" href="https://www.startfitness.co.uk/sales-outlet/">Sale</a></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- HEADER SECTION END-->
            <!-- CONTENT SECTION -->
            <tr>
              <td valign="top" style="padding: 20px;">
                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Dear {{var=$customer.name}},</h1>
                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">There was recently a request to change the password for your account.</p>
                <p style="font-size: 12px; line-height: 16px; margin: 0;">If you requested this password change, please click on the following link to reset your password: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                <p style="font-size: 12px; line-height: 16px; margin: 0;">If clicking the link does not work, please copy and paste the URL into your browser instead.</p>
                <br />
                <p style="font-size:12px; line-height:16px; margin:0;">If you did not make this request, you can ignore this message and your password will remain the same.</p>
            </td>
          </tr>
          <!-- CONTENT SECTION END-->
          <!--FOOTER CONTACT INFORMATION-->
          <tr>
            <td style="padding:20px; background:#243050;">
              <p style="font-size: 15px; color: white; margin-top: 0px; margin-bottom: 20px; line-height: 20px;">
                CONTACT US 6 DAYS A WEEK ON<br>
                <a href="tel:+441919173803" style="color: white; font-weight: bold;">+44 (0)191 917 3803</a><br/>
              </p>
              <p style="color:white; font-size:12px; font-weight: 200;">Start Fitness & More Mile are trading names of W & M Wholesale Ltd<br/>
                Unit 3C, Admiral Business Park, Cramlington, Northumberland, NE23 1WG<br/>
                Company No: 2607133 - VAT No: 157 1109 27
              </p>
            </td>
          </tr>
        </table>
      </div>
    </body>
