<head>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <style>
  /* Remove space around the email design. */
  html,
  body {
    margin: 0 auto !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }

  /* Stop Outlook resizing small text. */
  * {
    -ms-text-size-adjust: 100%;
  }

  /* Stop Outlook from adding extra spacing to tables. */
  table,
  td {
    mso-table-lspace: 0pt !important;
    mso-table-rspace: 0pt !important;
  }

  /* Use a better rendering method when resizing images in Outlook IE. */
  img {
    -ms-interpolation-mode:bicubic;
  }

  /* Prevent Windows 10 Mail from underlining links. Styles for underlined links should be inline. */
  a {
    text-decoration: none;
  }

</style>
</head>
<body width=”100%” style="margin: 0 !important; padding: 0 !important; mso-line-height-rule: exactly; font-family: 'Source Sans Pro', sans-serif; font-size:10.5px;">
  <div style="font-family: 'Source Sans Pro', sans-serif; font-size:10.5px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
          <table bgcolor="#F6F6F6" cellspacing="0" cellpadding="0" border="0" width="600" >
            <!-- HEADER SECTION -->
            <tr>
              <td valign="top" width="600" style="background-color: #243050; padding: 20px;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tr>
                    <td width="70%">
                      <a href="https://www.startfitness.co.uk">
                        <img src="https://www.startfitness.co.uk/skin/frontend/enterprise/2016/images/header-logo-2019_172x68.png" />
                      </a>
                    </td>
                    <td>
                      <p style="font-size: 15px;"><a style="color: white; text-decoration: none;" href="https://www.startfitness.co.uk/women-shop/">Women</a></p>
                    </td>
                    <td>
                      <p style="font-size: 15px;"><a style="color: white; text-decoration: none;" href="https://www.startfitness.co.uk/men-shop/">Men</a></p>
                    </td>
                    <td>
                      <p style="font-size: 15px;"><a style="color: white; text-decoration: none;" href="https://www.startfitness.co.uk/sales-outlet/">Sale</a></p>
                    </td>
                  </tr>
                </table>
              </td>
              <tr>
                <td valign="top" width="600" style="padding: 0px;">
                  <a href="https://www.startfitness.co.uk">
                    <img src="{{media url='2016/Email/start-fitness-your-order-is-on-its-way.jpg'}}" alt="" />
                  </a>
                </td>
              </tr>
            </tr>
            <!-- HEADER SECTION END-->
            <!-- CONTENT SECTION -->
            <tr>
              <td style="padding: 20px;">
                <div class="track-order" style="background: #243050; border: 1px solid #243050; border-radius: 10px;; text-align: center; padding: 15px 0px;">
                  <a href="http://m2.stack.startfitness.co.uk/sales/guest/view/" style="text-decoration: none; color: #EFEFEF; font-size: 26.25px; font-weight: bold;">
                    <span>TRACK MY ORDER</span>
                  </a>
                </div>
                <div style="height: 5px;background: #FFC600 0% 0% no-repeat padding-box;border-radius: 3px;margin-bottom: 15px;margin-top: 15px;"></div>
                <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                  <tr>
                    <td width="60%">
                      <h2 style="color:#243050; font-size:26.25px; font-weight: bold;margin-top: 10px; margin-bottom: 10px;">Your Order #{{var order.increment_id}}</h2>
                    </td>
                    <td width="40%">
                       <small style="color: black;font-weight: 200;font-size: 15px;float: right;margin-top: 10px;">Placed on {{var order.created_at}}</small>
                    </td>
                  </tr>
                </table>
                {{layout handle="sales_email_order_items" order=$order}}
                <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                  <thead>
                    <tr>
                      <th align="left" width="250" bgcolor="#263050" style="color: #EFEFEF; font-size:15px; font-weight: normal; padding:20px 10px 15px 20px; line-height:1em; border-top-left-radius: 10px; border-top-right-radius: 10px;">Billing Information:</th>
                      <th width="20"></th>
                      <th align="left" width="250" bgcolor="#263050" style="color: #EFEFEF; font-size:15px; font-weight: normal; padding:20px 10px 15px 20px; line-height:1em; border-top-left-radius: 10px; border-top-right-radius: 10px;">Payment Method:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td valign="top" style="background: #FFFFFF; font-size:15px; padding:15px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        {{var formattedBillingAddress|raw}}
                      </td>
                      <td> </td>
                      <td valign="top" style="background: #FFFFFF; font-size:15px; padding:15px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        {{var payment_html|raw}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br/>
                {{depend order.getIsNotVirtual()}}
                <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                  <thead>
                    <tr>
                      <th align="left" width="250" bgcolor="#263050" style="color: #EFEFEF; font-size:15px; font-weight: normal; padding:15px; line-height:1em; border-top-left-radius: 10px; border-top-right-radius: 10px;">Shipping Information:</th>
                      <th width="20"></th>
                      <th align="left" width="250" bgcolor="#263050" style="color: #EFEFEF; font-size:15px; font-weight: normal; padding:15px; line-height:1em; border-top-left-radius: 10px; border-top-right-radius: 10px;">Shipping Method:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td valign="top" style="background: #FFFFFF; font-size:15px; padding:15px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        {{var formattedShippingAddress|raw}}
                      </td>
                      <td> </td>
                      <td valign="top" style="background: #FFFFFF; font-size:15px; padding:15px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        {{var order.getShippingDescription()}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br/>
                {{/depend}}
                <p style="font-size:9px; margin:0 0 10px 0">{{var order.getEmailCustomerNote()}}</p>
                <br>
                <h1 style="color: #243050; font-size: 26.25px; margin:0 0 11px 0;">Need Help?</h1>
                <div style="height: 5px;background: #FFC600 0% 0% no-repeat padding-box;border-radius: 3px;margin-bottom: 15px;margin-top: 15px;"></div>
                <p style="font-size: 15px; margin-bottom: 20px;">If you’re having any issues with your order, get in touch <a href="https://www.startfitness.co.uk/contacts/" style="font-weight: bold; color: #263050;">here</a>.</p>
              </td>
            </tr>
            <!--FOOTER CONTACT INFORMATION-->
            <tr>
              <td style="padding:20px; background:#243050;">
                <p style="font-size: 15px; color: white; margin-top: 0px; margin-bottom: 20px; line-height: 20px;">
                  CONTACT US 6 DAYS A WEEK ON<br>
                  <a href="tel:+441919173803" style="color: white; font-weight: bold;">+44 (0)191 917 3803</a><br/>
                </p>
                <p style="color:white; font-size:12px; font-weight: 200;">Start Fitness & More Mile are trading names of W & M Wholesale Ltd<br/>
                  Unit 3C, Admiral Business Park, Cramlington, Northumberland, NE23 1WG<br/>
                  Company No: 2607133 - VAT No: 157 1109 27
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
