.nav-sections-item-content > .navigationnew {
    display: block;
	max-width: 1280px;
	position: relative;
	margin: auto;
}
.menulistwrap.level0{
position: absolute;
left: 0;
right: 0;
top: 41px;

}
.menulistwrap{
	display: none;
}
.menulistwrap.active{
	display: block;
}

.navigationnew{
.navsideimg{
	position: absolute;
	right: 0;
	top: 0;
	max-height: 100%;

}
	> ul{
	margin: 0px;
	}
	li.level0{
		display: inline-block;
		padding: 10px 20px;
		margin: 0px;

		> a{
			span{
				color: #26304D;
				font-weight: 500;
        letter-spacing: 0.5px;
			}
		}
	}
	li.level0::first-child{
		padding-left: 0px;
	}
	li.level0 > i.fas {
		display: none;
	}
	li.level0 > .menulistwrap{
	> .menulistwrapcontainer{
		position:absolute;
		left: 25px;
		right: 25px;
		top: 25px;
		bottom: 50px;
		> ul{
			width: 25%;
		}
		.menulistwrapcontainer{
			height: 100%;
      max-height: 363px;
			border-left: 1px solid #26304D;

			padding-left: 15px;
		}
	}
	a{
		color: #26304D;
	}
	height: 515px;
	background-color: #fff;
	box-shadow: 0 10px 25px rgba(0,0,0,0.15);
	z-index: 10;
	box-sizing: border-box;
		ul{
		    padding: 0px 0px 0px;



			display: block;
		}
		.menulistwrap.active{
			display: inline-block;
			width: 25%;
			position: absolute;
			left: 0;

			top: 0;
			height: 100%;
		}
		.menulistwrap.level1{
			left: 25%;
		}
		.menulistwrap.level2{
			left: 60%;
		}
		i.fas {
			float: right;
			margin-right: 15px;
			margin-top: 4px;
		}
	}

}
.level0 li{
	padding: 8px 5px;
	margin-bottom: 0px;
}
.level0 li:hover{
	background-color: #f5f5f5;
}
.level0 li>a:hover{
	text-decoration: none;
}

.navigationnew li.level0:hover{
	background-color: #E8A314;
}
.navigationnew li.level0:hover > a > span{
	color: #fff;
}
.navigationnew li.level0>a:hover{
	text-decoration: none;
}
