/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Blank theme mobile styles
//  _____________________________________________

//  These mobile styles are mandatory and will be used as basis according to the mobile first design

//
//  Global lib + theme styles + theme extends
//  ---------------------------------------------

@import 'source/_reset.less';
@import '_styles.less';
@import (reference) 'source/_extends.less';
@import 'animations.less';
@import 'fonts.less';
//
//  Magento Import instructions
//  ---------------------------------------------

//@magento_import 'source/_module.less'; // Theme modules
//@magento_import 'source/_widgets.less'; // Theme widgets

//
//  Media queries collector
//  ---------------------------------------------

@import 'source/lib/_responsive.less';

@media-target: 'mobile'; // Sets target device for this file

//
//  Global variables override
//  ---------------------------------------------

@import 'source/_theme.less';

//
//  Extend for minor customisation
//  ---------------------------------------------

//@magento_import 'source/_extend.less';

html body{
	font-family: 'Roboto', 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 15px;
}

.total-rules{
	display: none !important;
}

@media only screen and (max-device-width: 767px){


.opc-estimated-wrapper .minicart-wrapper .action.showcart {
    white-space: nowrap;
    background-color: #fff;
    border: none;
}

.header .block.block-search{
	margin-bottom: 5px;
}

	body .banner_slider img {
		max-width: 100%;
		display: none;
	}

.product-msrp, .product-savings{

font-size: 1.2rem;

}
.page-header {
    background: #26304D;
    color: white;
}
.block-search .label{

	margin-right: 15px;

}
body .minicart-wrapper{
	margin-top: 0px;
}
.header  .authorization-link{
	display: none;
}
.page-footer {
    background: #27304D;
    color: white;
}

.logo {
    float: left;
    margin: 0 0 0px 40px;
    max-width: 30%;
    position: relative;
    z-index: 5;
    margin-left: 32%;

}

.nav-sections a:visited, .alink:visited {
	color: black !important;
}

.nav-sections a {
	color: black !important;
}

.nav-toggle:before {
	color: white !important;
}

.nav-sections-item-content {
	padding:0px;
	margin-top: 30px;
}

.top_blocks {
width: 100%;
margin-right: 2%;
float: left;
text-align: center;
padding-top: 10px;
background: #FBC347;
padding-bottom: 10px;
margin-bottom: 17px;
text-transform: uppercase;
font-weight: bold;
font-style: italic;
}

.top_blocks.first {
  display: none !important;
}

.top_blocks.last {
  display: none !important;
}

.four_blocks {
    width: 100%;
    display: block;
    /* margin-left: 6px; */
    float: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: unset;
    margin-bottom: 13px;
}

li.product-item {
    width: 46% !important;
    margin-left: 10px !important;
}

.applied .cancel {
    background: unset !important;
    border: none !important;
    color: #1979c3 !important;
    font-size: 14px !important;
    line-height: 14px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
}

h1.page-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
    color: #27304D;
}

.minicart-items .product-item {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px !important;
		padding-top: 10px !important;
}

.price-label {
	display: none;
}

.grey_block {
    background: #A3A3A3;
    width: 32%;
    float: left;
    height: 250px;
    margin-top: 20px;
    margin-right: 2%;
}

.grey_block {
    background: #A3A3A3;
    width: 31%;
    float: left;
    height: 101px;
    margin-top: 20px;
    margin-right: 2%;
    margin-bottom: 3px;
}

.social li {
  display: inline;
}

.social img {
  width: 43px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-header {
    border-bottom: none;
    margin-bottom: 0px;
}

#ticker_tape p {
	margin-bottom: 5px;
}

p {
	margin-bottom: 0px;
}

.product-image-container  {
border:1px solid #e4e4e4;
}

.block .block-title, .block .block-title strong, .account legend {
	font-size: 24px;
}

.four_blocks span {
	position: absolute;
	top: 43%;
	left: 24%;
	color: white;
	text-transform: uppercase;
	font-size: 41px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.block-static-block.widget, .block-cms-link.widget {
	margin-bottom: 0px;
}

.block.widget.block-products-list.grid h2 {
    text-align: center;
    padding-top: 20px;
}

.product-item-name {
  text-align: center;
}

.price {
  font-size: 18px;
}

.product-item {
text-align: center;}


span.grey_inner {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 36% !important;
    font-size: 12px;
    font-style: italic;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.footer.content {
    border: none;
    padding-top: 0px;
}

.footer h2 {
    font-size: 14px;
    color: #FBC347;
    font-weight: bold;
}

li.level0 .menulistwrap {
	display: none;
}
li.level0 .menulistwrap.active {
	display: block;
}
.nav-sections.active{
	left: 0;
	z-index: 100;
}

	.navigationnew ul{
		margin: 0;
		padding: 0;
		.fas {
			float:right;
			padding-top: 4px;
		}

		li.level0{
			padding: 15px 15px;
			color:
			#000;
			background-color:
			#fff;
			border-bottom: 1px solid
			#f6f6f6;
			margin: 0px;
			ul{
			padding-top: 10px;
			padding-bottom: 10px;
				li {
					background-color: #fafafa;
					margin: 0px;
					padding: 15px;
					padding-left: 15px;
				}
			}
		}
		.navsideimg{
			display: none;
		}
	}

	body .nav-sections .switcher-trigger strong::after {
		position: absolute;
		right: -40px;
		top: 0px;
	}

	#switcher-currency .currencylabel, #switcher-currency-nav .currencylabel{
		display: none;
	}
	body .page-wrapper .minicart-wrapper .action.showcart .text{
		display: none;
	}

	body{
		.block-search input{
			position: relative;
			left: 0;
			margin: 8px 0;
		}
		.block-search .label.active + .control input{
			position: relative;
		}
		.block-search{
			clear: both;
			color: #000;
			position: relative;
			.field.search{
				label.label{
					position: absolute;
					z-index: 10;
					right: 0;
					top: 9px;
					margin-right: 0;
					background-color:
					#FCC334;
					color:
					#000;
					padding: 0px 5px;
				}
			}
		}
		.block-search .label::before {

			font-size: 25px;
			line-height: 30px;
			color: #000;

		}

		#switcher-currency, .minicart-wrapper{
			margin-top: 10px;
		}
		.block-search .control{
		border-top: 0px solid #fff;
		}

		.page-header{
			display: flex;
			flex-direction: column;
		}

		.green_top {
			text-align: center;
			height: auto;
			padding: 6px;
		}
	}

.block.widget.block-products-list.grid h2 {
    margin-top: 0px;
    text-align: center;
    padding-top: 00px;
}



	body .banner_slider{

		min-height: 200px;
    background: #999;
    overflow: hidden;
    height: 271px;
		margin:0px !important;

		.bannertextwrapper{
	    position: relative;
	    left: 0%;
	    top: 10px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    margin-top: 33px;


			.bannertext1{
				font-size: 25px;

				line-height: 25px;
			}
			.bannertext2{
				font-size: 30px;

				line-height: 35px;
			}
			.bannertext3{
				font-size: 15px;

				line-height: 24px;
			}
			.bannershopnow{
				display: none;
				margin: 10px 0;
			}

		}
		img{
			min-width: 500px;
		}
	}
	body .banner_slider {

		margin: -4px -15px;
		min-height: 200px;
		overflow: hidden;

	}

	body .minicart-wrapper .action.showcart .counter.qty {
		margin: 0px 0 0!important;
	}
	body .header  .minicart-wrapper .action.showcart .counter.qty {
		margin: 0px 0 0!important;
	}

	.opc-wrapper .button.action.login{
		padding: 6px 16px !important;
	}
}


// All

body .minicart-wrapper .action.showcart .text {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}



.footer.content .block {
    float: right;
    display: none;
}

.header.content .authorization-link{
float: right;
margin-right: 12px;
}
#switcher-currency{
float: right;
text-align:center;
margin-right: 25px;
}
.page-header .switcher strong span{
display: none;
}
body .minicart-wrapper .action.showcart::before, body .minicart-wrapper .action.showcart.active::before{
 display: none;
}
.iconbar-img{
	text-align: center;

	display: inline-block;
}
.page-header .switcher .currencylabel span{
display: inline-block;
}
.currencylabel{
display: inline-block;
text-align: center;
margin-top: 5px;
margin-left: 5px;
}
.authorization-link > a, .action.showcart > span.text
{
	font-weight: 400;
	color: #fff;
	line-height: 1.42857143;
	font-size: 16px;
}
body .page-header .switcher .options .action.toggle::after, body .page-footer .switcher .options .action.toggle::after{
display: none;
}
body .logo img{
	height: auto;
}
.catalog-category-view .page-title-wrapper{
display: none;
}
.page-wrapper > .breadcrumbs{
	margin-top: 15px;
}
.category-cms h1{
	font-size: 20pt;

	font-weight: bold;

	margin-bottom: 15px;
}

body .product-item .price-box {
    margin: 10px 0 10px;
}

.product-item-details{
text-align:center;
}
.product-item-details .actions-secondary, .product-item-details .actions-primary{
	display: none;
}
.product-item-details .product-reviews-summary{
	display: none;
}
.product-item-details .price-label{
	display:none;
}
.product-item .product-item-details .price-box .price{
	font-size: 22px;
	color: #333;
	font-weight: 500;
}
.product-msrp-savings{
	margin-top: 15px;
	font-size: 0pt;
	margin-bottom: 15px;
}
.product-msrp, .product-savings{
	width: 100%;
	    display: inline-block;
	    font-size: 1.2rem;
	    font-weight: 500;
	    vertical-align: top;
	    margin: 0px !important;
	    padding: 0px;
	    text-align: center;
}
.product-savings {
  margin-left: 10px;
  color: #ef3333;
}
.msrplabel{
	color: #878787;
}
.product-item-name, .product.name a
{
    font-weight: 600;
}
.toolbar .modes{
	display: none;
}
body .opc-progress-bar-item._active::before, body .opc-progress-bar-item._active > span::before{
	background-color: #FCC333;
}
.sidebar.sidebar-additional{
	display: none;
}
.button-quickview{
	position: absolute;
	bottom: 46%;
	left: 0;
	width: 100%;
	z-index: 10;
	opacity: 0.8;
	background-color:
	#000;
	color:
	#fff;
	border: 0;
	border-radius: 0;
	display: none;
}
.product-image-wrapper2{
	position: relative;
}
.product-image-wrapper2:hover .button-quickview{
	display: block;
}
.product-info-main .page-title-wrapper .page-title {
    font-size: 28px;
	font-weight: normal;
	color:#000;
	font-style: normal;
	position: relative;
}
body .swatch-attribute-label{
	font-size: 16px;
	font-weight: 500;
}
body.page-layout-1column .product-info-main button#product-addtocart-button::before {
    content: none;
	display: inline-block;
	vertical-align: middle;
}
body.product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart{
	line-height: initial;

	padding: 5px 50px;
	vertical-align: middle;
	font-size: 1.8rem;
}
body.product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart{
font-size: 12pt;
}
body .action.primary{
	background-color : #FCC334;
	border-color: #FCC334;
	color: #000;
	border-radius: 0;
}
body .action.primary:hover{
	background-color : #FCC334;
	border-color: #FCC334;
	color: #000;
}

body .action.primary.tocart{
	background-color : #71CC6E;
	border-color: #71CC6E;
	color: #fff;
	border-radius: 0;
	width: 300px;
}
body .action.primary.tocart:hover{
	background-color : #64BC5C;
	border-color: #64BC5C;
	color: #fff;
}

body .action.secondary{
	background-color : #71CC6E;
	border-color: #71CC6E;
	color: #fff;
	border-radius: 0;
}
body .action.secondary:hover{
	background-color : #64BC5C;
	border-color: #64BC5C;
	color: #fff;

}
body .product.data.items > .item.title > .switch{
	background: #fff;
}
body .minicart-wrapper .action.showcart .counter.qty {
    background:
#FCC333;
color:
    #fff;
    height: 17px;
    line-height: 17px;
    border-radius: 20px;
    display: inline-block;
    margin: 3px 0 0;
    min-width: 11px;
    overflow: hidden;
    padding: 0 3px;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
}
body #switcher-currency{
	text-align: left;
}
body .page-header .switcher .options ul.dropdown li{
	font-size: 14px;
}
body .page-header .switcher .options ul.dropdown li a{
	color: #000;
}
body .block-minicart .subtitle.empty{
color: #000;
}
.block-minicart .action.edit{
	display: none;
}
.minicart-wrapper .block-minicart{
color: #000;
}

.details-qty, .col.qty {
	span.qty-change {
		padding-left: 7px;
		padding-right: 7px;
		font-weight: 500;
		cursor: pointer;
		-ms-user-select: none;
		user-select: none;
	}
	span.qty-change:hover{

		background-color:#efefef;


	}
}

body .minicart-items .item-qty{
	margin-right: 0px;
}

body{
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="datetime"],
	input[type="email"] {

	border: 1px solid
		#ADADAD;

		color: #333333;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="url"]:focus,
	input[type="tel"]:focus,
	input[type="search"]:focus,
	input[type="number"]:focus,
	input[type="datetime"]:focus,
	input[type="email"]:focus {

	border: 1px solid
		#333333;

		color: #333333;
		box-shadow: none;
	}
	input.mage-error{
		border-color: #EF3333;
		background-color: #FEDADA;
		color: #333333;
	}
}
.cart.table-wrapper{
	.action.action-edit{
		display: none;
	}
}
.opc-block-summary{
	div.product.options{
		display: none;
	}
}

.green_top {
    order: -1;
    background: #71CC6E;
    height: 30px;
}

.banner_slider{
	position: relative;
	.bannertextwrapper{
		position: absolute;
		left: 25%;
		top: 90px;
		text-transform:uppercase;
		font-style: italic;
		.bannertext1{
			font-size: 35px;
			color: #fff;
			font-weight: bold;

			line-height: 45px;
		}
		.bannertext2{
			font-size: 55px;
			color: #fff;
			font-weight: bold;
			line-height: 55px;
		}
		.bannertext3{
			margin-top: 6px;
			padding-bottom: 10px;
			font-size: 20px;
			color: #fff;
			font-weight: 400;
			font-style: normal;
			line-height: 24px;
		}
		.bannershopnow{
			margin: 10px 0;
		}

	}

	.page-with-filter .sidebar {
		display: none;
	}

}

@media only screen and (max-device-width: 767px){
	.filter-options .count {
	    color: #7d7d7d;
	    display: none;
	}

	.am-show-button>.am-items {
    font-size: 15px;
    color: black !important;
}
	span.label {
	    color: black !important;
	}
	.am-show-button>.am-button {
    margin-left: 15px;
    padding: 17px 50px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    background: #71CC6E;
    border: 0;
    box-shadow: none;
}
.am-show-button {
	padding: 10px;
	display: none;
}

.visible .am-show-button {
	display: block !important;
}
	.page-with-filter .sidebar {
		display: none;
	}

	.footer a:visited, .alink:visited {
		color: white !important;
	}

	.category-image {
		display: none;
	}

	.product-item-name, .product.name a {
    font-weight: 600;
    min-height: 56px;
}

.product-item-description {
	margin: 0px;
}

.homepage_slide .left_img {

}

.homepage_slide .content_inner {
	text-align: center;
	margin-bottom: 15px;
}

.top_slider_inner .right_content h3 {
  //  color: #20314E;
    font-style: italic;
    font-weight: bold;
    margin-top: 0px;
    font-size: 17px;
		margin-top: 20px;
		text-transform: uppercase;

}

.top_slider img {
    display: block;
    margin: 0px;
    width: 100%;
}

.top_slider h2 {
	font-size: 22px;
	    color: #20314E;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home_sub_inner h4 {
    font-weight: 500;
    text-align: center;
    font-size: 32px !important;
    padding-bottom: 5px !important;
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
}

.newsletter input {
	margin-top:20px;
    height: 40px !important;
    border: none !important;
    padding-left: 10px !important;
}

.block.newsletter .field .control:before {
	content: '';
}

.footer_img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block.newsletter .actions {
    display: table-cell;
    vertical-align: top;
    width: 20%;
    margin-top: 0px !important;
    position: relative;
    margin-right: 21px !important;
    padding-top: 21px;
}

.block.newsletter {
	margin-bottom: 15px;
}

body .action.primary {
    background-color: #FCC334;
    border-color: #FCC334;
    color: #20314E;
    border-radius: 0;
    height: 45px;
    line-height: 28px;
    font-weight: 500;
    font-size: 16px !important;
}

.block-minicart .block-content>.actions>.primary .action.primary:last-child {
	line-height:44px !important;
}


.opc-block-summary {
	background: white;
}

.checkout-index-index th.mark {
    background: unset;
    border: none !important;
}

.items-in-cart li.product-item {
    border-top: none !important;
    /* border-bottom: 1px solid #c0c0c0; */
}

.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #333;
    font-weight: 300;
    font-size: 2.6rem;
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
}

.opc-block-shipping-information {
    padding: 0 30px;
    background: white;
}

button.action.primary.checkout {
    padding-top: 0px !important;
}

div {
  //  max-width: 100%;
}


.minicart-wrapper .block-minicart {
	min-width: 345px !important;
}

.fieldset.address .street .field .control {
    width: 100%;
    margin-bottom: 10px;
}

.fieldset.address .field .label {
	font-size: 14px;
}

.table-checkout-shipping-method .price {
	font-size: 14px;
}

.opc-wrapper .step-title {
    padding-bottom: 0px;
    text-transform: uppercase;
    font-style: italic;
    color: #27304d;
    clear: both;
		font-weight: bold !important;
}

.opc-estimated-wrapper {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.mobile_hide {
	display:none;
}

strong#block-discount-heading {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    font-style: normal;
    color: #1979c3;
}

.cart-summary>.title {
	text-transform:uppercase;
	font-weight: bold;
	font-style:italic;
	    color: #27304D !important;
}

.mobile_show {
	display:block;
}

.links ul {
	display: none;
}

.links h2 {
    font-size: 14px;
    color: #FBC347;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
		position: relative;
}

.links h2:after {
    content: '⌄';
    color: white;
    position: absolute;
    right: 0px;
    font-size: 27px;
    margin-top: -10px;
}

.product-info-main {
    display: flex;
    flex-direction: column;
}

.catalog-product-view h1.page-title {
    order: 1;
}

.catalog-product-view .product-info-main {
    display: flex;
    flex-direction: column;
    order: 3;
}

.product.info.detailed {
    clear: both;
    margin-bottom: 30px;
    order: 3;
}

.bundle-actions .action.primary, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart, .form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary, .cart-container .checkout-methods-items .action.primary, .block-minicart .block-content>.actions>.primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary {
	    padding: 9px 17px;
}

.catalog-product-view .product.media {
	position: relative;
	order: 2;
}

.newsletter .action.primary {
    background-color: #FCC334;
    border-color: #FCC334;
    color: #20314E;
    border-radius: 0;
    height: 40px;
    line-height: 32px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    font-size: 16px;
    position: relative;
    width: 119px;
}
.block-products-list .block-title {
    text-transform: uppercase;
    font-style: italic;
}

.filter-options-content {
	display: none;
}

.filter-options .filter-options-title:after {
    height: 100%;
    content: '˅';
    position: absolute;
    right: 0px;
    top: 14% !important;
    margin: 0 0 0px 0;
    font-size: 24px;
    border: none !important;
    display: inline-block;
    font-family: serif;
}

div#am-shopby-container {
    background: #efefef;
    padding: 10px;
}
.filter-clear {
	display: none;
}

.filter-options .filter-options-title {
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 0 0 10px;
    word-break: break-all;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

strong.block-subtitle.filter-subtitle {
    display: none;
}

.block.filter .filter-title {
    margin-bottom: 20px;
    display: none;
}
.filter-options .filter-options-title {
	position: relative;
}

.clicky_click {
    margin-top: 20px;
    order: 4;
    text-decoration: underline;
    cursor: grabbing;
}

.clicky_click:hover {
font-weight: bold;
}

.qty-change {
	cursor: grabbing;
}

.page-with-filter .sidebar-main {
    display: none;
    padding: 17px;
    position: absolute;
    background: white;
    width: 89%;
    z-index: 200;
    padding: 21px;
}

.filter_button {
    padding: 4px;
    border: 1px solid #666;
    margin-bottom: 8px;
}

.amend_button {
    padding: 4px;
    border: 1px solid #666;
    margin-bottom: 8px;
}

.filter_title {
	margin-bottom: 10px;
    font-size: 21px;
    text-transform: uppercase;
    position: relative;
}

span.close_filter {
    position: absolute;
    right: 0px;
}
.product-brand-logo {
	display: none;
}

.four_blocks span {
    color: white !important;
}
.minicart-items .product-item-name {
    font-weight: 400;
    margin: 0 0 10px;
    min-width: 86px;
    text-align: left;
}

.minicart-items .product-item-name a {
    color: black;
}
#amasty-shopby-product-list #amasty-shopby-overlay {
	display: none !important;
}

.six_brands li {
	list-style: none;
	width: 50%;
	float: left;
}
.bestsellers .product-item {
  width: 90% !important;
}
#ticker_tape {
	height: auto !important;
}

.six_brands {
	display: none;
}

.page-footer a {
	color: white;
}

img#distance {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slick-dots {
display: none !important;
}

.cms-home .column.main {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}


.slick-dotted.slick-slider {
     margin-bottom: 0px !important;
}

.four_block_container {
    padding: 20px;
}

.home_sub {
    background: #1a2335;
    color: white;
    padding: 20px;
    text-align: center;
}
.top_slider{
background: #E4E4E4;
padding-left: 10px;
padding-right: 10px;
padding-top: 20px;
padding-bottom: 20px;

}
.top_slider h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
.cms-home main#maincontent {
    padding: 0px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0px;
}


.box-tocart .action {
    line-height: 13px !important;
}

.product-info-main .box-tocart .input-text.qty, .product-options-bottom .box-tocart .input-text.qty {
    height: 45px;
    text-align: center;
    width: 45px;
    margin: 0px;
    border: 1px solid #e4e4e4;
		margin-left: 15px;
}

.box-tocart .control {
    width: 132px !important;
    background: #e4e4e4;
}

.fotorama__stage__frame .fotorama__img {
    height: auto;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    transition-duration: .3s;
    transition-property: width,height,top,left;
    vertical-align: middle;
    width: auto;
    border: 1px solid #e4e4e4 !IMPORTANT;
    width: 98% !important;
}

.product-add-form {
    order: 3;
}

.product-info-price {
    order: 1;
}

.product-msrp-savings {
    font-size: 0pt;
    margin-bottom: 15px;
    order: 2;
		margin-top: 15px;
}

.product-info-main .price-box {
	margin-top: 0px;
	padding-top: 0px;
}

.product-info-price {
    order: 1;
    margin-top: 20px;
}


.catalog-product-view .page-title span  {
	font-weight: normal !important;
	//font-style: normal !important;
}
.block-minicart  .action.primary {
  line-height: 11px !important;
}



a.action.action-delete {
    background: none !important;
    border: none !important;
    color: #1979c3 !important;
    font-weight: normal !important;
    text-align: left;
    text-transform: capitalize;
    float: left;
    padding: 0px !IMPORTANT;
}

.block-cart-failed .action.continue, .cart-container .cart-gift-item .action.continue, .cart-container .form-cart .action.continue
{
  border-radius: 0px;
  padding:10px;
}

button#empty_cart_button {
    border: none;
    border-radius: 0px;
    padding: 10px;
    background: #FAD6D6;
    font-weight: 500;
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

button#empty_cart_button:hover {
    background: #feb5b4;
}


button.action.update {
  border: none;
  border-radius: 0px;
  padding: 10px;
  background: #E0EEDE;
  font-weight: 500;
  font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

button.action.update:hover {
  background: #c6ebc5;

}

.action.continue {
  background: #f5f5f5;
}

tr.grand.totals.excl {
  display: none;
}

.paypal-review-discount .block>.title, .cart-summary .block>.title {
    border: 1px solid #d1d1d1;
    cursor: pointer;
    font-weight: 600;
    display: block;
    text-decoration: none;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    padding-right: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3px;
}

strong#block-discount-heading {
    font-size: 16px;
    font-style: normal;
}

.paypal-review-discount .block>.title:after, .cart-summary .block>.title:after {
    position: absolute;
    right: 4px;
    top: -1px;
    font-weight: bold;
    font-style:normal;
}

button.action.primary.checkout {
    font-weight: normal;
}

div#block-discount {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

button.action.primary.checkout {
    padding-top: 10px !important;
}




strong#block-shipping-heading {
    font-style: normal;
    font-size: 16px;
}

button.action.primary:hover {
    background: #dd971b;
}

button, .action {
    padding-left: 30px !important;
    padding-right: 30px !important;
}


#checkout {
  padding: 16px !important;
}

button.button.action.continue.primary {
    line-height: 11px !important;
    font-size: 16px !important;
}

.opc-wrapper .step-title {
    padding-bottom: 0px;
    text-transform: uppercase;
    font-style: italic;
    color: #27304d;
    clear: both;
}

.newsletter-subscribe {
    clear: both;
}

.discount-code .payment-option-title {
    padding-top: 20px !important;
}


.opc-block-summary {
    padding: 30px !important;
    margin: 0 0 20px;
}

.form-login .hidden-fields .actions-toolbar button.login {
  border-radius: 0px !important;
}

tr.grand.totals.incl strong {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    /* font-style: italic; */
}

tr.totals.sub th {
    font-weight: bold !important;
}

tr.grand.totals.incl {
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
  }

  .cart-totals .grand .mark, .cart-totals .grand .amount, .opc-block-summary .table-totals .grand .mark, .opc-block-summary .table-totals .grand .amount {
    padding-top: 10px;
}

tr.totals.shipping.incl .value {
    display: none;
}

.opc-block-summary .items-in-cart>.title {
  display: none !important;
}

.items-in-cart li.product-item {
  border-top: none !important;
    border-bottom: none !important;
}

.minicart-items .product-item-name {
    font-weight: 400;
    margin: 0 0 10px;
    min-width: 86px;
    text-align: left;
}


.page-main .opc-block-summary .items-in-cart {
  margin-bottom: 2px;
}

body input[type="text"]:focus, body input[type="password"]:focus, body input[type="url"]:focus, body input[type="tel"]:focus, body input[type="search"]:focus, body input[type="number"]:focus, body input[type="datetime"]:focus, body input[type="email"]:focus {
    border: 1px solid #FCC333;
    color: #333333;
    box-shadow: none;
}

.col-carrier {
    display: none;
}

.ship-to {
    background: #f4f4f4;
    border: 1px solid #c0c0c0;
    padding: 20px;
    margin-bottom: 20px;
}
.ship-via {
    background: #f4f4f4;
    border: 1px solid #c0c0c0;
    padding: 20px;
    margin-bottom: 20px;
}

.opc-block-shipping-information .shipping-information-title {
border-bottom: none;
}

.opc-block-shipping-information .shipping-information-title {
    border-bottom: none;
    margin: 0 0 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    color: #27304d;
}

.product-info-main .box-tocart, .product-options-bottom .box-tocart {
	margin-top: 0px;
}

.bundle-actions .action.primary, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart, .form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary, .cart-container .checkout-methods-items .action.primary, .block-minicart .block-content>.actions>.primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary {
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 16px;
}

.checkout-payment-method .payment-option-content {
     padding: 0px;
}

form#discount-form {
    margin-top: 20px;
}

#discount-form .payment-option-inner {
    width: 76%;
    float: left;
}

#discount-form .actions-toolbar {
    width:  16%;
    float: left;
    clear: unset;
}

.opc-wrapper .form-discount {
    max-width: 570px;
}

input#discount-code {
    height: 40px;
}


.discount-code  .action-toggle {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.discount-code .action {
  //  padding-left: 13px !important;
  //  padding-right: 13px !important;
}

.discount-code .payment-option-title {
  padding-left: 0px !important;
}

.discount-code .actions-toolbar {
    margin-left: -1% !important;
}

#discount-coupon-form .field {
    width: 75%;
    float: left;
}

#discount-coupon-form  .actions-toolbar {
    width: 25%;
    float: left;
    clear: unset;
}

#discount-coupon-form input#coupon_code {
    border: none;
}

#discount-coupon-form button.action.apply.primary {
    background: #FCC334;
    border: none;
    padding: 0px;
    margin-top: 26px;
    height: 32px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.account .block-title {
  text-transform: uppercase;
    font-style: italic;
    color: #27304D !important;
    font-weight: bold !important;
    font-size: 18px;
    font-weight: bold;
}

.action-towishlist {
  display: none;
}

.account #maincontent .action {
  padding-left: 0px !important;
  padding-right: 30px !important;
}

.account-nav .content {
  background: #fff;
  padding: 0px;
}

.account-nav li.nav.item:after {
    content: '>';
    position: absolute;
    right: 10px;
    top: 2px;
}

.account-nav .item .delimiter {
  display: none;
}

.account-nav li.nav.item {
    position: relative;
}


.account-nav li.nav a {
  color: black !important;
  border-bottom: 1px solid #c0c0c0;
}

.account-nav .item.current a, .account-nav .item.current strong {
    border-color: #FBC347;
    font-weight: 600;
    background: #f4f4f4;
    border-left: none;
    border-bottom: 3px solid #FBC347;
}

.account-nav .block-title strong {
  font-weight: bold !important;
}

.block .block-title, .block .block-title strong, .account legend {
    font-size: 20px !important;
    text-transform: uppercase;
    font-style: italic;
    color: #27304D;
    font-weight: bold !important;
}

.remind {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.block  .block-title a  {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
    font-style: normal;
}

.account button.action.primary.add {
    padding-left: 30px !important;
    padding-right: 30px;
    background: #c0c0c0;
    border: 1px solid #333;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-right: 10px;
}

th {
    background: #f5f5f5;
    border-top: 1px solid #e4e4e4 !important;
    border-bottom: 1px solid #e4e4e4 !important;
    padding-top: 10px !important;
    color: #27304D;
}

.cart-summary th  {
  border: none !important;
}
.checkout-index-index th  {
  border: none !important;
  background: #fff !important;
}

th span {
  font-weight: normal;
}

.account .fieldset .fullname .field .label {
  width: auto;
}

.primary .action {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-right: 13px;
}

.amcard-field-block .amcard-button.-account {
    background-color: #FCC334;
    border-color: #FCC334;
    color: #20314E;
    border-radius: 0;
    height: 35px;
    line-height: 19px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    font-size: 16px;
}

.amcard-field-block.-double>.amcard-field {
    border-radius: 2px 0 0 2px;
    height: 40px;
		margin-bottom: 15px !important;
  //  border-right: none !important;
}

.amstorecredit-index-index  h3 {
  font-size: 20px !important;
  text-transform: uppercase;
  font-style: italic;
  color: #27304D;
  font-weight: bold !important;
}

.minicart-items .product-item-details {
    padding-left: 88px;

    text-align: left;
    color: black !important;
}

.minicart-items strong.product-item-name {
    width: 40%;
    float: left;
    margin-left: 0%;
    margin-right: 4%;
}



.minicart-items .price-container {
    width: 24%;
    float: left;
}

.minicart-items span.qty-change {
    display: none;
}

.minicart-items .qty .label {
  display: none;
}

.minicart-items .action {
    width: 10%;
    float: left;
    margin-left: 11%;
    padding: 0px !important;
}

.minicart-wrapper .product .actions {
    float: right;
    width: 10%;
    text-align: right;
    float: left;
    margin-left: 7%;
    margin-top: 0px;
}

.minicart-items .item-qty {
	width: 30px;
}

.minicart-items .product-item-details .details-qty {
    margin-top: 10px;
    width: 7%;
    float: left;
    margin-left: 8%;
    margin-top: 0%;
}

.action-towishlist {
  display: none;
}

button.amcard-check {
    padding-left: 0px !important;
}

a.use-ajax.action.towishlist.action-towishlist {
    display: none;
}

.cart.table-wrapper .product-item-details {
  text-align: left;
  clear: both;
}

.cart.table-wrapper .product-item-name {
  display: block;
  clear: both;
}

.cart .price-including-tax .price, .cart .price-excluding-tax .price {
    font-weight: normal;
    font-size: 15px;
}

.checkout-cart-index .amcard-field-container {
  display: none;
}

.checkout-payment-method .payment-method-title label div.adyen-sprite.adyen_cc {
    background: url(../images/logos/cc_border.png) no-repeat !important;
}

.shipping-information-title .action-edit:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    line-height: 28px;
    color: #1979c3 !important;
    content: 'Edit' !important;

    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
font-size: 15px !important;
}

.amcard-codes-list.-cart, .amcard-field-container.-cart {
    max-width: 72%;
    width: 72%;
    text-align: left;
    float: left;
    clear: both;
}


.adyen-checkout__input--focus, .adyen-checkout__input--focus:hover, .adyen-checkout__input:active, .adyen-checkout__input:active:hover, .adyen-checkout__input:focus, .adyen-checkout__input:focus:hover {
    border: 1px solid #FCC335 !important;
    box-shadow: unset !important;
}

.checkout-payment-method .actions-toolbar .primary button {
	background: both;
	float: right;
	margin: 0;
	margin-bottom: 16px;
	background: #71cc6e;
	color: white;
	border: none;
	padding-bottom: 20px;
}

.mobile_hide {
	display:block;
}
.mobile_show {
	display:none;
}

button.action.action-apply, .amcard-field-block .amcard-button {
    background: #FCC334 !important;
    color: black !important;
    border: none;
    border-radius: 0px;
    height: 40px;
}


.checkout-cart-index  h1 {
  text-transform:uppercase;
}

.newsletter-title {
  padding-top: 20px;
}

button, .action, .cart.table-wrapper .actions-toolbar>.action, .action-gift {
	padding: 0px !important;
}

.qty-change {
    cursor: grabbing;
    padding-left: 18px;
}

.opc-progress-bar-item {
    margin: 0 0 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 33% !important;
}


h1.page-title {
    margin-top: 17px;
    font-weight: bold;
    font-style: italic;
}

.cart-summary {
    background: #f5f5f5;
    margin-bottom: 25px;
    padding: 1px 15px 25px;
    display: flex;
    flex-direction: column;
}

.cart-container .checkout-methods-items {
	order: 4;
}
div#block-discount {
	order: 2;
}
.cart-totals {
	order: 3;
}

.cart-summary .block {
    order: 1;
    margin-bottom: 0;
}

a.action.continue {
    height: 35px;
    line-height: 30px !important;
    width: 100%;
}

.abs-shopping-cart-items .action.continue:before, .block-cart-failed .action.continue:before, .cart-container .form-cart .action.continue:before {
	line-height: 30px !important;
}

.checkout-cart-index  .main .actions button {
    width: 100%;
    height: 35px;
}

.checkout-cart-index  .main .actions span {
    padding-top: 10px;
    line-height: 30px;
}

.cart.table-wrapper .item .col.item {
width: 45%;
float: left;
}

.cart.table-wrapper .product-item-name  {
	text-align: left;
}

.cart.table-wrapper .col.price {
    display: none !important;
}
.cart.table-wrapper .col.qty, .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp {
	width: 26%;
}

.cart .qty-change {
	display: none;
}

button.action.primary.checkout, .cart.table-wrapper .actions-toolbar>.action.action.primary.checkout, .action-gift.action.primary.checkout {
	padding-top: 0px;
}

.related {
order: 4;
}

.clicky_click {
	margin-bottom: 20px;
}




.my_account {
	margin-left: 15px;
}
.level-top a {
    width: 105%;
    display: block !important;
}

.navigationnew ul li.level0 {
	position: relative;
}

.navigationnew ul .fas {
    top: 15px;
    float: right;
    position: absolute;
    right: 14px;
}
.page-with-filter .swatch-attribute {
	display: none;
}

.top_blocks_outter {
	display: none;
}
.page-wrapper:before {
    content: ' ';
    background: grey;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    opacity: 0.6;
		display: none;
}

.section-item-title.nav-sections-item-title.active {
	display: none;
}

.close_menu {
    content: 'X';
    position: absolute;
    right: 0px;
    padding: 10px;
    top: 0px;
    font-size: 26px;
    margin-right: 6px;
    /* background: #f0f0f0; */
    margin-top: 10px;
    line-height: 8px;
}

.block-brand-search, .block-brand-list ul.brand-options li.active {
    background-color: #fff;
    padding: 0px;
}

ul.nav.brand-options.navbar-nav.controls {
	padding-left: 0px;
}

.shoestep_left {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0px !important;
    padding-top: 30px!important;
}

.shoestep li {
    width: 100% !important;
    padding: 5px !important;
}

.shoestep_right {
	margin-left: 0px !important;
}

.step {
	padding:0px !important;
}

div#ajaxCatalog {
    padding-top: 25px !important;
}

li.product-item-finder {
	float:left;
    width: 50% !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

span.stickerlabel {
    font-size: 12px;
}
.section-item-title.nav-sections-item-title {
	display: none;
}

.nav-sections {
    background: #fff;
}

.mobile_link {
//	padding-left: 10px;
	font-weight: bold;
}

.navigationnew ul li.level0 ul li{
	background: #f0f0f0 !important;
}


.button-quickview {
  display: none;
}
.product-image-wrapper2:hover .button-quickview {
    display: none;
}

a.mobile_link.mobile_sign span {
    padding-left: 0px !important;
}


.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.product-msrp-savings .msrplabel {
    font-size: 14px;

}

.product-msrp-savings .product-savings {
	font-size: 14px;
}

.amcard-preview-container {
    display: none;
}

.amcard-form-container {
	border: none;
	margin:0px;
	padding:0px;
}

.amcard-page-product .product-msrp {
	display: none;
}

#step-price-slider .ui-slider-range {
	position: relative;
}

.swatch-option {
    border: 1px solid #dadada;
    cursor: pointer;
    float: left;
    height: 36px;
    margin: 0 10px 5px 0;
    max-width: 102%;
    min-width: 30px !important;
    overflow: hidden;
    padding: 1px 2px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 37px !important;
}

.sidebar-main .block-category-brand {
	display: none;
}

.update:before {
    line-height: 29px !important;
}

button.action.primary.checkout, .cart.table-wrapper .actions-toolbar>.action.action.primary.checkout, .action-gift.action.primary.checkout {
	padding-top: 0px !important;
}

.action.primary {
    opacity: 1 !important;
    border: 1px solid #74b95d;
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500 !important;
}



.checkout-index-index .page-main {
		padding: 0px;
		    background: #27304D;
}

.checkout-index-index .logo {
    display: block;
    margin: 15px;
    margin-left: auto !important;
    margin-right: auto !important;
}

div#checkout {
    background: white;
}

ul.good_points {
    margin-top: 10px;
}

.paypal {
    background: #efefef;
    width: 94%;
    height: 52px;
    padding: 10px;
}

.paypal_right {
    color: #021775;
    width: 62%;
    float: right;
    font-size: 12px;
}

.paypal_left {
    width: 38%;
    float: left;
}

.sidebar-main .block-static-block {
	display: none;
}

.am-show-button>.am-button {
	padding: 12px !important;
}
.am_shopby_apply_filters {
	bottom: 0px !important;
}

.clicky_click {
	display: none !important;
}

.paypal {
	margin-top: 15px;
	margin-bottom: 15px;

}

.mp-sizechart-container {
    position: relative !important;
    background: white !important;
    top: 0% !important;
    left: 0% !important;
    width: 85% !important;
    max-width: 100% !important;
    z-index: 20000 !important;
    padding: 20px !important;
    border: none !important;
		display: block !important;
}

.account p.toolbar-amount {
    text-align: left;
}
.account .actions-toolbar .back {
	display: none;
}

.searchsuite-autocomplete {
    border-top: 0;
    left: 0px;
    margin-top: 0;
     right: 0px;
    width: auto;
}

.sparsh_banner_slider {
.slick-arrow {
  display: none !important;
}
.caption {
  color: white;
}

.title {
  color: #fff;
}
.column {
  color: #fff;
}
 .caption .btn-banner {
    background: white !important;
    border: none !important;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    width: 34% !important;
    height: 43px;
    line-height: 44px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #27304D !important;
		margin-left: auto !important;
		margin-right: auto !important;
}
h1 {
  font-style: normal !important;
  color: #fff !important;
  margin-bottom: 25px !important;
}
h2 {
  font-style: normal !important;
  color: #fff !important;
}

.caption p {
  color: #fff !important;
  font-style: normal !important;
text-transform: capitalize;
}

.caption {
	text-align: center;
}
.image-thumb {
    height: 300px;
    background-position-x: 46%;
    background-size: cover;
}
}

.amend_button {
	display: none;
}

.checkout-cart-index .choose_gift_type {
  display: none;
}

.good_points li:before {
    content: '✓';
    color: #74b95d;
    margin-right: 15px;
}


.good_points li {
	list-style: none;
}

.good_points {
	margin-top:10px;

}

.searchsuite-autocomplete .reviews-actions {
  display: none;
}

.searchsuite-autocomplete ul li .qs-option-image {
  max-width: 120px !important;
	width: 33% !important;
}

.searchsuite-autocomplete ul li a {
    cursor: pointer;
    color: black;
}

.searchsuite-autocomplete .qs-option-reviews {
display: none;
}

.searchsuite-autocomplete .qs-option-description {
  display: none;
}

.searchsuite-autocomplete ul li .qs-option-info {
	width: 60% !important;
}

.shoestep_right {
	width: 97% !important;
}

.shoestep_left {
	width: 97% !important;
}

li.product-item-finder {
	margin-left: 0px !important;
}

.four .grey-overlay {
    display: block;
    background: #EF3433 !important;
}

.saveperc {
    position: absolute;
    right: 0px;
    z-index: 200;
    background: red;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

h1.page-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
    color: #27304D;
}


.searchsuite-autocomplete {
    left: 1px !important;
    border-top: 0;
    margin-top: 0;
    right: 15px;
    width: 99% !important;
}
/*
.cart-summary  .totals .mark .title {
  display: none;
}

.cart-summary  .totals th:before {
  content: 'Discount';
}

.cart-summary .grand .mark .title {
  display: block;
}

.cart-summary  .grand th:before {
  content: '';
}

.cart-summary .sub .mark .title {
  display: block;
}

.cart-summary .sub th:before {
  content: '';
}

.cart-summary .totals-tax th:before {
  content: '';
}
*/

.nav_brands {
	display: none;
}

.sticker_free {
    position: absolute;
    z-index: 200;
    transform: rotate(0deg);
    bottom: -6px;
    right: 0px;
    width: 100%;
	pointer-events: none;
}

.sticker_new {
    position: absolute;
    z-index: 200;
    transform: rotate(0deg);
    top:0px;
    left: 0px;
}

.sticker_back {
    position: absolute;
    z-index: 10;
    transform: rotate(0deg);
    top:0px;
    left: 0px;
}

.sticker_back img {
    width: 59px;
    padding-top: 5px !important;
    padding-left: 5px;
}

.sticker_free img {
    WIDTH: 100%;
    HEIGHT: 100%;
}

.sticker_deal {
    position: absolute;
    bottom: -5px;
    right: 0px;
    z-index: 200;
}

.mobile_link span {
  //  padding: 16px;
  //  margin-right: 18px;
  //  background: #333;
  //  border-radius: 10px;
  //  height: 100px;
    line-height: 45px;
    position: relative;
  //  top: -9px;
    color: white;
}

.media .sticker_new {
    position: absolute;
    z-index: 200;
    transform: rotate(0deg);
    top: 12px;
    left: 9px;
}

.media .saveperc {
	top: 6px;
	right:6px;
}

.callback {
	min-height: 625px !important;
}


.infobottom {
	margin-top:0px !important;
}

.product-info-main .product-msrp, .product-info-main  .product-savings {
	text-align: left;
}

.call_me_maybe {
    width: 40%;
    float: right;
    order: 3;
    position: absolute;
    right: 0px;
}

.lowest-monthly {
    font-size: 12px;
		background: #005496;
    color: white;
    padding-top: 5px;
    padding-bottom: 8px;
		margin-bottom: 15px;
}

}

#searchsuite-autocomplete .price-container .price{
	font-size: 1.8rem;
}
.stickerwrap { display: none; }

.four .grey-overlay {
    display: block;
    background: #EF3433 !important;
}
span.grey-overlay {
    position: absolute;
    background: #1A2335;
    width: 100%;
    height: 98%;
    top: 0px !important;
    left: 0px !important;
    opacity: 0.8;
    display: none;
    z-index: 10;
}
.totals.discount .title{
	display: none;
}

body .totals.discount span.discount.coupon{
	display: block;
}
.applied .cancel span {
    padding: 0px !important;
    margin: 0px;
    width: auto;
    line-height: 16px !important;
    font-size: 14px;
}
.applied .cancel {
    background: #FCC334 !important;
    border: none !important;
    color: #000 !important;
    font-size: 14px !important;
    line-height: 14px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
}

.amcard-field-block.-double > .store-field {
    border-radius: 2px 0 0 2px;
    height: 40px;
    border-right: none !important;
}
.amcard-field-block.-double > .store-field {
    border-radius: 2px 0 0 2px;
}
.amcard-field-block > .store-field {
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
        border-right-color: rgb(212, 212, 212);
        border-right-style: solid;
        border-right-width: 1px;
    border-radius: 2px;
    background: #fff;
}


#customer-email-fieldset .actions-toolbar {
    float: right !important;
    clear: both;
    margin-left: 10%;
		margin-bottom: 10px;
}


#customer-email-fieldset .login {
    height: 35px;
    margin-bottom: 10px !important;
}

button.action.primary.checkout {
    margin-bottom: 20px !important;
}

.pick_type {
    width: 50%;
    float: left;
		margin-top: 10px;
		font-weight: bold;
}

.payment-option-title.field.choice {
    padding-left: 10px !important;
}


.checkout-payment-method .checkout-billing-address .primary .action-update {
	height: 45px;
}

button.action.action-cancel {
    height: 45px;
}
#discount-form .actions-toolbar {
    width: 25%;
    float: left;
    clear: unset;
}
.choose_gift_type {
    clear: both;
    padding-bottom: 20px !important;
}


.choose_gift_type h3 {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}


.amcard-field-container.-cart {
    padding-top: 20px;
}

.amcard-codes-list .amcard-check, .amcard-field-container .amcard-check {
    margin-top: 20px;
}


.form-login .hidden-fields > .field {
width: 100% !important;
}


.amcard-codes-list .amcard-check, .amcard-field-container .amcard-check {
    margin-top: 20px;
}


#customer-email-fieldset .actions-toolbar {
  float:right !important;
}

.amcard-field-block.-double>.store-field {
      border: 1px solid #d4d4d4 !important;
}

.gift_notice {
margin-bottom: 10px;
padding-top: 10px;
}

.amcard-field-block.-double>.store-field {
  margin-bottom: 10px;
}

.amcard-field-block.-code {
    margin-top: 10px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

.amcard-field-container.-cart {
    padding-top: 20px;
    max-width: 100% !important;
    width: 100% !IMPORTANT;
}

.res_notice {
    order: 2;
}


    .billing-address-form {
      background: #f4f4f4;
          border: 1px solid #c0c0c0;
    width: 88% !important;
    max-width: 88% !important;
    padding: 20px;
    padding-top: 0px;
}

a.mobile_link.mobile_account {
    margin-left: 12px;
}

.linky_link {
    width: 220px;
    background: #333;
    height: 45px;
    margin-left: 13px;
    margin-top: -17px;
}

.linky_link img {
    width: 30px;
    margin-top: 8px;
    padding-left: 10px;
}

.mobile_link span {
    line-height: 18px !important;
    position: relative;
    color: white;
    margin-top: 15px !important;
    top: -8px !important;
}

#cart-totals .totals-tax {
  display: none;
}

@media only screen and (max-device-width: 767px){

.column.main {
    display: flex;
    flex-direction: column;
}

.category-view {
    order: 1;
}

div#amasty-shopby-product-list {
    order: 2;
}


.sub_cats {
	display: none;
}

#product-attribute-specs-table2 h2 {
	font-size: 19px;
}

.mp-sizechart-container {
	padding: 0px !important;
}

span.close_pop {
	display: none;
}

#product-attribute-specs-table2 img {
	display: none;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    padding: 7px 5px !important;
}

.field.choice.related {
    display: none;
}

.related .block-actions {
	display: none;
}

.related .block-title.title {
    text-align: center;
}

table#product-attribute-specs-table2 {
    width: 94% !important;
}
th.label {
    font-size: 10px;
}

td.data {
    font-size: 10px;
}

th.label {
    font-size: 11px;
}

.block-brand-list .brand-list-content li.product-item {
	width:100% !important;
}
aside.modal-popup.vatpopupmodal.modal-slide._show {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0px !important;
}


.vatpopupmodal .content {
    padding: 0px !important;
}

.cart-container .product-item-photo {
}

.cms-page div {
    max-width: 100% !important;
}

.loader {
    display: none !important;
}

.payment-option._collapsible.opc-payment-additional.store-credit-add {
    clear: both;
    float: left;
    margin-top: 20px;
}

.checkout-payment-method .payment-option-title .action-toggle {
	padding:0px !important;
}

.payment-option-title.field.choice {
    border: none !important;
}

span.swatch-attribute-selected-option {
    display: none;
}

ul.level0.submenu {
    display: flex;
    flex-direction: column;
}
li.view_all {
    order: 4;
}
.field.password-info {
    display: none;
}

ul.level1.submenu {
    display: flex;
    flex-direction: column;
}
.swatch-attribute.uk_clothing_size {
    display: flex;
    flex-direction: column;
}

div#option-label-uk_clothing_size-286-item-2743 {
    order: 5;
}

.swatch-attribute-options {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}

#shopping-cart-table .product-item-photo {
    display: block;
    left: 6px;
    max-width: 34%;
    /* position: absolute; */
    top: 15px;
    width: 84%;
    position: relative;
    float: left;
    margin-right: 19px;
}
 #shopping-cart-table .product-item-details {
    width: 53%;
    padding-top: 20px;
    clear: none !important;
    float: left;
}

.applied .cancel span {
	font-size:11px;
}
.cancel {
    background-color: #FCC334;
    border-color: #FCC334;
    color: #20314E;
    border-radius: 0;
    height: 30px !important;
    line-height: 28px;
    font-weight: 500;
    margin-top: 27px;
    font-size: 16px !important;
}

//static page accordion

button.accordion {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    color: #444;
    cursor: pointer;
    padding: 10px !important;
    width: 100%;
    text-align: left;
    font-family: arial;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    transition: .4s;
    padding-left: 0;
}
div.panel2 {
    padding:18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
    transition: .6s ease-in-out;
    opacity: 1;
}

button.accordion::after {
    color: #777;
    content: '+';
    float: right;
    font-size: 21px;
    margin-left: 5px;
}

.active_panel::after {

    content: '-' !important;

}

.remodal-bg.remodal-is-opening,.remodal-bg.remodal-is-opened{-webkit-filter:blur(3px);filter:blur(3px)}.remodal-overlay{background:rgba(43,46,56,.9)}.remodal-overlay.remodal-is-opening,.remodal-overlay.remodal-is-closing{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.remodal-overlay.remodal-is-opening{-webkit-animation-name:remodal-overlay-opening-keyframes;animation-name:remodal-overlay-opening-keyframes}.remodal-overlay.remodal-is-closing{-webkit-animation-name:remodal-overlay-closing-keyframes;animation-name:remodal-overlay-closing-keyframes}.remodal-wrapper{padding:10px 10px 0}.remodal{box-sizing:border-box;width:100%;margin-bottom:10px;padding:35px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);color:#2b2e38;background:#fff}.remodal.remodal-is-opening,.remodal.remodal-is-closing{-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.remodal.remodal-is-opening{-webkit-animation-name:remodal-opening-keyframes;animation-name:remodal-opening-keyframes}.remodal.remodal-is-closing{-webkit-animation-name:remodal-closing-keyframes;animation-name:remodal-closing-keyframes}.remodal,.remodal-wrapper:after{vertical-align:middle}.remodal-close{position:absolute;top:0;left:0;display:block;overflow:visible;width:35px;height:35px;margin:0;padding:0;cursor:pointer;-webkit-transition:color .2s;transition:color .2s;text-decoration:none;color:#95979c;border:0;outline:0;background:0 0}.remodal-close:hover,.remodal-close:focus{color:#2b2e38}.remodal-close:before{font-family:Arial,helvetica cy,nimbus sans l,sans-serif!important;font-size:25px;line-height:35px;position:absolute;top:0;left:0;display:block;width:35px;content:"\00d7";text-align:center}.remodal-confirm,.remodal-cancel{font:inherit;display:inline-block;overflow:visible;min-width:110px;margin:0;padding:12px 0;cursor:pointer;-webkit-transition:background .2s;transition:background .2s;text-align:center;vertical-align:middle;text-decoration:none;border:0;outline:0}.remodal-confirm{color:#fff;background:#81c784}.remodal-confirm:hover,.remodal-confirm:focus{background:#66bb6a}.remodal-cancel{color:#fff;background:#e57373}.remodal-cancel:hover,.remodal-cancel:focus{background:#ef5350}.remodal-confirm::-moz-focus-inner,.remodal-cancel::-moz-focus-inner,.remodal-close::-moz-focus-inner{padding:0;border:0}@-webkit-keyframes remodal-opening-keyframes{from{-webkit-transform:scale(1.05);transform:scale(1.05);opacity:0}to{-webkit-transform:none;transform:none;opacity:1;-webkit-filter:blur(0);filter:blur(0)}}@keyframes remodal-opening-keyframes{from{-webkit-transform:scale(1.05);transform:scale(1.05);opacity:0}to{-webkit-transform:none;transform:none;opacity:1;-webkit-filter:blur(0);filter:blur(0)}}@-webkit-keyframes remodal-closing-keyframes{from{-webkit-transform:scale(1);transform:scale(1);opacity:1}to{-webkit-transform:scale(.95);transform:scale(.95);opacity:0;-webkit-filter:blur(0);filter:blur(0)}}@keyframes remodal-closing-keyframes{from{-webkit-transform:scale(1);transform:scale(1);opacity:1}to{-webkit-transform:scale(.95);transform:scale(.95);opacity:0;-webkit-filter:blur(0);filter:blur(0)}}@-webkit-keyframes remodal-overlay-opening-keyframes{from{opacity:0}to{opacity:1}}@keyframes remodal-overlay-opening-keyframes{from{opacity:0}to{opacity:1}}@-webkit-keyframes remodal-overlay-closing-keyframes{from{opacity:1}to{opacity:0}}@keyframes remodal-overlay-closing-keyframes{from{opacity:1}to{opacity:0}}@media only screen and (min-width:641px){.remodal{max-width:700px}}.lt-ie9 .remodal-overlay{background:#2b2e38}.lt-ie9 .remodal{width:700px}

html.remodal-is-locked{overflow:hidden;-ms-touch-action:none;touch-action:none}.remodal,[data-remodal-id]{display:none}.remodal-overlay{position:fixed;z-index:9999;top:-5000px;right:-5000px;bottom:-5000px;left:-5000px;display:none}.remodal-wrapper{position:fixed;z-index:10000;top:0;right:0;bottom:0;left:0;display:none;overflow:auto;text-align:center;-webkit-overflow-scrolling:touch}.remodal-wrapper:after{display:inline-block;height:100%;margin-left:-.05em;content:""}.remodal-overlay,.remodal-wrapper{-webkit-backface-visibility:hidden;backface-visibility:hidden}.remodal{position:relative;outline:none;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}.remodal-is-initialized{display:inline-block}
.page-with-filter .swatch-attribute {display:block !important;}
div#shipping-new-address-form .warning {
    display: none;
}
.payment-method-content {
    padding-bottom: 65px !important;
}

.slick-slide {
    max-width: unset !important;
}
.block.newsletter .action.subscribe {
	margin-top:-1px;
}


.homepage_slide .right_content {
  //background-color: rgb(26, 35, 55,0.8);
display: grid;
    width: 96.2%;
    float: right;
    position: absolute;
    bottom: 20px;
    color: white;
    padding-bottom: 1px;
    left: 7px;
}
.top_slider h4 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: #20314E !important;
}

.homepage_slide .right_content .content_inner {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.homepage_slide .left_img {
    width: 100%;
    float: left;
    position: relative;
}

.top_slider img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.homepage_slide .right_content {
    display: grid;
    width: 96.2%;
    float: right;
    position: absolute;
    bottom: 20px;
    color: white;
    padding-bottom: 1px;
    left: 7px;
}
.homepage_slide .grey-overlay {
    position: absolute;
    background: #1A2337;
    width: 100%;
    height: 100%;
    top: 0px !important;
    left: 0px !important;
    opacity: 0.8;
    display: block;
    z-index: 0;
}

.homepage_slide .right_content .content_inner {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}
div#mageplaza-bannerslider-block-before-content-2 {
	display: none;
}

#banner-slider-carousel {
    margin-top: 0px;
    /* margin-bottom: 5px; */
}

.four_blocks .label {
  z-index: 1 !important;
}
span.grey-overlay {
  z-index: 0 !important;
}

#banner-slider-carousel {
	margin:0px !important;
}
.content_inner a {
  color: white;
}

.category-view .category-cms {
    display: none;
}

.category-cms {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}

@media only screen and (max-device-width: 767px) and (min-device-width: 460px) {

  .four_blocks {
      width: 48%;
      float: left;
      padding: 1%;
  }

  span.grey-overlay {
    position: absolute;
    background: #1A2335;
    width: 97%;
    height: 95%;
    top: 7px !important;
    left: 6px !important;
    opacity: 0.8;
    display: none;
    z-index: 10;
}

li.product-item {
    width: 31% !important;
    margin-left: 10px !important;
    padding: 2% !important;
}

a.mobile_link {
    color: white !important;
}

a.mobile_link:visited {
    color: white !important;
}




}


@media only screen and (min-device-width: 460px) and (max-device-width: 1024px) {

	div#mageplaza-bannerslider-block-before-content-2 {
    display: block !important;
}

.button-quickview {
	display: none !important;
}
div#mageplaza-bannerslider-block-before-content-2 {
	display: none;
}

#banner-slider-carousel {
    margin-top: 0px;
    /* margin-bottom: 5px; */
}
}

.top_blocks_outter {
	display: none !important;
	}

	a.mobile_link {
	    color: white !important;
	}

	a.mobile_link:visited {
	    color: white !important;
	}

	.linky_link li {
		float:left;
	}

	.navigationnew ul {
    margin: 0;
    padding: 0;
    //float: left;
    margin-top: 10px;
}

.linky_link img {
    float: left;
}

.navigationnew ul {
    margin: 0;
    padding: 0;
  //  float: left;
    margin-top: 10px;
    width: 100%;
}

.linky_link {
  display: none;
}

.navigationnew .linky_link {
  display: flex;
	flex-direction: row;
}


.linky_link img {
    width: 30px;
    height: 30PX;
    margin-top: 8px;
    padding-left: 10px;
}

#ticker_tape a {
	color:white !important;
}

aside.modal-popup.vatpopupmodal.modal-slide._show {
    padding-top: 30%;
}
