<?php
$objectManager  = \Magento\Framework\App\ObjectManager::getInstance();
$cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
$_imageHelper = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Catalog\Helper\Image');
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
$categoryId = 1224;
$category = $objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection        = $productCollection->create()
    ->addAttributeToFilter('status', 1)
    ->addAttributeToSelect('*')
    ->addCategoryFilter($category);
    $collection->addAttributeToSort('position');
$collection
    ->setPageSize(10)
    ->setCurPage(1)  // first page (means limit 0,10)
    ->load();
?>
<div class="">
    <div class="block widget block-products-list grid">
        <div class="block-title">
            <h2><strong>Our Top Picks</strong></h2>
        </div>
<div class="block-content bestsellers">
<div class="products-grid grid">
<ol class="product-items widget-product-grid">
<?php $iterator = 1;

 ?>
<?php if(isset($collection)) { ?>
<?php foreach($collection as $product) {
$prod = $objectManager->get('Magento\Catalog\Model\Product')->load($product->getId());
//$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $prod->getImage();

$imageId = 'product_base_image';
$width = 240;
$height = 300;

$resizedImageUrl = $_imageHelper
                        ->init($prod, $imageId)
                        ->constrainOnly(true)
                        ->keepAspectRatio(true)
                        ->keepTransparency(true)
                        ->keepFrame(false)
                        ->resize($width, $height)
                        ->getUrl();?>
     <?php if ($iterator++ != 1): ?></li><?php endif ?>
             <li class="product-item">
               <div class="product-item-info">
                            <div class="col-12">
                                <span class="product-image-container" style="width:200px;">
    <span class="product-image-wrapper" style="padding-bottom: 100%;">
<a href="<?= $this->escapeUrl($product->getProductUrl()) ?>" class="product-item-photo">
                               <img class="product-image-photo" width="" height="" src="       <?= $resizedImageUrl; ?>"/>

                            </a>
                        </span>
                    </span>
                            </div>
                            <div class="col-12 product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $this->escapeHtml($product->getName()) ?>"
                                       href="<?= $this->escapeUrl($product->getProductUrl()) ?>"
                                       class="product-item-link">
                                        <?= $this->escapeHtml($prod->getName()) ?>
                                    </a>
                                </strong>
                                <div class="product-item-description">
                                </div>
<span class="price" style="font-size:20px; font-weight:500;">
<?php
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
 if ($product->getTypeId() == 'grouped') {
    $usedProds = $product->getTypeInstance(true)->getAssociatedProducts($product);
        foreach ($usedProds as $child) {
            if ($child->getId() != $product->getId()) {
                $price[]= $child->getFinalPrice();
          }
      }
    $min_price = min($price);
    echo $priceHelper->currency($min_price, true, false);
    unset($min_price);
}
else {
        echo  $priceHelper->currency($product->getFinalprice(), true, false);
        }
?>
</span>



<div class="product-msrp-savings">
<div class="product-msrp">
  <span class="msrplabel">RRP <span class="msrpprice"><?php echo $priceHelper->currency($product->getData("msrp_nomap"), true, false);?></span></span>
</div>
<div class="product-savings">

  <span class="savingslabel">Save <span class="savingsprice"><?php echo $priceHelper->currency($product->getData("msrp_nomap") - $product->getFinalPrice(), true, false);?> </span></span>
</div>
</div>

<div class="product-item-actions">
                                            <!--<div class="actions-primary">
                                                <?php if ($product->isSaleable()): ?>
                                                    <?php if ($product->getTypeInstance()->hasRequiredOptions($product)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $this->escapeUrl($this->getAddToCartUrl($product)) ?>"}}' type="button" title="<?= $this->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $this->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($cartHelper->getAddUrl($product), ['product' => $product->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $this->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($product->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= $this->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= $this->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>-->
                                    </div>
                            </div>
                        </div>
                        </li>
                    <?php } ?>
                  <?php } ?>
                </ol>
            </div>
        </div>
    </div>
</div>

<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        jQuery(document).ready(function () {
            jQuery(".product-items").slick({
                dots: false,
                arrows: false,
                infinite: true,
                speed: 300,
                slidesToShow: 5,
                slidesToScroll: 5,
                responsive: [
                    {
                        breakpoint: 1280,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    }
                ]
            });
        });
    });
</script>
