<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /* @var \Magento\Framework\View\Element\Template $block */ ?>
<?php $_shipment = $block->getShipment() ?>
<?php
/* @var \Magento\Sales\Model\Order $_order */
$_order = $block->getOrder() ?>
<?php $_shipmentdata = $_order->getShippingAddress() ?>
<?php if ($_shipment && $_order) : ?>
    <?php $trackCollection = $_order->getTracksCollection($_shipment->getId()) ?>
    <?php if ($trackCollection) : ?>
        <br />
        <table class="shipment-track">
            <thead>
            <tr>
                <th><?= $block->escapeHtml(__('Shipped By')) ?></th>
                <th><?= $block->escapeHtml(__('Tracking Number')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($trackCollection as $_item) : 
			$title = $_item->getTitle();
			$trackingurl = $block->escapeUrl($block->getTrackingUrl()->getUrl($_item));
			$tracking = $_item->getNumber();
			if(strpos($_item->getDescription(), "Royal Mail") !== false){
				$title = "Royal Mail";
				$trackingurl = "http://www.royalmail.com/portal/rm/track?trackNumber=".$_item->getNumber();
			}
			elseif(strpos($_item->getNumber(), "NOTTRACKED") === 0){
				$title = $_item->getTitle();
				$tracking = ('NOT_TRACKED-'.$_item->getNumber());
			}			
			elseif(strpos($_item->getDescription(), "DHL") === 0){
				$title = "DHL";
				$trackingurl = "http://www.dhl.co.uk/en/express/tracking.html?AWB=".$_item->getNumber();
			} 
			elseif(strpos($_item->getTitle(), "DPD") !== false || strpos($_item->getDescription(), "DPD") === 0){
				$title = "DPD";
				$trackingurl = "http://www.dpd.co.uk/apps/tracking/?reference=".$_item->getNumber();
			} 
			elseif(strpos($_item->getDescription(), "HERM") !== false){
				$title = "Hermes";
				$trackingurl = "https://new.myhermes.co.uk/track.html#/parcel/".$_item->getNumber().'/details';
			} 
			elseif(strpos($_item->getDescription(), "TNT")!== false) {
				$title = "Royal Mail";
				$tracking = ('NOT_TRACKED-'.$_item->getNumber());
			}
			elseif(strpos($_item->getTitle(), "Yodel")!== false) {
				$title = "Royal Mail";
				$tracking = ('NOT_TRACKED-'.$_item->getNumber());
			}
			elseif(strpos($_item->getDescription(), "Whistl")!== false) {
				$title = "Royal Mail";
				$tracking = ('NOT_TRACKED-'.$_item->getNumber());
			}
			?>
                <tr>
                    <td><?= $block->escapeHtml($title ) ?>:</td>
                    <td>
					<?php if(strpos($tracking, 'NOT_TRACKED')!== false || strpos($tracking, '1TPNS') === 0 || strpos($tracking, 'UY') === 0){ ?>
                        
						No Tracking Available (Untracked Service)
					<?php }else{ ?>
						<a href="<?= $trackingurl ?>" target="_blank">
                            <?= $block->escapeHtml($_item->getNumber()) ?>
                        </a>
					<?php } ?> 
                    </td>
                </tr>
				<?php
				$tracking = explode('-',$this->escapeHtml($_item->getNumber()));
				 if("matrixrates_Express_Delivery" != $_order->getShippingMethod() && $tracking[0] != 'NOT_TRACKED' && ($_shipmentdata && $_shipmentdata->getData("country_id") == "US")){ ?>
				<tr>
					<td colspan="2" valign="top" style="padding:3px 9px; text-align:center;">
						You may track your shippment via the USPS website by following <a href="https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=<?php $this->escapeHtml($_item->getNumber()) ?>">this link.</a>
						<br />
						<br />
						<a href="https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=<?php $this->escapeHtml($_item->getNumber()) ?>">
						<img width="150" height="25" border="0" src="https://www.startfitness.co.uk/media/usps.png" />
						</a>
					</td>
				</tr>
				<?php }?>
            <?php endforeach ?>
            </tbody>
        </table>
    <?php endif; ?>
<?php endif; ?>
