<!--
/**
 * Cminds Orderhighlight.
 *
 * @category Cminds
 * @package  Cminds_Orderhighlight
 */
-->
<div class="admin__data-grid-wrap sale-orders-table" data-role="grid-wrapper">
    <table class="data-grid" data-role="grid">
        <thead>
        <tr each="data: getVisible(), as: '$col'" render="getHeader()"/>
        </thead>
        <tbody>
        <tr class="data-row"
            repeat="foreach: rows, item: '$row'"
            css="'_odd-row': $index % 2"
        >
            <td outerfasteach="data: getVisible(), as: '$col'"
                data-bind="style: { backgroundColor: $parent.getBackgroundColor($row()),
                                    color: $parent.getTextColor($row()) },
                            event: { mouseover: function (data, event) { $parent.triggerMouseOver($row(), data, event) },
                                     mouseout: function (data, event) { $parent.triggerMouseOut($row(), data, event) }}"
                css="getFieldClass($row())" click="getFieldHandler($row())" template="getBody()"
            ></td>
        </tr>
        <tr ifnot="hasData()" class="data-grid-tr-no-data">
            <td attr="colspan: countVisible()" translate="'We couldn\'t find any records.'"/>
        </tr>
        </tbody>
    </table>
</div>