<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Payment\Block\Adminhtml\Transparent\Form $block
 */
$code = $block->escapeHtml($block->getMethodCode());
$ccType = $block->getInfoData('cc_type');
$ccExpMonth = $block->getInfoData('cc_exp_month');
$ccExpYear = $block->getInfoData('cc_exp_year');
?>
<fieldset class="admin__fieldset payment-method" id="payment_form_<?= /* @noEscape */ $code ?>"
          style="display:none">
    
    <div class="field-number admin__field _required">
        <label class="admin__field-label" for="<?= /* @noEscape */ $code ?>redemption">
            <span><?= $block->escapeHtml(__('Redemption Code')) ?></span>
        </label>
        <div class="admin__field-control">
            <input type="text" id="<?= /* @noEscape */ $code ?>redemption" name="payment[redemption]"
                   title="<?= $block->escapeHtmlAttr(__('Redemption')) ?>" class="admin__control-text"
                   value=""/>
        </div>
    </div>
	<div class="field-number admin__field _required">
        <label class="admin__field-label" for="<?= /* @noEscape */ $code ?>certificate">
            <span><?= $block->escapeHtml(__('Certificate Code')) ?></span>
        </label>
        <div class="admin__field-control">
            <input type="text" id="<?= /* @noEscape */ $code ?>certificate" name="payment[certificate]"
                   title="<?= $block->escapeHtmlAttr(__('certificate')) ?>" class="admin__control-text"
                   value=""/>
        </div>
    </div>
    

    
</fieldset>
