<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$background = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('raw/ticker_tape_design/ticker_background_colour');
$text_colour = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('raw/ticker_tape_design/ticker_text_colour');
$text = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('raw/ticker_tape_one/display_text_one');

?>
<div id="ticker_tape"><p><?php echo $text; ?></p></div>
<style>

.cms-jan-sale .breadcrumbs {
    display: none;
}

.cms-jan-sale p {
    margin-bottom: 0px;
}

.cms-jan-sale main {
  padding-bottom: 20px;
}

.four_blocks_sale a {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.four_blocks_sale {
    width: 21%;
    float: left;
    text-align: center;
    color: white !important;
    background: #b31917;
    padding: 7px;
    margin: 1%;
}

.sale_title {
  width: 100%;
  clear: both;
  padding-bottom: 20px;
  padding-top: 20px;
}


.sale_div {
    width: 72%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.sale_div h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}



.level0.level-top.last>a>span {
    color: initial;
}

.level0.level-top.last {
    background-color: unset;
}

.nav-10>.level-top span {
    color: initial !important;
}

.reddd {
    background: red !important;
}

.reddd > a > span {
    color: white !important;
}

.reddd .menulistwrap span {
    color: #26304d !important;
}

.iziModal iframe {
    height: 526px !important;
    width: 99%!important;
}

body.cms-home.cms-index-index.page-layout-1column .message.success {
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

body.cms-home.cms-index-index.page-layout-1column .message.error {
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#ticker_tape {
	width:100%;
	background:#820009;
	height:32px;
	color:#fff;
	  display: block;
}
#ticker_tape p {
padding-top:6px;
font-size:15px;
text-align:center;
text-transform: uppercase;
}

.customer-account-index .ticker_tape {
display: none;
}
@media only screen and (max-width: 768px) {

  .sale_div {
    width: 100%;
  }

  .four_blocks_sale {
    width: 41%;
    float: left;
    text-align: center;
    color: white !important;
    background: #b31917;
    padding: 7px;
    margin: 2%;
}

.sale_div .four_block_container {
    padding-top: 0px;
}

.sale_div h3 {
    font-size: 31px;
    font-weight: bold;
    text-align: center;
}

	#additional-addresses-table tr {
    border-bottom: 1px solid #999;
    margin-top: 10px;
    margin-bottom: 10px !important;
    padding-bottom: 10px;
}

iframe {
    max-width: 100%;
}

	#ticker_tape {
height:44px;
}
#ticker_tape p {
	padding-top:5px;
    font-size: 12px;
    padding-bottom: px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
}
</style>
<?php if(isset($background)) { ?>
<style>
	#ticker_tape {
background:#<?php echo $background;?> !important;
	}
</style>
<?php } ?>
<?php if(isset($text_colour)) { ?>
<style>
	#ticker_tape p {
color:#<?php echo $text_colour;?> !important;
	}
</style>
<?php } ?>


<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
jQuery(document).ready(function($) {

$( ".Outlet" ).parent('.level0').addClass('reddd');

});
});

</script>
