<?php if (!empty($block->getBanner())): ?>

  <?php
  echo 'dfgdfg' . foreach($block->getBanner() as $banner) {
    $type = $banner->getBannerTitle(); echo $type;
  }
  ?>
    <div class="sparsh_banner_slider">
        <?php  foreach ($block->getBanner() as $banner):
           ?>
        <div>
            <?php if ($banner->getBannerType() == "Image"):?>
                <div class="image-thumb">
                    <img src="<?= $block->escapeHtml($block->getMediaPath().$banner->getBannerImage()) ?>" alt="<?= /* @noEscape */ ($banner->getBannerTitle()?$banner->getBannerTitle():"Sparsh Banner");?>">
                </div>
                <?php if ($banner->getBannerDescription() != "" || $banner->getBannerTitle() != ""):?>
                    <div class="caption">
                        <div class="title">
                            <div class="container">
                                <?php if ($banner->getBannerTitle() != ""):?>
                                <h2><?= $block->escapeHtml($banner->getBannerTitle()) ?></h2>
                                <?php endif; ?>
                                <?php if ($banner->getBannerDescription() != ""):?>
                                    <?= /* @noEscape */ $banner->getBannerDescription() ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php if ($banner->getLabelButtonText() != ""): ?>
                        <div class="container">
                            <a href="<?= $block->escapeHtml(($banner->getCallToAction()?$banner->getCallToAction():'#')) ?>" class="btn btn-md btn-banner">
                                <?= $block->escapeHtml($banner->getLabelButtonText()) ?>
                            </a>
                        </div>
                        <?php endif; ?>
                    </div>
                <?php endif;?>
            <?php endif;?>
        </div>
        <?php endforeach; ?>
    </div>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Sparsh_Banner/js/banner-slider": {
            "autoplay": "<?= /* @noEscape */ $block->getConfig('sparsh_banner/advance/auto_rotation'); ?>",
            "autoplay_speed": "<?= /* @noEscape */ $block->getConfig('sparsh_banner/advance/auto_rotation_speed'); ?>"
        }
    }
}
</script>
<?php endif; ?>
